{# templates/restaurant/browse.html.twig #}
   
{% extends 'base.html.twig' %}

{% block title %}
    Search Restaurants
{% endblock %}

{% block body %}
    <h1>Search Restaurants</h1>
        {% for restaurant in restaurants %}
            <p>
                <span style="color:deeppink;"><b>Name: </b>{{ restaurant.name }}</span><br>
                <b>Borough:</b> {{ restaurant.borough }}<br>
                <b>Cuisine:</b> {{ restaurant.cuisine }}<br>
            </p>
        {% endfor %}
{% endblock %}