body {
  --font-color-primary: var(--black);
  --font-color-light: var(--gray-base);
  --heading-color-primary: var(--green-dark2);
  --opposite-color: var(--black);
  --font-color-active: var(--green-dark2);

  --link-color-primary: var(--blue-base);
  --link-font-weight: 500;

  --background-color-primary: var(--white);
  --background-color-secondary: var(--gray-light3);

  --sidenav-bg-color: var(--gray-light3);
  --sidenav-border-bottom-color: var(--gray-light2);

  --sidenav-toggle-color: var(--green-dark2);
  --sidenav-toggle-border-color: var(--gray-light2);

  --sidenav-item-title: var(--gray-dark3);
  --sidenav-item-color: var(--black);
  --sidenav-hover-bg-color: var(--gray-light2);
  --sidenav-active-bg-color: var(--green-light3);
  --sidenav-active-color: var(--green-dark2);
  --sidenav-active-before-color: var(--green-dark1);

  --select-button-bg-color: var(--white);
  --select-button-color: var(--black);
  --select-button-carot: var(--gray-dark2);

  /* --tab-color-primary also accounts for the Docs Home button */
  --tab-color-primary: var(--gray-dark1);
  --tab-color-secondary: var(--green-dark2);

  --wayfinding-bg-color: var(--gray-light3);
  --wayfinding-border-color: var(--gray-light2);
}

.dark-theme body {
  --font-color-primary: var(--gray-light2);
  --font-color-light: var(--gray-light2);
  --heading-color-primary: var(--gray-light2);
  --opposite-color: var(--white);
  --font-color-active: var(--green-light1);

  --link-color-primary: var(--blue-light1);
  --link-font-weight: 700;

  --background-color-primary: var(--black);
  --background-color-secondary: transparent;

  --sidenav-bg-color: var(--gray-dark4);
  --sidenav-border-bottom-color: var(--gray-dark2);

  --sidenav-toggle-color: var(--gray-light1);
  --sidenav-toggle-border-color: var(--gray-dark2);

  --sidenav-item-title: var(--gray-light2);
  --sidenav-item-color: var(--gray-light2);
  --sidenav-hover-bg-color: var(--gray-dark3);
  --sidenav-active-bg-color: var(--green-dark3);
  --sidenav-active-color: var(--white);
  --sidenav-active-before-color: var(--green-base);

  --select-button-bg-color: var(--gray-dark4);
  --select-button-color: var(--gray-light3);
  --select-button-carot: var(--gray-light1);

  --tab-color-primary: var(--gray-light1);
  --tab-color-secondary: var(--gray-light2);

  --wayfinding-bg-color: var(--gray-dark3);
  --wayfinding-border-color: var(--gray-dark2);

  /* Style the scrollbar background */
  ::-webkit-scrollbar {
    background: var(--gray-dark3);
  }

  /* Style the scrollbar handle */
  ::-webkit-scrollbar-thumb {
    background: var(--gray-dark2);
    border: 3px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
  }
}

body {
  background-color: var(--background-color-primary);
  color: var(--font-color-primary);
}

.nav-dark {
  display: none;
}

.nav-light {
  display: initial;
}

.dark-theme .nav-dark {
  display: initial;
}

.dark-theme .nav-light {
  display: none;
}
