==============================================
On Prem MMS Hardware and Software Requirements
==============================================

.. default-domain:: mongodb

For an overview of the components of an On Prem MMS deployment, see
:doc:`/core/system-overview` and :doc:`/core/deployments`. For a
higher level view of MMS itself see :doc:`/application`.

Hardware Requirements
---------------------

To install MMS you will need a server for the MMS application,
which includes Monitoring, and a MongoDB instance (i.e. replica
set). Backup is an optional component of MMS, and if you want support
for Backup, you must deploy additional servers for the Backup Daemon
and for blockstore storage.

MMS Application Server
~~~~~~~~~~~~~~~~~~~~~~

Deploy the MMS Application Package on the MMS Application Server with
requirements according to the following table.

.. list-table::
   :header-rows: 1

   * - **Number of Monitored Hosts**
     - **CPU Cores**
     - **RAM**
   * - Up to 400 monitored hosts
     - 4+
     - 15 GB
   * - Up to 2000 monitored hosts
     - 8+
     - 15 GB
   * - More than 2000 hosts
     - Contact MongoDB Account manager
     - Contact MongoDB Account manager

These requirements support only the software components in the MMS
Application Package.  If you wish to install the MMS Application
Database on the same physical server, you will additionally need to
satisfy the storage requirements for the :ref:`MMS Application
Database <requirements-database>`.

.. _requirements-database:

MMS Application Database Servers
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Please see :doc:`/tutorial/prepare-backing-mongodb-instances`
for requirements for the MMS Application Database Servers.

.. _backup-hardware-requirements:

Optional: MMS Backup Daemon
~~~~~~~~~~~~~~~~~~~~~~~~~~~

This server is required only if you are installing and running MMS Backup.

.. list-table::
   :header-rows: 1
   :widths: 20, 12, 8, 15, 15

   * - **Number of Hosts**
     - **CPU Cores**
     - **RAM**
     - **Storage Capacity**
     - **Storage IOPS/s**
   * - Up to 200 hosts
     - 4+ 2Ghz+
     - 15 GB
     - Contact MongoDB Account manager
     - Contact MongoDB Account manager

A server running the Backup Daemon Package will act as a hidden secondary for every
replica set assigned to it. Therefore this system must have the disk
space and write capacity to maintain for all replica sets. To support
point in time restore the disk must have capacity to store an
additional copy of the data. Typically daemons must be able to store 2
to 2.5 times the data size.

Before installing MMS Backup we recommend contacting your MongoDB Account
Manager for assistance in estimating the storage requirements for your Backup
Daemon server.

Optional: MMS Backup Blockstore Database Servers
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Blockstore servers store snapshots of MongoDB instances. Only
provision Blockstore servers if you are deploying MMS Backup.

Blockstores must have the capacity to store 2 to 3 times the total
backed up data size. Please contact your MongoDB Account
Manager for assistance in estimating the storage requirements for your
blockstore server.

Medium grade HDDs will have enough I/O throughput to handle the load
of the Blockstore. Each replica set member should have 4 x 2ghz+ CPU
cores. We recommend 8 GB of RAM for every 1 TB disk of Blockstore to
provide good snapshot and restore speed. MMS defines 1 TB of Blockstore
as 1024\ :sup:`4` bytes.

Software Requirements
---------------------

Operating System
~~~~~~~~~~~~~~~~

MMS supports the following 64-bit Linux distributions:

- CentOS 5 or later,

- Red Hat Enterprise Linux 5, or later,

- SUSE 11 or Later,

- Amazon Linux AMI (latest version only,)

- Ubuntu 12.04 or later.

Ulimits
~~~~~~~

The MMS packages automatically raise the open file, max user processes, and
virtual memory ulimits. On Red Hat, be sure to check for a
``/etc/security/limits.d/90-nproc.conf`` file that may override the
max user processes limit. If the
``/etc/security/limits.d/90-nproc.conf`` file exists, remove it before
continuing.

.. _authentication-requirements:

Authentication
~~~~~~~~~~~~~~

If you will use LDAP for authentication, you must enable LDAP **before
performing any setup of the MMS service**, beyond starting the service.
You **cannot** enable LDAP once you have opened the interface and signed
up a user. You can enable LDAP **only** on a completely blank, no-hosts,
no-users installation.

MongoDB
~~~~~~~

The MongoDB databases backing MMS must be MongoDB 2.4.9 or later.
To back up a Replica set with MMS, all members of the set must run at
least MongoDB 2.2 or later. To back up a sharded cluster, all
components of the sharded cluster must be MongoDB 2.4.3 or later.

Web Browsers
~~~~~~~~~~~~

|mms| supports clients using the following browsers:

- Chrome 8 and greater.

- Firefox 12 and greater.

- IE 9 and greater.

- Safari 6 and greater.

The MMS application will display a warning on non-supported browsers.

SMTP
~~~~

MMS requires email for fundamental server functionality such as
password reset and alerts.

Many Linux server-oriented distributions include a local SMTP server by
default, for example, Postfix, Exim, or Sendmail. You also may configure
MMS to send mail via third party providers, including Gmail and Sendgrid.

SNMP
~~~~

If your environment includes SNMP, you can configure an SMNP trap receiver
with periodic heartbeat traps to monitor the internal health of MMS.

For more details, see :ref:`Configure SNMP Heartbeat Support
<snmp-heartbeat-configure>`.
