============================
|onprem| System Requirements
============================

.. default-domain:: mongodb

.. contents:: On this page
   :local:
   :backlinks: none
   :depth: 1
   :class: singlecol

This guide describes the hardware, software, and networking
requirements for the hosts that run the
:doc:`Ops Manager components </core/system-overview>`.

.. important::
   Before deploying hosts, use the :doc:`/core/installation-checklist`
   to plan your configuration.

For requirements for the MongoDB instances running as the |onprem|
Application Database and the Backup Database, see
:doc:`/tutorial/prepare-backing-mongodb-instances`.

.. _hardware-requirements:

Hardware Requirements
---------------------

.. note::

   When using the term *hardware* on this page, it should be
   understood as the specifications per host using one of the
   following architectures:

   - physical hardware,
   - hardware components allocated to a virtual host, or
   - hardware components allocated to a virtual container

Each host must meet the total *RAM* and *disk capacity*
requirements for all |onprem| components that it serves:

- |onprem| application
- |onprem| application databases
- Head databases for active Backup Daemon
- Backup Blockstore databases

.. example::

   You want to serve both the |onprem| application and a
   :term:`Backup Daemon` on one host. This |onprem| configuration will
   manage and monitor 300 MongoDB hosts and back up 200 hosts. The
   total disk capacity of all databases being backed up is 4 TB. The
   total requirements would be:

   - |onprem| application needs 15 GB of RAM.
   - The Backup Daemon also needs:

     - 15 GB of RAM and
     - 2.5 times the 4 TB of backed up databases in disk capacity.

   This example host would require a minimum of 30 GB of RAM and 10 TB
   of disk capacity.

.. warning::

   Each host that serves a MongoDB instance **must** comply with the
   :manual:`Production Notes </administration/production-notes>` in
   the MongoDB manual. MongoDB instances in |onprem| include:

   - The |onprem| Application Database,
   - Each |onprem| Backup Daemon :term:`head database`, and
   - Each blockstore.

   Failure to configure hosts according to the production notes can
   lead to production failure.

.. _application-hardware-requirements:

|onprem| Hardware Requirements
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Every host that serves the |onprem| application must meet the
following hardware requirements:

.. list-table::
   :header-rows: 1

   * - Number of Monitored Hosts
     - CPU Cores
     - RAM

   * - Up to 400 monitored hosts
     - 4+
     - 15 GB

   * - Up to 2,000 monitored hosts
     - 8+
     - 15 GB

   * - More than 2,000 hosts
     - Contact MongoDB Account Manager
     - Contact MongoDB Account Manager

.. _mms-application-database-specifications:

|onprem| Application Database Hardware Requirements
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

The :ref:`Ops Manager Application Database <mms-application-database>`
runs as a three-member :term:`replica set` that runs on dedicated
hosts.

Every host that serves the |onprem| Application Database must meet the
following hardware (physical or virtual) requirements:

.. list-table::
   :widths: 20 30 50
   :header-rows: 1

   * - Number of
       Monitored Hosts
     - RAM
     - Disk Capacity

   * - Up to 400
     - 8 GB RAM plus the RAM required for |onprem| application
     - 200 GB

   * - Up to 2,000
     - 15 GB RAM plus the RAM required for |onprem| application
     - 500 GB

   * - More than 2,000
     - Contact your MongoDB Account Manager
     - Contact your MongoDB Account Manager

For the best performance, use SSDs to store your |onprem|
:doc:`Application Databases </tutorial/prepare-backing-mongodb-instances>`.

For the differences between WiredTiger and MMAPv1 storage engines, see
:manual:`the types of storage engines </core/storage-engines/>` in the
MongoDB manual.

Disk capacity estimates are *approximate*. The needed disk capacity can
increase *or* decrease due to the number of databases being monitored.

.. _backup-hardware-requirements:

Backup Daemon Hardware Requirements
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.. important::

   Before getting started with Backup, *contact your MongoDB Account
   Manager* to help estimate the storage requirements for your Backup
   Daemon host.

Each host on which you activate the :term:`Backup Daemon` must meet
the following requirements plus
:ref:`those for Ops Manager <application-hardware-requirements>`.

The Backup Daemon creates :term:`head databases <head database>` that
replicate data for each replica set assigned to the Daemon. Typically,
each host on which you activate the Backup Daemon needs to store 2.0
to 2.5 times the sum of the size on disk of all the backed-up replica
sets.

Specifically, each host must have:

- The disk capacity and write capacity to maintain each head database,
  **plus**

- The disk capacity to store an additional copy of the data for each
  head database to support
  :term:`point-in-time restores <point-in-time restore>`.

Each host that serves an active Backup Daemon has the following
hardware requirements:

.. list-table::
   :header-rows: 1
   :widths: 20, 40, 40

   * - Number of hosts
     - CPU Cores
     - RAM

   * - Up to 200
     - 4+ × 2 GHz+
     - 15 GB additional RAM

Contact your MongoDB Account Manager to determine disk capacity and
throughput requirements.

.. _backup-database-specifications:

Backup Database Hardware Requirements
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

If you use |onprem| Backup, you must provision hosts for the Backup
Database.

Host requirements for the Backup Database vary, depending on
whether you use a Blockstore database or file system storage to store
your :term:`snapshots <snapshot>`. The Backup
Database always holds :term:`oplog` data.

If you store snapshots in the Backup Database, its hosts typically
must have enough capacity to store 2 to 3 times the total backed-up
production data size. Snapshots are compressed and de-duplicated at
the block level in the :term:`Blockstore <Backup Blockstore Database>`.

Your specific requirements depend on your data compressibility and
change rate. *Contact your MongoDB Account Manager* to help estimate
the use case and workload-dependent storage requirements for your
Backup Database hosts.

If you store snapshots in the Backup Database, each data-bearing member
must meet the following requirements:

.. list-table::
   :widths: 20 80
   :header-rows: 1

   * - CPU Cores
     - RAM

   * - 4 × 2 GHz+
     - 8 GB of RAM per TB of Blockstore disk to provide
       good snapshot and restore speed. |onprem| defines 1 TB of
       Blockstore as 1024\ :sup:`4` bytes.

Contact your MongoDB Account Manager to determine disk capacity and
throughput requirements.

If you will *not* store snapshots in the Backup Database, each
data-bearing member must meet the following requirements:

.. list-table::
   :widths: 20 80
   :header-rows: 1

   * - CPU Cores
     - Disk Capacity

   * - 4 × 2 GHz+
     - The size of your oplogs compressed for the
       :ref:`configured point in time window <edit-snapshot-schedule>`.
       The default is 24 hours.

.. _network-requirements:

Network Requirements
--------------------

Internet Site Access
~~~~~~~~~~~~~~~~~~~~

If |onprem| is not configured for
:doc:`Local Mode </tutorial/configure-local-mode>`,
it requires access to the following Internet sites over
:abbr:`HTTPS (Secure HyperText Transfer Protocol)`:

.. include:: /includes/list-table-needed-mongodb-sites-over-internet.rst

Latency between |onprem| and Backing Database Hosts
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Connections between the |onprem| Application Server and its Application
Database, Oplog, and Blockstore replica sets must have the lowest
possible network latency. With deployments exceeding 200 MongoDB hosts,
latency between your |application| components should be under 1 ms.
Please `contact MongoDB Support <https://www.mongodb.com/contact>`__
if you anticipate that your network environment cannot meet this
requirement.

MongoDB and |onprem| Agent Host Access
--------------------------------------

Each MongoDB and |onprem| agent host should self-identify as its |fqdn|
to ensure reliable connectivity.

.. include:: /includes/fact-find-fqdn.rst

Accessible Ports
~~~~~~~~~~~~~~~~

The |mms| application must be able to connect to users and |mms|
agents over |http| or |https|. |mms| agents must be able to
connect to MongoDB client MongoDB databases.

Though |mms| only requires open |http| (or |https|) and MongoDB
network ports to connect with users and to databases, what ports are
opened on a firewall depend upon what capabilities are enabled:
encryption, authentication and monitoring.

This page defines which systems need to connect to which ports on
other systems.

.. include:: /includes/extracts/firewall-configuration.rst

.. include:: /includes/requirements-hostnames.rst

.. _software-requirements:

Software Requirements
---------------------

Hosts that run |onprem| components must meet the following software
requirements:

.. _ops-manager-operating-system:
.. _ops-manager-os-compatibility:

Hardware Compatibility Matrix for |onprem| Hosts
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Hosts that run |onprem| must run on a 64-bit version of one of the
following operating systems on the provided hardware platforms:

.. list-table::
   :widths: 40 30 30
   :header-rows: 1

   * - Operating System
     - Versions Supported on x86_64
     - Versions Supported on ppc64le

   * - Red Hat Enterprise Linux / CentOS
     - 6.x, 7.x
     - 7.x

   * - SUSE Linux Enterprise Server
     - 12
     -

   * - Debian
     - 8, 9
     -

   * - Amazon Linux
     - 1, 2
     -

   * - Ubuntu
     - 14.04, 16.04, 18.04
     - 16.04

   * - Microsoft Server
     - 2008R2, 2012, 2012R2, and 2016
     -

In a future release, MongoDB will end support for Microsoft Windows
Server 2008R2.

.. note::

   Though the |onprem| agents can be installed on ``s390x``
   architectures, the |application| *cannot* be installed on that
   platform. You must install the |application| on one of the platforms
   listed in the previous table.

.. _onprem-config-ulimits:

.. topic:: Ulimits Requirements for |application|

   The |onprem| package automatically raises the following ``ulimits``:

   - Open files

   - Maximum user processes

   - Virtual memory

   .. include:: /includes/rhel-ulimit-conf-file.rst

.. _ops-manager-backing-databases:

MongoDB Version for |onprem| Application Database and Backup Database
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.. include:: /includes/fact-compatible-mongodb-versions.rst

.. topic:: Ulimits Requirements for Backup Daemon and Backing Databases

   Refer to the following pages in the MongoDB manual for ``ulimit``
   requirements for the hosts that run MongoDB (Backup Daemon and
   |onprem| Backing Databases hosts):

   - :manual:`MongoDB Production Notes </administration/production-notes>`

   - :manual:`MongoDB Ulimit Settings </reference/ulimit>`

.. _ops-manager-agent-os-compatibility:

Compatibility Matrix for |onprem| Agent Hosts
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Hosts that run |onprem| Agents must run on a 64-bit version of one of
the following operating systems on the provided hardware platforms:

.. list-table::
   :widths: 40 20 20 20
   :header-rows: 1

   * - Operating System
     - Versions Supported on x86_64
     - Versions Supported on ppc64le
     - Versions Supported on s390x

   * - Amazon Linux
     - 1, 2
     -
     -

   * - CentOS
     - 6.x, 7.x
     - 7.x
     -

   * - Debian
     - 8, 9
     -
     -

   * - Red Hat Enterprise Linux
     - 6.x, 7.x
     - 7.x
     - 6.x

   * - SUSE Linux Enterprise Server
     - 12
     -
     -

   * - Ubuntu
     - 14.x, 16.x, 18.x
     - 16.x
     -

   * - Windows
     - 2008R2, 2012, 2012R2, and 2016
     -
     -

.. _smtp-software-requirements:

|smtp|
~~~~~~

|onprem| requires email for fundamental host functionality such as
password reset and alerts. Many Linux host-oriented distributions
include a local |smtp| server by default. These include, but are not
limited to:

- `Postfix <http://www.postfix.org>`__
- `Exim <https://www.exim.org>`__
- `Sendmail <https://www.proofpoint.com/us/open-source-email-solution>`__

Windows Server includes an |smtp| relay with Internet Information
Server.

You also may configure |onprem| to send mail via third party
providers. These include, but are not limited to:

- `Gmail <https://www.google.com/gmail/>`__
- `Sendgrid <https://sendgrid.com>`__

.. _snmp-software-requirements:

|snmp|
~~~~~~

If your environment includes |snmp|, you can configure an |snmp| trap
receiver with periodic heartbeat traps to monitor the internal health
of |onprem|. |onprem| uses |snmp| v2c. To learn more, see
:ref:`Configure SNMP Heartbeat Support <snmp-heartbeat-configure>`.

.. _client-web-browsers:

Client Web Browsers
~~~~~~~~~~~~~~~~~~~

.. IMPORTANT:
.. The https://www.mongodb.com/subscription/downloads/ops-manager page
.. links to this section.

To use |mms|, you must use one of the following supported browsers with
Javascript enabled:

.. include:: /includes/list-supported-browsers.rst

