===========================================
|onprem| Hardware and Software Requirements
===========================================

.. default-domain:: mongodb

.. contents:: On this page
   :local:
   :backlinks: none
   :depth: 1
   :class: singlecol

This page describes the hardware and software requirements for the servers
that run the :doc:`Ops Manager components </core/system-overview>`. Please
plan your configuration using the :doc:`/core/installation-checklist`
before deploying servers.

This page describes the following:

- Hardware requirements:

  - :ref:`application-hardware-requirements`

  - :ref:`mms-application-database-specifications`

  - :ref:`backup-hardware-requirements`

  - :ref:`backup-database-specifications`

- Software requirements:

  - :ref:`ops-manager-operating-system`

  - :ref:`onprem-config-ulimits`

  - :ref:`smtp-software-requirements`

  - :ref:`snmp-software-requirements`

  - :ref:`client-web-browsers`

For requirements for MongoDB running on the |onprem| Application Database
and Backup Database, see :doc:`/tutorial/prepare-backing-mongodb-instances`.

.. _hardware-requirements:

Hardware Requirements
---------------------

Each server must meet the sum of **RAM** and **disk space**
requirements for all its components. For example, a server that runs
|onprem| and hosts the |onprem| Application Database must meet the RAM and
disk space required for |onprem| and then have the additional RAM and disk
space required for the Application Database.

The servers also must meet the MongoDB ports requirements described in
:doc:`/reference/firewall-configuration`. Each server's firewall rules
must allow access to the required ports.

If you install on AWS servers, see also :ref:`network-requirements` section
on this page.

.. _application-hardware-requirements:

|onprem| Hardware Requirements
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Every server that runs |onprem| must meet the following hardware
requirements:

.. list-table::
   :header-rows: 1

   * - **Number of Monitored Hosts**
     - **CPU Cores**
     - **RAM**
   * - Up to 400 monitored hosts
     - 4+
     - 15 GB
   * - Up to 2000 monitored hosts
     - 8+
     - 15 GB
   * - More than 2000 hosts
     - Contact MongoDB Account Manager
     - Contact MongoDB Account Manager

.. _mms-application-database-specifications:

|onprem| Application Database Hardware Requirements
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

The :ref:`Ops Manager Application Database <mms-application-database>`
runs as a three-member :term:`replica set` that runs on dedicated servers.
Each server that hosts a MongoDB process for the Application Database
**must** comply with the :manual:`Production Notes </administration/production-notes>`
in the MongoDB manual, which include information on NUMA, ulimits, and
other configuration options.

.. warning::

   Failure to configure servers according to the :manual:`MongoDB
   Production Notes </administration/production-notes>` can lead to
   production failure.

Every server that hosts the |onprem| Application Database must meet the
following hardware requirements. For the best results use SSD-backed
storage.

.. list-table::
   :header-rows: 1

   * - **Number of Monitored Hosts**
     - **RAM**
     - **Disk Space**
   * - Up to 400 monitored hosts
     - 8 GB additional RAM beyond the RAM required for Ops Manager
     - 200 GB of storage space
   * - Up to 2000 monitored hosts
     - 15 GB additional RAM beyond the RAM required for Ops Manager
     - 500 GB of storage space
   * - More than 2000 hosts
     - Contact MongoDB account manager
     - Contact MongoDB account manager

.. _backup-hardware-requirements:

Backup Daemon Hardware Requirements
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Each server on which you activate the Backup Daemon must meet the
requirements here **in addition to** the :ref:`requirements for Ops
Manager <application-hardware-requirements>`. Each server also must meet
the configuration requirements in the :manual:`MongoDB Production Notes
</administration/production-notes>`.

.. warning::

   Failure to configure servers according to the :manual:`MongoDB
   Production Notes </administration/production-notes>` can lead to
   production failure.

Before getting started with Backup, **contact your MongoDB Account
Manager** for assistance in estimating the storage requirements for your
Backup Daemon server.

The Backup Daemon creates :term:`head databases <head database>` that
replicate data for each replica set assigned to the Daemon. Typically,
each server on which you activate the Backup Daemon must be able to store
2 to 2.5 times the sum of the size on disk of all the backed-up replica
sets. Specifically each server must have:

- the disk space and write capacity to maintain each head database,
  **plus**

- the disk space to store an additional copy of the data for each head
  database, in order to support point-in-time restore, **plus**

- additional space to build :term:`point-in-time restores <point-in-time
  restore>`.

Each server that hosts an active Backup Daemon has the following hardware
requirements.

.. list-table::
   :header-rows: 1
   :widths: 20, 12, 8, 15, 15

   * - **Number of Hosts**
     - **CPU Cores**
     - **RAM**
     - **Disk Space**
     - **Storage IOPS/s**
   * - Up to 200 hosts
     - 4+ 2Ghz+
     - 15 GB additional RAM
     - Contact MongoDB Account Manager
     - Contact MongoDB Account Manager

.. _backup-database-specifications:

Backup Database Hardware Requirements
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

If you use |onprem| Backup, you must provision servers for the Backup
Database. Server requirements for the Backup Database vary, depending on
whether you will store your snapshots there. The Backup Database always
holds oplog data and temporary sync data.

If you store snapshots in the Backup Database, its servers typically must
have enough capacity to store 2 to 3 times the total backed-up production
data size. Snapshots are compressed and de-duplicated at the block level
in the :term:`Backup Blockstore Database`. Your specific requirements
depend on your data compressibility and change rate. **Contact your
MongoDB Account Manager** for assistance in estimating the use-case and
workload-dependent storage requirements for your Backup Database servers.

Each server for the Backup Database **must** comply with the
:manual:`Production Notes </administration/production-notes>` in the
MongoDB manual, which include information on NUMA, ulimits, and other
configuration options.

.. warning::

   Failure to configure servers according to the :manual:`MongoDB
   Production Notes </administration/production-notes>` can lead to
   production failure.

If you store snapshots in the Backup Database, each data-bearing member
meet the following requirements:

.. list-table::
   :header-rows: 1

   * - **CPU Cores**
     - **RAM**
     - **Disk Space**
     - **Storage IOPS**
   * - 4 x 2ghz+ 
     - 8 GB of RAM for every 1 TB disk of Blockstore to provide good
       snapshot and restore speed. |onprem| defines 1 TB of Blockstore as
       1024\ :sup:`4` bytes.
     - Contact your MongoDB Account Manager.
     - Medium grade HDDs should have enough I/O throughput to handle the
       load of the Blockstore.

If you will **not** store snapshots in the Backup Database, each data-bearing
member meet the following requirements:

.. list-table::
   :header-rows: 1

   * - **CPU Cores**
     - **Disk Space**
   * - 4 x 2ghz+
     - The size of your oplogs compressed for the :ref:`configured
       retention period <snapshot-frequency-and-retention>`. The default
       is 24 hours.

.. _network-requirements:

Network Requirements
--------------------

.. include:: /includes/requirements-network-ports.rst

.. _software-requirements:

Software Requirements
---------------------

Servers that run |onprem| components must meet the software requirements
described here.

.. _ops-manager-operating-system:

|onprem| Operating System
~~~~~~~~~~~~~~~~~~~~~~~~~

Servers that run |onprem| must run on a 64-bit version of one of the
following operating systems:

- CentOS 5 or later

- Red Hat Enterprise Linux 5 or later

- SUSE 11 or Later

- Amazon Linux AMI (latest version only)

- Ubuntu 12.04 or later

- Windows Server 2008 R2 or later

MongoDB Version for |onprem| Application Database and Backup Database
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

The |onprem| Application Database and the Backup Database must run at
least MongoDB 2.6 with the following specific requirements:

- If running MongoDB 2.6 version, must run MongoDB version 2.6.6 or
  later 2.6 versions.

- If running MongoDB 3.0 version, must run MongoDB version 3.0.6, or
  later.

- If running MongoDB 3.2 or later, can run any MongoDB version 3.2 or
  later.

.. important::

   This requirement is for the MongoDB instances that serve as the
   |onprem| Application Database and the Backup Database. The
   requirement is **not** for the MongoDB deployments that can be
   managed by |onprem|. For the minimum MongoDB versions required for
   MongoDB deployments for management, see
   :doc:`/reference/mongodb-compatibility/`.

.. _onprem-config-ulimits:

Ulimits Requirements
~~~~~~~~~~~~~~~~~~~~

For ulimit requirements for the servers that run MongoDB (i.e., the Backup
Daemon servers and the servers that host the |onprem| Application Database
or the Backup Database), see all of the following:

- :manual:`MongoDB Production Notes </administration/production-notes>`

- :manual:`MongoDB Ulimit Settings </reference/ulimit>` in the MongoDB manual

For any RHEL server that runs any of the :doc:`Ops Manager components
</core/system-overview>`, check the ``/etc/security/limits.d/`` directory
for the ``90-nproc.conf`` file, which may override the ``max user
processes`` ulimit. If the ``90-nproc.conf`` file exists, remove it.

The |onprem| package automatically raises the following ulimits:

- open files

- max user processes

- virtual memory

.. _smtp-software-requirements:

SMTP
~~~~

|onprem| requires email for fundamental server functionality such as
password reset and alerts. Many Linux server-oriented distributions
include a local SMTP server by default, for example, Postfix, Exim, or
Sendmail. You also may configure |onprem| to send mail via third party
providers, including Gmail and Sendgrid.

.. _snmp-software-requirements:

SNMP
~~~~

If your environment includes SNMP, you can configure an SMNP trap receiver
with periodic heartbeat traps to monitor the internal health of |onprem|.
|onprem| uses SNMP v2c. For more information, see :ref:`Configure SNMP
Heartbeat Support <snmp-heartbeat-configure>`.

.. _client-web-browsers:

Client Web Browsers
~~~~~~~~~~~~~~~~~~~

.. IMPORTANT: The https://www.mongodb.com/subscription/downloads/ops-manager page
   links to this section.

|onprem| supports clients using the following browsers. |onprem| will
display a warning on non-supported browsers. The following are supported:

.. include:: /includes/list-supported-browsers.rst
