=============================
Sharded Clusters Requirements
=============================

.. default-domain:: mongodb

.. _sharding-requirements-data:

Data Quantity Requirements for Sharded Clusters
-----------------------------------------------

Your cluster must manage a significant quantity of data for sharding
to have an effect on your collection. The default :term:`chunk` size
is 64 megabytes, and the :ref:`balancer
<sharding-balancing>` will not begin moving data until the imbalance
of chunks in the cluster exceeds the :ref:`migration threshold
<sharding-migration-thresholds>`.

Practically, this means that unless your cluster has many hundreds of
megabytes of data, chunks will remain on a single shard.

While there are some exceptional situations where you may need to
shard a small collection of data, most of the time the additional
complexity added by sharding the small collection is not worth the
additional complexity and overhead unless you need additional
concurrency or capacity for some reason. If you have a small data set,
usually a properly configured single MongoDB instance or replica set
will be more than sufficient for your persistence layer needs.

:term:`Chunk <chunk>` size is :option:`user configurable <mongos --chunkSize>`.
However, the default value is of 64 megabytes is ideal
for most deployments. See :ref:`sharding-chunk-size` for more information.

.. index:: sharding; localhost
.. _sharding-localhost:

Restriction on the Use of the ``localhost`` Interface
------------------------------------------------------

Because all components of a :term:`sharded cluster` must communicate
with each other over the network, there are special restrictions
regarding the use of localhost addresses:

If you use either "localhost" or "``127.0.0.1``" as the host
identifier, then you must use "localhost" or "``127.0.0.1``" for *all*
host settings for any MongoDB instances in the cluster.  This applies
to both the ``host`` argument to :dbcommand:`addShard` and the value
to the :option:`mongos --configdb` run time option. If you mix
localhost addresses with remote host address, MongoDB will produce
errors.
