<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Success!</title>
  </head>
  <body>
    <h1>Sucess!</h1>
    <p>
      You've successfully logged into your Realm app using Google OAuth 2.0!
    </p>
    <p>Realm user ID: <b><%= id %></b></p>
    <form action="/logout" method="POST">
      <button type="submit">Logout</button>
    </form>
  </body>
</html>
