build/*
*.swp
.#*
\#*#
*__pycache__*
*.pyc
*.pyo
*.bak
.DS_Store
source/includes/hash.rst
source/includes/install-curl-release*.rst
source/includes/table-*.rst
source/includes/manpage-options-auth-mongo.rst
source/includes/manpage-options-ssl-settings.rst
TAGS
mongodb-domain.yaml
composite-pages.yaml
!bin/*/mongodb-domain.yaml
meta.yaml
build
source/includes/toc-*.rst
source/reference/*.rst
source/reference/*/*.rst
source/images/*.png
source/images/*rst
source/includes/dfn-list-*.rst
source/images/*.rst
pdfs.yaml
intersphinx.yaml
!bin/*/pdfs.yaml
source/includes/hash.rst
docs_meta.yaml
!bin/docs_meta.yaml
fabfile
*~
source/includes/table/
source/includes/toc/
source/includes/install-copy-release-*
source/includes/install-untar-release-*
source/includes/steps/
source/includes/manpage-options-audit-settings.rst
source/includes/generated/includes-overview.rst
source/includes/generated/
primer
source/images
source/images/compass/
source/includes/option/
primer/config/sphinx.yaml
primer/conf.py
primer/source/includes/toc/
primer/source/includes/table/
primer/source/includes/steps/
primer/source/includes/generated/includes-overview.rst
primer/source/includes/generated/
primer/source/includes/option/
primer/source/includes/hash.rst
primer/source/.static
primer/source/*.rst
primer/source/includes/*.rst
primer/source/tutorial/*.rst
primer/source/includes/toc-*yaml
primer/source/includes/steps-*yaml
!primer/source/includes/toc-primer-*yaml
!primer/source/includes/steps-primer*yaml
primer/source/images/
*.mo
source/reference/operator/query/text-fields.rst
giza.log
source/driver-examples

