@import 'colors';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

h1 {
  color: $black-primary;
  font-family: Akzidenz;
  font-size: 40px;
  font-weight: normal;
}

h2 {
  color: $black-primary;
  font-family: Akzidenz;
  font-size: 30px;
  font-weight: normal;
}

h3 {
  color: $black-primary;
  font-family: Akzidenz;
  font-size: 20px;
  font-weight: bold;
}

h4 {
  color: $black-primary;
  font-family: Akzidenz;
  font-size: 20px;
  font-weight: normal;
}

// Label
h5 {
  color: $black-primary;
  font-family: Akzidenz;
  font-size: 12px;
  font-weight: bold;
}

p {
  color: $black-primary;
  font-family: Akzidenz;
  font-size: 16px;
  font-weight: normal;
}

hr {
  border: 0;
  border-top: 1px solid $light-grey-primary;
  display: block;
  height: 1px;
  margin: 30px 0;
  padding: 0;
}

.title {
  border-bottom: 1px solid $light-grey-primary;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.heading {
  margin-bottom: 10px;
}

// stolen from the 'dom-slider' npm module, so it doesn't flash open
.DOM-slider-hidden {
  border-bottom-width: 0 !important;
  border-top-width: 0 !important;
  height: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  overflow: hidden !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

// this fixes interal link jumping
.anchor {
  display: block; 
  margin-top: -60px; 
  height: 60px; 
  visibility: hidden; 
}
