$white-primary: #fff;
$black-primary: #424950;

$grey-primary: #b3bbc1;
$grey-secondary: #616161;

$light-grey-primary: #e0e7e8;
$light-grey-secondary: #f5f6f7;

$green-primary: #69b241;
$green-secondary: #3c6626;

$light-blue-primary: #edf4f7;
$light-blue-secondary: #bcced4;

$primary-shadow: rgba(0, 0, 0, .1);
