// adapted from http://j4n.co/blog/Creating-your-own-css-grid-system
// this is a 6 column grid, sorry, not 12 like Boostrap

.row::before,
.row::after {
  clear: both;
  content: '';
  display: table;
}

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding: 12px;
  width: 16.66%;
}

.no-left-gutter {
  padding-left: 0;
}

.no-right-gutter {
  padding-right: 0;
}

.col-1 {
  width: 16.66%;
}

.col-2 {
  width: 33.33%;
}

.col-3 {
  width: 50%;
}

.col-4 {
  width: 66.664%;
}

.col-5 {
  width: 83.33%;
}

.col-6 {
  width: 100%;
}
