[submodule "content/mongocli/upcoming/submodules/mongocli"]
	path = content/mongocli/upcoming/submodules/mongocli
	url = https://github.com/mongodb/mongocli.git
	
[submodule "content/mongocli/current/submodules/mongocli"]
	path = content/mongocli/current/submodules/mongocli
	url = https://github.com/mongodb/mongocli.git

[submodule "content/mongocli/v1.31/submodules/mongocli"]
	path = content/mongocli/v1.31/submodules/mongocli
	url = https://github.com/mongodb/mongocli.git

[submodule "content/mongocli/v1.30/submodules/mongocli"]
	path = content/mongocli/v1.30/submodules/mongocli
	url = https://github.com/mongodb/mongocli.git

[submodule "content/mongocli/v1.29/submodules/mongocli"]
	path = content/mongocli/v1.29/submodules/mongocli
	url = https://github.com/mongodb/mongocli.git

[submodule "content/mongocli/v1.28/submodules/mongocli"]
	path = content/mongocli/v1.28/submodules/mongocli
	url = https://github.com/mongodb/mongocli.git

[submodule "content/mongocli/v1.27/submodules/mongocli"]
	path = content/mongocli/v1.27/submodules/mongocli
	url = https://github.com/QuiqueSanMongo/mongodb-cli.git

[submodule "content/mongocli/v1.26/submodules/mongocli"]
	path = content/mongocli/v1.26/submodules/mongocli
	url = https://github.com/QuiqueSanMongo/mongodb-cli.git

[submodule "content/mongocli/v1.25/submodules/mongocli"]
	path = content/mongocli/v1.25/submodules/mongocli
	url = https://github.com/QuiqueSanMongo/mongodb-cli.git

[submodule "content/mongocli/v1.24/submodules/mongocli"]
	path = content/mongocli/v1.24/submodules/mongocli
	url =  https://github.com/QuiqueSanMongo/mongodb-cli.git

[submodule "content/mongocli/v1.23/submodules/mongocli"]
	path = content/mongocli/v1.23/submodules/mongocli
	url = https://github.com/jwilliams-mongo/mongodb-cli.git

[submodule "content/mongocli/v1.22/submodules/mongocli"]
	path = content/mongocli/v1.22/submodules/mongocli
	url = https://github.com/jwilliams-mongo/mongodb-cli.git

[submodule "content/mongocli/v1.21/submodules/mongocli"]
	path = content/mongocli/v1.21/submodules/mongocli
	url = https://github.com/jwilliams-mongo/mongodb-cli.git

[submodule "content/mongocli/v1.20/submodules/mongocli"]
	path = content/mongocli/v1.20/submodules/mongocli
	url = https://github.com/jwilliams-mongo/mongodb-cli.git
