[submodule "mongo-ruby-driver"]
	path = mongo-ruby-driver
	url = https://github.com/mongodb/mongo-ruby-driver.git
	branch = master
[submodule "bson-ruby"]
	path = bson-ruby
	url = https://github.com/mongodb/bson-ruby.git
	branch = master
