build/
*pyc
source/includes/table-*rst
DS_Store
*.DS_Store
.#*
*.bak
source/figures
meta.yaml
source/includes/hash.rst
source/includes/table/
source/includes/toc
fabfile
giza.log

/source/plugins/example-video-player/
/source/plugins/example-user-view/
/source/plugins/example-ssh-tunnel-status/
