[submodule "mongo-ruby-driver"]
	path = mongo-ruby-driver
	url = https://github.com/norareidy/mongo-ruby-driver.git
	branch = DOCSP-37038-broken-link
[submodule "bson-ruby"]
	path = bson-ruby
	url = https://github.com/mongodb/bson-ruby.git
	branch = master
