build/
*pyc
source/includes/table-*rst
source/images/*
DS_Store
.#*
*.bak
source/images
meta.yaml
intersphinx.yaml
source/includes/hash.rst
source/includes/table/ README.rst __pycache__ bin bootstrap.py bootstrap.pyc build conf-sitemap.xml conf.py conf.pyc docs_meta.yaml fabfile makefile source
