build/*
*.swp
.#*
\#*#
*__pycache__*
*.pyc
*.pyo
*.bak
.DS_Store
source/includes/hash.rst
source/includes/install-curl-release*.rst
source/includes/table-*.rst
source/includes/toc-*.rst
source/includes/dfn*.rst
source/includes/manpage-options-auth-mongo.rst
source/includes/manpage-options-ssl-settings.rst
TAGS
composite-pages.yaml
meta.yaml
build
*~
source/reference/*/*.rst
source/reference/*.rst
source/images/*.png
source/images/*.rst
pdfs.yaml
