{{ partial "header.html" }}

  <div id="root">
    <nav class="navbar">
      <div class="navbar__left">
        <img src="/images/mongodb-logo.svg" class="navbar-brand" alt="MongoDB Logo" />

        <div class="navbar-dropdown">
          <span>Documentation</span>
        </div>
      </div>

      <div class="navbar__middle">
        <a href="#" class="navbar-link">Server</a>
        <a href="#" class="navbar-link">Drivers</a>
        <a href="#" class="navbar-link">Cloud</a>
        <a href="#" class="navbar-link">Tools</a>
        <a href="#" class="navbar-link navbar-link--active">Tutorials</a>
      </div>

      <a href="#" class="navbar-download">Download MongoDB</a>
      <img src="/images/download-icon.svg" alt="Download Icon" />

      <div class="navbar__right">
        <input type="text" class="navbar-search" placeholder="Search" />
      </div>
    </nav>

    <div class="main">
      <aside class="main__sidebar">
        <div class="facets">
        </div>
      </aside>

      <div class="main__content">
        <h1>MongoDB Tutorials</h1>

        <div class="tutorials">
          {{- range first 10 .Data.Pages }}
            <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
          {{- end }}
        </div>
      </div>
    </div>
  </div>

  <script src="/js/home.js"></script>
</body>
</html>

