@use "@/styles/global-theme.scss" as *;

.changelog-wrapper {
  grid-column: 2/ -2;
  overflow-x: auto;
}

.changelog-template {
  display: grid;
  margin-bottom: $size-xlarge;
  grid-template-columns: minmax($size-xlarge, 1fr) repeat(2, minmax(0, 600px)) minmax(
      $size-xlarge,
      1fr
    );
  @media #{$screenSize-upToLarge} {
    grid-template-columns: 48px 1fr 48px;
  }

  @media #{$screenSize-upToMedium} {
    grid-template-columns: $size-medium 1fr $size-medium;
  } 
}