@use '@/styles/global-theme.scss' as *;

.changelogWrapper {
  grid-column: 2/ -2;
  overflow-x: auto;
}

.changelogTemplate {
  display: grid;
  margin-bottom: var(--via-space-1600);
  grid-template-columns: minmax(var(--via-space-1600), 1fr) repeat(2, minmax(0, 600px)) minmax(
      var(--via-space-1600),
      1fr
    );
  @media #{$screenSize-upToLarge} {
    grid-template-columns: var(--via-space-1200) 1fr var(--via-space-1200);
  }

  @media #{$screenSize-upToMedium} {
    grid-template-columns: var(--via-space-600) 1fr var(--via-space-600);
  }
}
