@use "@/styles/global-theme.scss" as theme;

$max-on-this-page-width: 200px;
$max-content-width: 775px;
$max-content-width-large-screen: 884px;
$max-content-value: calc(($max-content-width + theme.$size-xlarge * 2) + ($max-on-this-page-width + 5px + theme.$size-medium ));
$max-content-value-large-screen: calc(($max-content-width-large-screen + theme.$size-xlarge * 2) + ($max-on-this-page-width + 5px + theme.$size-medium));

.document {
  display: grid;
  grid-template-areas: 'main right';
  grid-template-columns: minmax(0, calc($max-content-width + theme.$size-xlarge * 2)) 1fr;
  margin: 0 auto;
  width: 100%;
  max-width: $max-content-value;

  @media not all and (max-width: 1920px) {
    grid-template-columns: minmax(0, calc($max-content-width-large-screen + theme.$size-xlarge * 2)) 1fr;
    max-width: $max-content-value-large-screen;
  }
}

.main-column {
  grid-area: main;
  max-width: $max-content-width;

  @media not all and (max-width: 1920px) {
    max-width: $max-content-width-large-screen;
  }
}

.right-column {
  grid-area: right;
  overflow: visible;
}