@use '@/styles/global-theme.scss' as theme;

$max-on-this-page-width: 200px;
$max-content-width: 775px;
$max-content-width-large-screen: 884px;
$max-content-value: calc(
  ($max-content-width + var(--via-space-1600) * 2) + ($max-on-this-page-width + 5px + var(--via-space-600))
);
$max-content-value-large-screen: calc(
  ($max-content-width-large-screen + var(--via-space-1600) * 2) + ($max-on-this-page-width + 5px + var(--via-space-600))
);

.document {
  display: grid;
  grid-template-areas: 'main right';
  grid-template-columns: minmax(0, calc($max-content-width + var(--via-space-1600) * 2)) 1fr;
  margin: 0 auto;
  width: 100%;
  max-width: $max-content-value;

  @media #{theme.$screenSize-3XLargeAndUp} {
    grid-template-columns: minmax(0, calc($max-content-width-large-screen + var(--via-space-1600) * 2)) 1fr;
    max-width: $max-content-value-large-screen;
  }
}

.mainColumn {
  grid-area: main;
  max-width: $max-content-width;

  @media #{theme.$screenSize-3XLargeAndUp} {
    max-width: $max-content-width-large-screen;
  }
}

.rightColumn {
  grid-area: right;
  overflow: visible;
}
