@use '@/styles/global-theme.scss' as theme;

.wrapper {
  display: grid;
  height: 100%;
  align-content: start;
  grid-template-columns: minmax(var(--via-space-1600), 1fr) repeat(12, minmax(0, 1fr)) minmax(
      var(--via-space-1600),
      1fr
    );

  @media #{theme.$screenSize-upToLarge} {
    grid-template-columns: var(--via-space-600) repeat(12, 1fr) var(--via-space-600);
  }

  @media #{theme.$screenSize-upToMedium} {
    grid-template-columns: repeat(12, 1fr);
  }
}

.notFoundContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 128px;
  margin-inline: auto;
  grid-column: 3/-3;
  max-width: 775px;
  width: 100%;

  @media #{theme.$screenSize-3XLargeAndUp} {
    max-width: 884px;
  }

  @media #{theme.$screenSize-upToXLarge} {
    grid-column: 4/-4;
  }

  @media #{theme.$screenSize-upToLarge} {
    grid-column: 3/-3;
    margin-top: calc(var(--via-space-800) * -1);
  }
}

.imageContainer {
  margin-left: -27px;
  max-width: 226px;
  display: flex;
  justify-content: flex-start;
  flex: 0.5 1 auto;

  > img {
    width: 100%;
    height: auto;
  }
}

.errorBox {
  flex: 1 0.5 auto;
  word-break: break-word;

  @media #{theme.$screenSize-upToSmall} {
    padding: 0 var(--via-space-400);
    width: unset;
  }
}

.errorTitle {
  color: var(--via-color-text-primary) !important;
  font-family: var(--via-font-family-serif);
  line-height: 64px;
  font-size: var(--via-font-size-heading1);
  margin-block-start: 0em;
  margin-block-end: var(--via-space-600);

  @media #{theme.$screenSize-upToSmall} {
    font-size: var(--via-font-size-heading3);
  }
}

.linkContainer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--via-space-400);
  margin-top: var(--via-space-600);

  @media #{theme.$screenSize-upToSmall} {
    align-items: flex-start;
    flex-direction: column;
  }
}

.homeButton {
  @media #{theme.$screenSize-upToSmall} {
    max-width: 150px;
  }
}

.supportLink {
  color: light-dark(var(--via-color-neutral-500), var(--via-color-neutral-300));
  display: inline-block;
  font-size: var(--via-font-size-base);
  line-height: 20px;
}
