@use '@/styles/global-theme.scss' as theme;

.main {
  max-width: 100vw;
}

.bodyLayout {
  margin: var(--via-space-400) var(--via-space-1600) var(--via-space-1600);
  overflow-x: auto;

  @media #{theme.$screenSize-upToSmall} {
    margin: var(--via-space-400) var(--via-space-600) var(--via-space-1600);
  }
}

.container {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-bottom: 128px;

  @media #{theme.$screenSize-upToSmall} {
    margin-bottom: var(--via-space-1800);
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 128px;
  margin-bottom: var(--via-space-400);

  @media #{theme.$screenSize-upToSmall} {
    margin-top: var(--via-space-600);
  }

  img {
    @media #{theme.$screenSize-upToSmall} {
      width: 270px;
      height: auto;
    }
  }
}

.contentBox {
  max-width: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
}

.linkContainer {
  margin-top: var(--via-space-800);
}
