@use '@/styles/global-theme.scss' as theme;

$content-max-width: 1440px;

// Use leftmost and rightmost grid columns as "margins" to allow the hero image
// to span across the page while remaining as part of the document flow
@mixin grid-styling {
  @media #{theme.$screenSize-mediumAndUp} {
    grid-template-columns:
      minmax(var(--via-space-1600), 1fr) repeat(12, minmax(0, calc(#{$content-max-width} / 12)))
      minmax(var(--via-space-1600), 1fr);
  }

  @media #{theme.$screenSize-upToMedium} {
    grid-template-columns: var(--via-space-1200) repeat(12, 1fr) var(--via-space-1200);
  }

  @media #{theme.$screenSize-upToSmall} {
    grid-template-columns: var(--via-space-800) 1fr var(--via-space-800);
  }

  @media #{theme.$screenSize-upToXSmall} {
    grid-template-columns: var(--via-space-600) 1fr var(--via-space-600);
  }
}

.wrapper {
  margin: 0 auto;
  width: 100%;

  & > section,
  & > section > section {
    display: grid;
    grid-column: 1 / -1;

    @include grid-styling;

    & > :global(.card-group) {
      @media #{theme.$screenSize-mediumAndUp} {
        grid-column: 2 / -2 !important;
      }
      max-width: 1200px;
    }
  }
}

// The Landing template exclusively represents mongodb.com/docs. All other landings use the ProductLanding template
.landingTemplate {
  & h1,
  & h2,
  & h3,
  & h4 {
    color: var(--via-color-text-primary);
  }
  & h1 {
    font-size: var(--via-font-size-heading2);
    margin-bottom: var(--via-space-400);
  }
  & p {
    color: var(--via-color-text-primary);
    font-size: var(--via-font-size-large);
    letter-spacing: normal;
    margin-bottom: var(--via-space-400);
  }
  & h1 {
    align-self: end;
    grid-column: 2 / 8;
    grid-row: 1 / 2;

    @media #{theme.$screenSize-upToMedium} {
      grid-column: 2 / 11;
    }

    @media #{theme.$screenSize-upToSmall} {
      grid-column: 2 / -2;
    }
  }
  & main h1:first-of-type {
    color: var(--via-color-neutral-000);
    grid-column: 2/-1;
    margin-top: var(--via-space-1200);
    font-size: var(--via-font-size-heading1);
    line-height: 62px;
    margin-bottom: var(--via-space-600);
    align-self: end;
    @media #{theme.$screenSize-upToMedium} {
      font-size: var(--via-font-size-heading2);
      line-height: 40px;
    }
  }
  & main > section > section:first-of-type h2 {
    color: var(--via-color-text-primary);
    font-size: var(--via-font-size-heading2);
    font-family: 'MongoDB Value Serif';
    font-weight: 400;
    margin-top: var(--via-space-600);
    margin-bottom: 0px;
  }
  & :global(.span-columns) {
    grid-column: 3 / -3 !important;
    margin: var(--via-space-1600) 0;
  }
  & section > * {
    grid-column-start: 2;
    grid-column-end: 8;

    @media #{theme.$screenSize-upToMedium} {
      grid-column: 2 / -2;
    }
  }
  & :global(.hero-img) {
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    object-position: right;
    height: 100%;

    @media #{theme.$screenSize-upTo2XLarge} {
      object-position: center;
    }
  }

  & :global(.introduction) {
    grid-column: 2 / -4;
    grid-row: 2 / 3;
    p {
      color: var(--via-color-neutral-000);
    }

    @media #{theme.$screenSize-upToMedium} {
      grid-column: 2 / -2;
    }

    @media #{theme.$screenSize-xLargeAndUp} {
      grid-column: 2 / -4;
    }
  }
}
