@use '@/styles/global-theme.scss' as theme;

// Must match CONTENT_MAX_WIDTH in @/constants
$content-max-width: 1200px;

.formStyle {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: var(--via-space-300);
  @media #{theme.$screenSize-upToLarge} {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
  }
}

.formContainer {
  position: relative;
  @media #{theme.$screenSize-tablet} {
    z-index: 1;
  }
}

.hrStyling {
  border-color: var(--via-color-border-secondary);
  margin: var(--via-space-600) var(--via-space-1600);
}

.ratingStyling {
  margin: 0px var(--via-space-1600);
}

.guidesStyles {
  & > section {
    h1 {
      @media #{theme.$screenSize-mediumAndUp} {
        color: var(--via-color-neutral-000);
      }
    }

    > :global(.introduction) p {
      @media #{theme.$screenSize-mediumAndUp} {
        color: var(--via-color-neutral-000);
      }
    }
  }
}

.notGuidesStyles {
  margin: 0 auto var(--via-space-1600) auto;

  & > section > :global(.hero-img) {
    margin-bottom: var(--via-space-800);
  }
}

// Light-colored hero styling
.hasLightHeroStyles {
  @media #{theme.$screenSize-mediumAndUp} {
    h1 {
      color: var(--via-color-neutral-900);
    }

    :global(.introduction) > p:first-of-type {
      color: var(--via-color-neutral-900);
    }
  }
}

.maxWidthParagraphsStyles {
  section p {
    max-width: 500px;
  }
}

.wrapper {
  width: 100%;

  h1 {
    color: var(--font-color-primary);
  }

  h2 {
    margin-top: var(--via-space-200);
    margin-bottom: var(--via-space-200);
  }

  h3 {
    font-weight: 600;
    font-size: var(--via-font-size-large);
    line-height: 28px;
    margin-bottom: var(--via-space-200);
  }

  section {
    max-width: 100%;
  }

  section p {
    grid-column: 2;
  }

  section p > a {
    letter-spacing: 0.5px;
    :hover {
      text-decoration: none;
    }
  }

  & > section {
    display: grid;
    // Create columns such that the 2 outer ones act like margins.
    // This will allow the hero image to span across the whole content while still being a part
    // of the DOM flow.
    grid-template-columns:
      minmax(var(--via-space-1600), 1fr) repeat(2, minmax(0, calc(#{$content-max-width} / 2)))
      minmax(var(--via-space-1600), 1fr);
    grid-template-rows: [header] auto [introduction] auto [kicker] auto;

    &:has([role='alert']) {
      grid-template-rows: [banner] auto [header] auto [introduction] auto [kicker] auto;
    }

    @media #{theme.$screenSize-upToLarge} {
      grid-template-columns: var(--via-space-1200) 1fr var(--via-space-1200);
    }

    @media #{theme.$screenSize-upToMedium} {
      grid-template-columns: var(--via-space-600) 1fr var(--via-space-600);
    }

    [role='alert'] {
      grid-column: 2 / 4;
      grid-row: banner;
      align-items: center;
    }

    h1 {
      align-self: end;
      grid-column: 2;
      grid-row: header;
    }

    > img {
      display: block;
      grid-column: 2;
      margin-top: auto;
      max-width: 600px;
      width: 100%;

      @media #{theme.$screenSize-largeAndUp} {
        grid-column: 3;
        grid-row: header/span 2;
      }
    }

    > :global(.hero-img) {
      grid-column: 1 / -1;
      grid-row: header / kicker;
      height: 310px;
      max-width: 100%;
      object-fit: cover;
      z-index: -1;

      @media #{theme.$screenSize-upToMedium} {
        object-position: 100%;
        grid-row: unset;
      }

      @media #{theme.$screenSize-upToSmall} {
        grid-row: unset;
        height: 200px;
      }
    }

    > :global(.introduction) {
      grid-column: 2;
      grid-row: introduction;
    }

    > :global(.chapters) {
      grid-column: 1 / -1;
    }

    // Sub-sections should use all but the outer columns.
    > section {
      grid-column: 2 / -2 !important;
      overflow: hidden;
    }
    // Card-groups may occasionally not be nested within sections (see: Realm
    // PLP) but should be constrained to the inner columns regardless
    :global(.card-group) {
      grid-column: 2 / -2 !important;
    }
  }
}
