*.swp
.#*
\#*#
*__pycache__*
*.pyc
*.pyo
*.bak
.DS_Store
source/includes/hash.rst
source/includes/install-*-release-*.rst

source/includes/toc-*.rst
source/includes/dfn*.rst
source/includes/manpage-options-auth-mongo.rst
source/includes/manpage-options-ssl-settings.rst
source/includes/manpage-options-audit-settings.rst
TAGS
mongodb-domain.yaml
composite-pages.yaml
!bin/*/mongodb-domain.yaml
meta.yaml
source/driver-examples/
*~
source/reference/*/*.rst
source/reference/*/*/*.rst
source/reference/*.rst
source/compass/images/*
source/images/compass/
giza.log
pdfs.yaml
intersphinx.yaml
!bin/*/pdfs.yaml
source/includes/hash.rst
docs_meta.yaml
!bin/docs_meta.yaml
fabfile
source/includes/toc/
source/includes/table/
source/includes/steps/
source/includes/generated/includes-overview.rst
source/includes/option/
source/includes/changelogs/*.rst
!source/includes/changelogs/releases/*.rst
primer/source/includes/toc/
primer/source/includes/table/
primer/source/includes/steps/
primer/source/includes/generated/includes-overview.rst
primer/source/includes/generated/
primer/source/includes/option/
primer/source/includes/hash.rst
primer/source/.static
primer/source/*.rst
primer/source/core/*.rst
primer/source/includes/example*.txt
primer/source/includes/example-*.rst
primer/source/includes/driver-table.rst
primer/source/includes/fact-installation-bind-ip-default-in-config.rst
primer/source/includes/fact-installation-directories.rst
primer/source/includes/fact-selinux-redhat-options.rst
primer/source/includes/list-mongodb-org-packages.rst
primer/source/includes/note-package-change.rst
primer/source/includes/note-suse-ulimit.rst
primer/source/tutorial/*.rst
primer/source/includes/toc-*yaml
primer/source/includes/steps-*yaml
!primer/source/includes/steps-client-*.yaml
!primer/source/includes/steps-getting-started-prereq.yaml
primer/source/includes/release-*yaml
primer/source/tutorial/install-mongodb-on-*.txt
!primer/config/intersphinx.yaml
!primer/config/published_branches.yaml
!primer/source/includes/toc-primer-*yaml
!primer/source/includes/steps-primer*yaml
!primer/source/includes/client-*rst
!primer/source/includes/prereq-*.rst
primer/source/images/*.png
primer/source/images/*.rst
primer/source/images/*.svg
primer/source/includes/*.cpp
primer/source/includes/*.java
primer/source/includes/*.cs
*.mo
.stub
primer/source/includes/table-linux-kernel-version-production.yaml
venv
.vscode
changelogs/.mongodb-jira.yaml
source/includes/qe-tutorials/csharp/obj/Debug/