.. _rm-system-requirements:

===================
System Requirements
===================

.. meta::
   :description: Check system requirements for running Relational Migrator, including hardware, memory, network, operating systems, and web browsers.

.. contents:: On this page
   :local:
   :backlinks: none
   :depth: 1
   :class: singlecol

The following page outlines the system requirements for using Relational 
Migrator. For additional details on where to run Relational Migrator, see 
:ref:`rm-deployment-considerations`.

Hardware
--------

You can run Relational Migrator in multiple ways:

- Computer (can be a local desktop/labtop)
- Remote server (EC2, Azure VM, or Google compute engine instance)
- Virtual Machine 
- Docker Container 


.. note:

   To use Relational Migrator, you must access the application through a web
   browser, this requires:

   - Loading a browser on the machine running RM 
     (locally or using Windows RDP or similar).
   - Accessing remotely, which requires configuring RM in 
     Unattended mode.

Memory
------

The machine running the Relational Migrator application requires a 
minimum of 8GB of RAM. For best performance, we recommend having 16GB 
of RAM or more.

Network
-------

Deploy Relational Migrator to a location close to the destination 
databases to maximize bandwidth and minimize latency.

Operating System
----------------

You can run Relational Migrator on any of the following operating 
systems:

- Windows 10 or higher
- Windows Server 2016 or higher
- MacOS 11 or higher (Intel or ARM)
- Linux - Debian / Ubuntu
- Linux - Redhat / CentOS 
- Docker

Web Browser
-----------

You can use Relational Migrator in any of the latest versions of 
web browsers:

- Chrome (or Chromium-based browsers)
- Edge
- Firefox 
- Safari

Kafka Deployments
-----------------

You can optionally use Kafka for long-running migration jobs. For details.
see :ref:`kafka-intro`.

Supported Databases
-------------------

- :ref:`supported-databases`
- :ref:`rm-prerequisites`