@use "@/styles/global-theme.scss" as theme;

.multiColumn {
  display: flex;
  gap: theme.$size-xxlarge;
  margin: 60px 0 var(--via-space-1000);

  @media #{theme.$screenSize-upToLarge} {
    flex-direction: column;
    gap: var(--via-space-1600);
  }

  @media #{theme.$screenSize-upToSmall} {
    gap: var(--via-space-1000);
  }
}
