@font-face {
  font-family: 'Akzidenz';
  src: url('/fonts/akzidgrostdreg.eot');
  src: url('/fonts/akzidgrostdreg.eot') format('embedded-opentype'), url('/fonts/akzidgrostdreg.woff') format('woff'), url('/fonts/akzidgrostdreg.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Akzidenz';
  src: url('/fonts/akzidgrostdmed.eot');
  src: url('/fonts/akzidgrostdmed.eot') format('embedded-opentype'), url('/fonts/akzidgrostdmed.woff') format('woff'), url('/fonts/akzidgrostdmed.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: Akzidenz;
  font-size: 40px;
  line-height: 47px;
  font-weight: normal;
  margin-bottom: 20px;
  font-color: #424950;
}
h2 {
  font-family: Akzidenz;
  font-size: 40px;
  line-height: 47px;
  font-weight: normal;
  margin-bottom: 10px;
  font-color: #424950;
}
h3 {
  font-family: Akzidenz;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  font-color: #424950;
}
h4 {
  font-family: Akzidenz;
  font-size: 20px;
  line-height: 24px;
  font-weight: regular;
  margin-bottom: 10px;
  font-color: #424950;
}
h5 {
  font-family: Akzidenz;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  font-color: #424950;
}
p {
  font-family: Akzidenz;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  margin-bottom: 10px;
  font-color: #424950;
}
.top-navigation {
  align-items: center;
  display: flex;
  padding-left: 18px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.top-navigation__brand {
  height: 30px;
  margin-top: -7px;
}
.top-navigation__external-links {
  border-left: 1px solid #616161;
  margin-left: 6px;
  padding-left: 6px;
  font-family: Akzidenz;
  font-size: 16px;
  color: #616161;
}
.top-navigation__link {
  display: inline-block;
  padding: 15px 0;
  margin: 0 20px;
  color: #424950;
  font-family: Akzidenz;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.3px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 0.4s;
}
.top-navigation__link:hover {
  color: #69b241;
  transition-duration: 0.4s;
}
.top-navigation__link--active {
  color: #69b241;
}
.top-navigation__link--active:hover {
  color: #3c6626;
  transition-duration: 0.4s;
}
.top-navigation__link--active:hover::after {
  background-color: #3c6626;
  transition-duration: 0.4s;
}
.top-navigation__link--active::after {
  bottom: 0;
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
  background-color: #69b241;
  content: "";
  transition-duration: 0.4s;
}
.top-navigation__download {
  display: inline-block;
  margin-left: auto;
  color: #69b241;
  font-family: Akzidenz;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.3px;
}
.facets {
  width: 330px;
  background-color: #f5f6f7;
}
.button {
  font-family: Akzidenz;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #464C4F;
  border-radius: 3px;
  border-style: none;
  display: inline-block;
  padding: 8px 16px 10px 16px;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #fff;
  margin: 5px;
}
.button--active {
  color: #fff;
  background-color: #7BC552;
}
