@font-face {
  font-family: 'Akzidenz';
  src: url('/fonts/akzidgrostdreg.eot');
  src: url('/fonts/akzidgrostdreg.eot') format('embedded-opentype'), url('/fonts/akzidgrostdreg.woff') format('woff'), url('/fonts/akzidgrostdreg.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
h1 {
  font-family: Akzidenz;
  size: 40px;
  line-height: 47px;
  font-weight: normal;
  margin-bottom: 20px;
}
h2 {
  font-family: Akzidenz;
  size: 40px;
  line-height: 47px;
  font-weight: normal;
  margin-bottom: 10px;
}
h3 {
  font-family: Akzidenz;
  size: 20px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
h4 {
  font-family: Akzidenz;
  size: 20px;
  line-height: 24px;
  font-weight: regular;
  margin-bottom: 10px;
}
h5 {
  font-family: Akzidenz;
  size: 12px;
  line-height: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
p {
  font-family: Akzidenz;
  size: 16px;
  line-height: 20px;
  font-weight: normal;
  margin-bottom: 10px;
}
