// theme.module.scss

$font-size-xsmall: 11px;
$font-size-tiny: 12px;
$font-size-small: 13px;
$font-size-default: 16px;
$font-size-h1: 36px;
$font-size-h2: 24px;
$font-size-h3: 18px;
$font-size-h4: 16px;

$size-tiny: 4px;
$size-small: 8px;
$size-default: 16px;
$size-medium: 24px;
$size-large: 32px;
$size-xlarge: 64px;
$size-xxlarge: 128px;
$size-max-width: 1400px;

// Breakpoints
$breakpoints-xSmall: 320;
$breakpoints-small: 480;
$breakpoints-medium: 767;
$breakpoints-large: 1024;
$breakpoints-xLarge: 1200;
$breakpoints-xxLarge: 1440;
$breakpoints-xxxLarge: 1920;

// Screen Sizes
$screenSize-upToXSmall: "only screen and (max-width: #{$breakpoints-xSmall}px)";
$screenSize-xSmallAndUp: "only screen and (min-width: #{($breakpoints-xSmall + 1)}px)";
$screenSize-upToSmall: "only screen and (max-width: #{$breakpoints-small}px)";
$screenSize-smallAndUp: "only screen and (min-width: #{($breakpoints-small + 1)}px)";
$screenSize-upToMedium: "only screen and (max-width: #{$breakpoints-medium}px)";
$screenSize-mediumAndUp: "only screen and (min-width: #{($breakpoints-medium + 1)}px)";
$screenSize-upToLarge: "only screen and (max-width: #{$breakpoints-large}px)";
$screenSize-largeAndUp: "only screen and (min-width: #{($breakpoints-large + 1)}px)";
$screenSize-upToXLarge: "only screen and (max-width: #{$breakpoints-xLarge}px)";
$screenSize-xLargeAndUp: "only screen and (min-width: #{($breakpoints-xLarge + 1)}px)";
$screenSize-upTo2XLarge: "only screen and (max-width: #{$breakpoints-xxLarge}px)";
$screenSize-2XLargeAndUp: "only screen and (min-width: #{($breakpoints-xxLarge + 1)}px)";
$screenSize-upTo3XLarge: "only screen and (max-width: #{$breakpoints-xxxLarge}px)";
$screenSize-3XLargeAndUp: "only screen and (min-width: #{($breakpoints-xxxLarge + 1)}px)";
$screenSize-tablet: "only screen and (min-width: #{($breakpoints-small + 1)}px) and (max-width: #{$breakpoints-large}px)";

// Header heights on different screens
$header-banner-height: 40px;
$header-navbar-height: 95px;
$header-navbar-mobile-height: 56px;
$header-docs-mobile-menu-height: 52px;
$header-navbar-scroll-offset: 85px;
$header-action-bar-mobile-height: 60px;
$header-composable-desktop-height: 90px;
$header-composable-mobile-height: 190px;

$widgets-button-container-mobile-height: 60px;

$transition-speed-ia-exit: 100ms;
$transition-speed-ia-enter: 200ms;
$transition-speed-content-fade: 300ms;

$zindex-content: 1;
$zindex-action-bar: 800;
$zindex-sidenav: 900;
$zindex-header: 1000;
$zindex-widgets: 2000;
$zindex-popovers: 10000;

$color-pref-dark: '(prefers-color-scheme: dark)';
$color-pref-light: '(prefers-color-scheme: light)';
$color-pref-auto: '(prefers-color-scheme: auto)';

$screen-tablet: 'only screen and (min-width: 481px) and (max-width: 1024px)';