// theme.module.scss

$size-small: 8px;
$size-default: 16px;
$size-medium: 24px;
$size-large: 32px;
$size-xlarge: 64px;

// Breakpoints
$breakpoints-xSmall: 320;
$breakpoints-small: 480;
$breakpoints-medium: 767;
$breakpoints-large: 1024;
$breakpoints-xLarge: 1200;
$breakpoints-xxLarge: 1440;
$breakpoints-xxxLarge: 1920;

// Screen Sizes
$screenSize-upToXSmall: 'only screen and (max-width: #{$breakpoints-xSmall}px)';
$screenSize-upToSmall: 'only screen and (max-width: #{$breakpoints-small}px)';
$screenSize-upToMedium: 'only screen and (max-width: #{$breakpoints-medium}px)';
$screenSize-mediumAndUp: 'only screen and (min-width: #{($breakpoints-medium + 1)}px)';
$screenSize-upToLarge: 'only screen and (max-width: #{$breakpoints-large}px)';
$screenSize-largeAndUp: 'only screen and (min-width: #{($breakpoints-large + 1)}px)';
$screenSize-upToXLarge: 'only screen and (max-width: #{$breakpoints-xLarge}px)';
$screenSize-xLargeAndUp: 'only screen and (min-width: #{($breakpoints-xLarge + 1)}px)';
$screenSize-upTo2XLarge: 'only screen and (max-width: #{$breakpoints-xxLarge}px)';
$screenSize-3XLargeAndUp: 'only screen and (min-width: #{($breakpoints-xxxLarge + 1)}px)';
$screenSize-tablet: 'only screen and (min-width: #{($breakpoints-small + 1)}px) and (max-width: #{$breakpoints-large}px)';

// Header heights on different screens
$header-banner-height: 40px;

$zindex-action-bar: 800;
$zindex-header: 1000;
