build/
*pyc
source/includes/table-*rst
source/images/*
.DS_Store
.#*
*.bak
source/images
source/figures
source-master/
source-v*/
source-v2.0/
source-v1.x/
meta.yaml
source/includes/hash.rst
source/includes/table/
source/includes/toc
bson-ruby/
mongo-ruby-driver/
fabfile
giza.log
