.layout {
  display: grid;
  grid-template-areas:
    'header header'
    'sidenav contents'
    'auto footer';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  overflow: clip;
}