.base {
  margin: var(--via-space-400) 0;

  // Add margins below all child elements in the banner
  & > div > div > * {
    margin: 0 0 var(--via-space-300);
  }

  & > div > div > *:last-child {
    margin: 0;
  }

  // Remove margins on individual paragraphs
  p {
    margin: 0;
  }

  // Force all content to be 13px in banners
  font-size: var(--via-font-size-base);

  p,
  a {
    font-size: var(--via-font-size-base);
  }

  a {
    color: var(--via-color-text-link);

    &:hover {
      text-underline-offset: 3px;
    }
  }
}
