.infoBanner {
  align-items: center;
  background-color: var(--via-color-background-info);
  border: var(--via-border-width-025) solid var(--via-color-border-info);
  border-radius: var(--via-border-radius-100);
  color: var(--via-color-text-info);
  cursor: pointer;
  display: flex;
  font-size: var(--via-font-size-base);
  gap: var(--via-space-400);
  margin: var(--via-space-400) 0;
  min-height: 44px;
  padding: var(--via-space-300);
}

.infoIconWrapper {
  align-items: center;
  background-color: var(--via-color-background-info);
  border: var(--via-border-width-025) solid var(--via-color-icon-info);
  border-radius: 50%;
  display: flex;
  height: 26px;
  justify-content: center;
  min-width: 26px;
  width: 26px;
}
