@use '@/styles/global-theme.scss' as theme;

.offline {
  max-width: 1200px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.productLandingContainer {
  display: grid;
  grid-template-columns:
    minmax(var(--via-space-1600), 1fr) repeat(1, minmax(0, 1200px))
    minmax(var(--via-space-1600), 1fr);

  @media #{theme.$screenSize-upToLarge} {
    grid-template-columns: var(--via-space-1200) 1fr var(--via-space-1200);
  }

  @media #{theme.$screenSize-upToMedium} {
    grid-template-columns: var(--via-space-600) 1fr var(--via-space-600);
  }

  > [role='alert'] {
    grid-column: 2/2;
  }
}
