@use '@/styles/global-theme.scss' as theme;

.grid {
  align-items: stretch;
  display: grid;
  grid-column: 1 / -1 !important;
  grid-column-gap: var(--via-space-600);
  grid-row-gap: var(--via-space-600);
  grid-template-columns: repeat(var(--cg-columns), 1fr);
  margin: var(--via-space-800) 0;

  @media #{theme.$screenSize-upToXLarge} {
    grid-template-columns: repeat(2, 1fr);
  }

  @media #{theme.$screenSize-upToMedium} {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--via-space-400);
  }

  @media #{theme.$screenSize-upToSmall} {
    // If not carousel, stack Cards vertically in 1 column on small screens
    grid-column-gap: var(--via-space-400);
    grid-template-columns: 'auto';
    grid-row-gap: var(--via-space-400);
  }
}

.grid[data-landing='true'] {
  @media #{theme.$screenSize-upToXLarge} {
    grid-template-columns: repeat(var(--cg-columns), 1fr);
  }
}

.grid[data-drivers='true'] {
  margin: 0 0 var(--via-space-1600);

  @media #{theme.$screenSize-upToMedium} {
    margin: 0 var(--via-space-1000) var(--via-space-1600);
  }

  @media #{theme.$screenSize-upToSmall} {
    margin: 0 var(--via-space-600) var(--via-space-1600);
  }
}

.grid[data-landing='true']:not([data-columns='3']) {
  margin: var(--via-space-800) 0;

  @media #{theme.$screenSize-upToMedium} {
    margin: var(--via-space-800) var(--via-space-1000);
  }

  @media #{theme.$screenSize-upToSmall} {
    margin: var(--via-space-800) var(--via-space-600);
  }
}

.grid[data-landing='true'][data-columns='3'] {
  margin: var(--via-space-600) 0 var(--via-space-1600);

  @media #{theme.$screenSize-upToMedium} {
    margin: var(--via-space-600) var(--via-space-1000) var(--via-space-1600);
  }

  @media #{theme.$screenSize-upToSmall} {
    margin: var(--via-space-600) var(--via-space-600) var(--via-space-1600);
  }
}

// Carousel styling refers to the horizontal scrolling display of the Cards;
// this is not a true carousel as it is not 'circular,' but is rather 1 row
// with n columns displaying only a subset on screen.
.grid[data-carousel='true'] {
  @media #{theme.$screenSize-upToMedium} {
    grid-gap: calc(var(--via-space-600) * 0.75);
    grid-template-columns:
      calc(var(--via-space-600) / 2)
      repeat(var(--cg-carousel-count), calc(75% - calc(2 * var(--via-space-600))))
      calc(var(--via-space-600) / 2);
    grid-template-rows: minmax(150px, 1fr);
    margin: var(--via-space-600) 0;
    overflow-x: scroll;
    padding-bottom: calc(var(--via-space-600) / 2);
    scroll-snap-type: x proximity;

    &:before,
    &:after {
      content: '';
    }
  }
}
