.card {
  display: flex;
  height: 100%;
}

.clickable {
  cursor: pointer;
}

.landing {
  flex-direction: row;
  padding-left: var(--via-space-600);

  img {
    width: var(--via-space-1600);
    height: fit-content;
  }

  div {
    display: flex;
    flex-direction: column;
    margin-left: var(--via-space-800);

    p:first-child {
      font-size: 24px;
      font-weight: 500;
      margin: 0px 0px var(--via-space-400) 0px;
    }
  }

  @media only screen and (max-width: 480px) {
    flex-direction: column;

    img {
      margin-bottom: var(--via-space-600);
    }

    div {
      margin-left: 0px;
    }
  }
}

.default {
  flex-direction: column;
  padding: var(--via-space-800);

  p:last-of-type {
    margin-bottom: 0;
  }
}

.centerContent {
  padding: var(--via-space-400) var(--via-space-600);
  align-items: center;

  // override "height" HTML attribute
  img {
    height: 100%;
  }

  p {
    margin: 0 0 0 18px;
    font-weight: 400;
  }
}

.largeIcon {
  p {
    line-height: var(--via-space-600);
  }
}

.compactIcon {
  @media only screen and (max-width: 480px) {
    width: 20px;
  }
}

.headline {
  font-weight: 500;
  letter-spacing: normal;
  margin: var(--via-space-400) 0 var(--via-space-200) 0;
}

.headlineCompact {
  font-weight: 500;
  letter-spacing: normal;
  margin: 0 0 var(--via-space-200);
}

.headlineLargeIcon {
  margin-bottom: var(--via-space-900);
}

.compact {
  align-items: flex-start;
  flex-direction: row;
  padding: var(--via-space-800) var(--via-space-600);
}

.compactTextWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: var(--via-space-200);

  @media only screen and (max-width: 480px) {
    margin-left: var(--via-space-400);
  }

  p {
    line-height: var(--via-space-600);
  }
}
