<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">com.mongodb.hibernate.dialect.MongoDialect</property>
        <property name="hibernate.connection.provider_class">
            com.mongodb.hibernate.jdbc.MongoConnectionProvider
        </property>
        <property name="jakarta.persistence.jdbc.url">
            connection-string
        </property>

        <property name="hibernate.show_sql">true</property>

        <mapping class="org.example.Movie"/>

    </session-factory>
</hibernate-configuration>