@use "@/styles/global-theme.scss" as *;
$main-column-horizontal-margin: $size-xlarge;

.main-column {
  margin: $size-default $main-column-horizontal-margin $size-xlarge;
  min-height: 600px;

  @media #{screenSize-upToLarge} {
    margin: $size-default 48px $size-xlarge;
  }

  @media #{screenSize-upToSmall} {
    margin: $size-default var(--size-medium) $size-xlarge;
  }
}

.main-column.instruqt-wrapper {
  max-width: unset;
  margin-right: 160px;
}