@use "@/styles/global-theme.scss" as *;

.header {
  grid-area: header;
  width: 100%;
  top: 0;
  z-index: $zindex-header;

  /* Targets nav dropdown for desktop nav. These properties were causing
  UX bugs in FF and Safari (DOP-5692) */
  li>div {
    max-width: unset;
    top: unset;
  }
}

.headerHasBanner {
  margin-top: $header-banner-height;
}