.button { 
  font-family: Akzidenz;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #464C4F;
  border-radius: 3px;
  border-style: none;
  display: inline-block;
  padding: 8px 16px 10px 16px;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
  transition-duration: 0.25s;
  cursor: pointer;
  background-color: #fff;
  margin: 5px;

  &--active {
    color: #fff;
    background-color: #7BC552;
    background-image: linear-gradient(to bottom, #7BC552, #62ab39);
    transition-duration: 0.25s;
  }

  &:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.15);
  }
}
