.copy-button-container {
  width: 0;
  height: 0;
  position: relative;
  width: 100%;


  @media print {
    display: none;
  }
}

.copy-button {
  border: 1px solid #7a7b7b;
  background-color: #7a7b7b;
  color: white;
  height: 25px;
  width: 65px;
  font-size: 13px;
  left: calc(100% - 65px);
  position: absolute;

  &:hover {
    cursor: pointer
  }

  &--active {
    background-color: rgb(157, 158, 158);
    border-color: rgb(157, 158, 158);
  }
}

.copy-button > .fa {
  padding-right: 3px;
}
