@import '../colors';

.filter-header {
  display: flex;
  margin-bottom: 25px;

  &__title {
    flex: 1;
  }

  &__clear {
    color: $grey-primary;
    cursor: pointer;
    flex: 1;
    text-align: right;
  }
}
