@import '../colors';
@import '../constants';

$sidebar-width: 330px;

.main {
  display: flex;
  width: 100%;

  &__sidebar {
    background-color: $light-grey-secondary;
    bottom: 0;
    overflow: scroll;
    padding: 20px;
    position: fixed;
    top: $navbar-height;
    width: $sidebar-width;

    &--single {
      background-color: $white-primary;
      border-right: 1px solid $light-grey-primary;
      padding: 0;
    }

    // TODO: this should be its own component
    &__header {
      font-family: Akzidenz;
      font-weight: bold;
      padding: 20px;
    }
  }

  &__title {
    margin-bottom: 30px;
    padding: 0 40px;
  }

  &__content {
    flex: 1;
    margin-left: $sidebar-width;
    margin-top: 45px;
    max-width: 900px; // TODO: Check with Melissa
  }
}
