@import '../colors';

$navbar-height: 45px;
$sidebar-width: 330px;

.main {
  display: flex;

  &__sidebar {
    background-color: $light-grey-secondary;
    bottom: 0;
    padding: 20px;
    position: fixed;
    top: $navbar-height;
    width: $sidebar-width;
  }

  &__title {
    margin-bottom: 0; // TODO: Overrideing H1 style. Not best-practice.
    margin-top: $navbar-height + 10px; // adding 10px to align with "Filters"
    padding: 40px;
  }

  &__content {
    flex: 1;
    margin-left: $sidebar-width;
    max-width: 900px; // TODO: Check with Melissa
  }
}
