@import '../colors';
@import '../constants';

.main {
  display: flex;
  width: 100%;

  &__title {
    margin-bottom: 30px;
    padding: 0 40px;
  }

  &__content {
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    max-width: 900px; // TODO: Check with Melissa
  }
}
