@import '../colors';

.menu {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;

  &__item {
    border-top: 1px solid $light-grey-primary;
    padding: 15px 45px;
    position: relative;

    &:last-child {
      border-bottom: 1px solid $light-grey-primary;
    }

    &--secondary {
      // SHAME
      a {
        color: $green-primary !important;
      }
    }

    // SHAME
    a {
      color: $black-primary;
      text-decoration: none;
    }
  }

  &__link {
    color: $black-primary;
    display: inline-block;
    font-family: Akzidenz;
    outline: none;
    text-decoration: none;
    width: 100%;

  }
}
