@import '../colors';

.menu {
  list-style-type: none;

  &__item:not(:first-child) {
    border-top: 1px solid $light-grey-primary;
  }

  &--hidden {
    visibility: hidden;
  }

  &__item {
    padding: 15px 45px;
    position: relative;

    &--nested {
      &::before {
        border-radius: 3px;
        border-right: 3px solid $grey-primary;
        border-top: 3px solid $grey-primary;
        box-sizing: border-box;
        content: '';
        display: inline-block;
        height: 13px;
        left: 15px;
        position: absolute;
        top: 18px;
        transform: rotate(45deg);
        width: 13px;
      }
    }

    &--secondary {
      color: $green-primary;
    }
  }

  &__item:last-child {
    border-bottom: 1px solid $light-grey-primary;
  }
}
