@import '../colors';

.navbar-search {
  background-color: $light-grey-secondary !important;
  background-image: url('../images/icon-search.png') !important;
  background-position: 14px 14px !important;
  background-repeat: no-repeat !important;
  background-size: 18px 18px !important;
  border: 0;
  flex: 1;
  font-size: 14px;
  height: 45px;
  outline: none;
  padding: 10px 10px 10px 43px;
  position: absolute;
  right: 0;
  text-indent: 0 !important;
}