@import '../colors';

.navbar-dropdown {
  border-left: 1px solid $grey-primary;
  margin-left: 6px;
  padding-left: 6px;
  font-family: Akzidenz;
  font-size: 16px;
  color: $grey-secondary;
  align-self: center;
  margin-top: 3px;
}
