@import '../colors';

.navbar-download {
  color: $green-primary;
  display: inline-block;
  font-family: Akzidenz;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: .3px;
  margin-left: auto;
  margin-right: 5px;
}
