@import '../colors';

.navbar-search {
  background-color: $light-grey-secondary !important;
  background-image: url('../images/icon-search.png') !important;
  background-position: 14px 14px !important;
  background-repeat: no-repeat !important;
  background-size: 18px 18px !important;
  border: 0;
  flex: 1;
  font-size: 16px;
  height: 45px;
  outline: none;
  padding: 10px 10px 10px 43px;
  text-indent: 0 !important;

  // TODO: Figure out how to animate this
  &:focus {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
