@import '../colors';

.navbar-search {
  background-color: $light-grey-secondary;
  background-image: url('../images/icon-search.png');
  background-position: 14px 14px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  border: 0;
  flex: 1;
  font-size: 16px;
  height: 100%;
  outline: none;
  padding: 10px 10px 10px 43px;
  position: relative;
  transition: transform 0.3s ease;
  width: 10000px;

  &:focus {
    transform: translateX(-553px);
  }
}
