@import '../colors';

.navbar-link {
  color: $black-primary;
  display: inline-block;
  font-family: Akzidenz;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: .3px;
  margin: 0 20px;
  padding: 15px 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;

  &:first-child {
    margin-left: 40px; // TODO: make this a var, left-padding on tutorial-items
  }

  &:hover {
    color: $green-primary;
  }

  &--active {
    color: $green-primary;

    &:hover {
      color: $green-secondary;

      &::after {
        background-color: $green-secondary;
        transition-duration: .4s;
      }
    }

    &::after {
      background-color: $green-primary;
      bottom: 0;
      content: '';
      height: 4px;
      left: 0;
      position: absolute;
      transition-duration: .4s;
      width: 100%;
    }
  }
}
