@import '../colors';

.navbar {
  align-items: center;
  background-color: $white-primary;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  transition: left 2s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 9999;

  &__left {
    display: inline-flex;
    padding-left: 20px;
    width: 330px;
  }

  // TODO: this should probably should be coupled with .navbar-link instead
  &__middle {
    flex: 1;
  }

  &__right {
    align-items: center;
    align-self: stretch;
    display: flex;
    // position: relative; // this is for when the search is focused
    width: 330px;
  }
}
