@import '../colors';

.navbar-dropdown {
  color: $grey-secondary;
  cursor: pointer;
  display: inline-block;
  font-family: Akzidenz;
  font-size: 16px;
  user-select: none;

  &:hover {
    color: $green-secondary;
  }

  &::after {
    border-left: 7px solid transparent;
    border-radius: 3px;
    border-right: 7px solid transparent;
    border-top: 7px solid $grey-primary;
    box-sizing: border-box;
    content: '';
    display: inline-block;
    margin-left: 3px;
    position: absolute;
    top: 19px;
    transition: transform .2s ease-in-out;
  }

  &--open {
    &::after {
      transform: rotate(180deg);
      transition: transform .2s ease-in-out;
    }
  }

  &__menu {
    background-color: $white-primary;
    box-shadow: 0 2px 4px 0 $primary-shadow;
    position: absolute;
    top: 45px;
    transition: max-height .2s ease-in-out, visibility .2s ease-in-out;

    &--hidden {
      max-height: 0;
      overflow: hidden;
      visibility: hidden;
    }

    &--shown {
      max-height: 9999px;
      visibility: visible;
    }
  }
}
