@import '../colors';

.navbar-links {
  display: inline-block;
  margin: 0 40px;

  &__item {
    color: $black-primary;
    display: inline-block;
    font-family: Akzidenz;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .3px;
    margin: 0 20px;
    padding: 15px 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

    // TODO: use :not instead
    &:first-child {
      margin-left: 0;
    }

    // TODO: use :not instead
    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $green-primary;
    }

    &--active {
      color: $green-primary;

      &:hover {
        color: $green-secondary;

        &::after {
          background-color: $green-secondary;
          transition-duration: .4s;
        }
      }

      &::after {
        background-color: $green-primary;
        bottom: 0;
        content: '';
        height: 4px;
        left: 0;
        position: absolute;
        transition-duration: .4s;
        width: 100%;
      }
    }
  }
}
