@import '../colors';

.navbar {
  background-color: $white-primary;
  box-shadow: 0 2px 4px 0 $primary-shadow;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  &__left {
    align-items: center;
    display: flex;
    padding-left: 20px;
    width: 330px;
  }

  &__right {
    display: flex;
    flex: 1;
    position: relative; // this is for when the search is focused
  }
}
