@import '../colors';

.single {
  padding: 0 40px;

  h1 {
    border-bottom: 1px solid $light-grey-primary;
    margin-bottom: 20px; // Fix to add spacing when page has <p> before <h2>
    padding-bottom: 10px;
  }

  h2:not(:first-of-type) {
    border-top: 1px solid $light-grey-primary;
    padding-top: 30px;
  }

  ol,
  ul {
    font-family: Akzidenz;
    padding-left: 40px;
    margin-bottom: 30px;

    // Spacing in between list items
    li {
      padding-top: .2em;
    }

    p {
      margin-bottom: .2em;
    }

  }

  // Remove some spacing when a paragraph leads into a list
  p {
    + ul {
      margin-top: -15px;
    }
    + ol {
      margin-top: -15px;
    }
  }

  // pygments theme
  .highlight {
    background: $pygment-01;
    margin-bottom: 25px;

    pre {
      background-color: $light-blue-primary;
      border: solid 1px $light-blue-secondary;
      border-left: 5px solid $light-blue-secondary;
      font-family: 'Source Code Pro', monospace;
      font-size: 16px;
      line-height: 24px; // TODO: ask melissa
      overflow: auto;
      padding: 24px 12px;
    }

    .hll {
      background-color: $pygment-02;
    }

    // Comment
    .c {
      color: $pygment-03;
      font-style: italic;
    }

    // Error
    .err {
      border: 1px solid $pygment-04;
    }

    // Keyword
    .k {
      color: $pygment-05;
      font-weight: bold;
    }

    // Operator
    .o {
      color: $pygment-06;
    }

    // Comment.Hashbang
    .ch {
      color: $pygment-03;
      font-style: italic;
    }

    // Comment.Multiline
    .cm {
      color: $pygment-03;
      font-style: italic;
    }

    // Comment.Preproc
    .cp {
      color: $pygment-05;
    }

    // Comment.PreprocFile
    .cpf {
      color: $pygment-03;
      font-style: italic;
    }

    // Comment.Single
    .c1 {
      color: $pygment-03;
      font-style: italic;
    }

    // Comment.Special
    .cs {
      color: $pygment-03;
      background-color: $pygment-07;
    }

    // Generic.Deleted
    .gd {
      color: $pygment-08;
    }

    // Generic.Emph
    .ge {
      font-style: italic;
    }

    // Generic.Error
    .gr {
      color: $pygment-04;
    }

    // Generic.Heading
    .gh {
      color: $pygment-09;
      font-weight: bold;
    }

    // Generic.Inserted
    .gi {
      color: $pygment-10;
    }

    // Generic.Output
    .go {
      color: $pygment-11;
    }

    // Generic.Prompt
    .gp {
      color: $pygment-12;
      font-weight: bold;
    }

    // Generic.Strong
    .gs {
      font-weight: bold;
    }

    // Generic.Subheading
    .gu {
      color: $pygment-13;
      font-weight: bold;
    }

    // Generic.Traceback
    .gt {
      color: $pygment-14;
    }

    // Keyword.Constant
    .kc {
      color: $pygment-05;
      font-weight: bold;
    }

    // Keyword.Declaration
    .kd {
      color: $pygment-05;
      font-weight: bold;
    }

    // Keyword.Namespace
    .kn {
      color: $pygment-05;
      font-weight: bold;
    }

    // Keyword.Pseudo
    .kp {
      color: $pygment-05;
    }

    // Keyword.Reserved
    .kr {
      color: $pygment-05;
      font-weight: bold;
    }

    // Keyword.Type
    .kt {
      color: $pygment-15;
    }

    // Literal.Number
    .m {
      color: $pygment-16;
    }

    // Literal.String
    .s {
      color: $pygment-17;
    }

    // Name.Attribute
    .na {
      color: $pygment-17;
    }

    // Name.Builtin
    .nb {
      color: $pygment-05;
    }

    // Name.Class
    .nc {
      color: $pygment-18;
      font-weight: bold;
    }

    // Name.Constant
    .no {
      color: $pygment-19;
    }

    // Name.Decorator
    .nd {
      color: $pygment-20;
      font-weight: bold;
    }

    // Name.Entity
    .ni {
      color: $pygment-21;
      font-weight: bold;
    }

    // Name.Exception
    .ne {
      color: $pygment-05;
    }

    // Name.Function
    .nf {
      color: $pygment-22;
    }

    // Name.Label
    .nl {
      color: $pygment-23;
      font-weight: bold;
    }

    // Name.Namespace
    .nn {
      color: $pygment-18;
      font-weight: bold;
    }

    // Name.Tag
    .nt {
      color: $pygment-24;
      font-weight: bold;
    }

    // Name.Variable
    .nv {
      color: $pygment-25;
    }

    // Operator.Word
    .ow {
      color: $pygment-05;
      font-weight: bold;
    }

    // Text.Whitespace
    .w {
      color: $pygment-26;
    }

    // Literal.Number.Bin
    .mb {
      color: $pygment-16;
    }

    // Literal.Number.Float
    .mf {
      color: $pygment-16;
    }

    // Literal.Number.Hex
    .mh {
      color: $pygment-16;
    }

    // Literal.Number.Integer
    .mi {
      color: $pygment-16;
    }

    // Literal.Number.Oct
    .mo {
      color: $pygment-16;
    }

    // Literal.String.Affix
    .sa {
      color: $pygment-17;
    }

    // Literal.String.Backtick
    .sb {
      color: $pygment-17;
    }

    // Literal.String.Char
    .sc {
      color: $pygment-17;
    }

    // Literal.String.Delimiter
    .dl {
      color: $pygment-17;
    }

    // Literal.String.Doc
    .sd {
      color: $pygment-17;
      font-style: italic;
    }

    // Literal.String.Double
    .s2 {
      color: $pygment-17;
    }

    // Literal.String.Escape
    .se {
      color: $pygment-17;
      font-weight: bold;
    }

    // Literal.String.Heredoc
    .sh {
      color: $pygment-17;
    }

    // Literal.String.Interpol
    .si {
      color: $pygment-27;
      font-style: italic;
    }

    // Literal.String.Other
    .sx {
      color: $pygment-12;
    }

    // Literal.String.Regex
    .sr {
      color: $pygment-28;
    }

    // Literal.String.Single
    .s1 {
      color: $pygment-17;
    }

    // Literal.String.Symbol
    .ss {
      color: $pygment-29;
    }

    // Name.Builtin.Pseudo
    .bp {
      color: $pygment-05;
    }

    // Name.Function.Magic
    .fm {
      color: $pygment-22;
    }

    // Name.Variable.Class
    .vc {
      color: $pygment-25;
    }

    // Name.Variable.Global
    .vg {
      color: $pygment-25;
    }

    // Name.Variable.Instance
    .vi {
      color: $pygment-25;
    }

    // Name.Variable.Magic
    .vm {
      color: $pygment-25;
    }

    // Literal.Number.Integer.Long
    .il {
      color: $pygment-16;
    }
  }
}
