@import '../colors';

.single {
  margin-left: 330px;
  margin-top: 45px;
  max-width: 990px;
  padding: 20px 80px;

  h1 {
    border-bottom: 1px solid $light-grey-primary;
    padding-bottom: 10px;
  }

  h2 {
    border-top: 1px solid $light-grey-primary;
    // padding-top: 10px;

    padding-top: 30px;
    // margin-top: 60px;

    // TODO: this doesn't work
    &:first-child {
      border: 0;
    }
  }
}
