.spinner {
  width: 60px;
  height: 60px;
  margin: 50px auto;
  background-color: #333;

  border-radius: 100%;
  animation: spinner-scale 1.0s infinite ease-in-out;

  &--hidden {
    display: none;
  }
}

@keyframes spinner-scale {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}
