@import '../colors';

.submenu {
  list-style-type: none;
  transition: max-height .2s ease-in-out, visibility .2s ease-in-out;

  &__title {
    position: relative;

    &::before {
      border-radius: 3px;
      border-right: 3px solid $grey-primary;
      border-top: 3px solid $grey-primary;
      box-sizing: border-box;
      content: '';
      display: inline-block;
      height: 13px;
      left: -26px;
      position: absolute;
      top: 2px;
      transform: rotate(45deg);
      transition: transform .2s ease-in-out;
      width: 13px;
    }

    &--open {
      &::before {
        transform: rotate(135deg);
        transition: transform .2s ease-in-out;
      }
    }
  }

  &--hidden {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    display: none;

    // SHAME: using the cascade to animate opacity
    & > .submenu__item {
      opacity: 0;
    }
  }

  &--shown {
    max-height: 9999px;
    visibility: visible;

    // SHAME: using the cascade to animate opacity
    & > .submenu__item {
      opacity: 1;
    }
  }

  &__item {
    padding-top: 10px;
    padding-left: 25px;
    position: relative;
    transition: opacity .2s ease-in-out;

    &--secondary {
      color: $green-primary;
    }
  }
}
