@import '../colors';

.toc {
  list-style: none;

  &__item {
    border-top: 1px solid $light-grey-primary;
  }

  &__item:last-child {
    border-bottom: 1px solid $light-grey-primary;
  }

  &__link {
    color: $black-primary;
    display: inline-block;
    font-family: Akzidenz;
    outline: none;
    padding: 20px;
    text-decoration: none;
    width: 100%;
  }

  &__nestedlist {
    list-style: none;
    padding: 0px;
  }
}
