@import '../colors';

.tutorial-search {
  background-image: url('../images/icon-search.png');
  background-position: 14px 18px;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  border: 1px solid $grey-primary;
  border-radius: 3px;
  font-size: 20px;
  outline: none;
  padding: 20px 20px 20px 50px;
  width: 100%;
  -webkit-appearance: none;

  &__wrapper {
    margin: 40px 40px 10px;
  }
}
