@import '../colors';

.tutorial-list-item {
  list-style-type: none;
  padding: 15px 40px;

  &:first-child {
    padding-top: 0;
  }

  // SHAME
  &:hover &__title {
    color: $green-secondary;
    transition-duration: .4s;
  }

  &__link {
    text-decoration: none;
  }

  &__title {
    color: $green-primary;
    font-family: Akzidenz;
    font-size: 20px;
    line-height: 20px; // TODO: Overrideing H1 style. Not best-practice.
    text-align: left;
    transition-duration: .4s;
  }

  &__snippet {
    color: $black-primary;
    font-family: Akzidenz;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: left;
  }

  &__option {
    color: $grey-secondary;
    display: inline-block;
    font-family: Akzidenz;
    font-size: 16px;
    font-style: italic;
    line-height: 1.5;

    &:not(:last-child)::after {
      content: ',';
      margin-right: 5px;
    }
  }
}
