======================================
Additional Requirements for Python 2.4
======================================

.. index:: hmac
   single: requirements; Python 2.4 Installation

If your system is running Python 2.4, you will need to install the
``hmac`` and ``hashlib`` Python modules. You can do so using
``easy_install`` as in the following:

.. code-block:: sh

   sudo easy_install hmac hashlib

.. important::

   Do not use ``pip`` to install modules when using Python 2.4 or 2.5,
   as there are some compatibility issues. Some users have reported
   problems installing ``hmac``, if ``easy_install`` produces an error
   or you suspect a problem with these libraries see
   :ref:`instructions for installing hmac manually
   <troubleshooting-hmac>`.
