===========================
Requirements for Python 2.4
===========================

.. index:: hmac
   single: requirements; Python 2.4 Installation

Overview
--------

If your system is running Python 2.4, you will need to install the
``hmac`` and ``hashlib`` Python modules.

.. include:: /includes/fact-new-go-agent.rst

Prerequisites
-------------

- ``hmac`` to install Python package for hash-based message authentication code
- ``hashlib`` to install Python package of hash libraries
- ``easy_install`` to install Python libraries

Procedure
---------

.. include:: /includes/steps/monitoring-python-2.4.rst


Next Steps
----------

.. include:: /includes/monitoring-install-next-steps.rst
