{
    "swagger":"2.0",
    "info":{
       "version":"1.0.0",
       "title":"Lorem Ipsum",
       "description":"Basic Lorem Ipsum spec file, for MongoDB Open API styling preview purposes.",
       "termsOfService":"http://swagger.io/terms/",
       "contact":{
          "name":"MongoDB Docs Platform Team"
       },
       "license":{
          "name":"MIT"
       }
    },
    "host":"www.mongodb.com",
    "basePath":"/api",
    "schemes":[
       "http"
    ],
    "consumes":[
       "application/json"
    ],
    "produces":[
       "application/json"
    ],
    "paths":{
       "/lorem":{
          "get":{
             "description":"Lorem ipsum dolor sit amet",
             "operationId":"loremIpsum",
             "produces":[
                "application/json",
                "application/xml",
                "text/xml",
                "text/html"
             ],
             "parameters":[
                {
                   "name":"tags",
                   "in":"query",
                   "description":"tags to filter by",
                   "required":false,
                   "type":"array",
                   "items":{
                      "type":"string"
                   },
                   "collectionFormat":"csv"
                },
                {
                   "name":"limit",
                   "in":"query",
                   "description":"maximum number of results to return",
                   "required":false,
                   "type":"integer",
                   "format":"int32"
                }
             ],
             "responses":{
                "200":{
                   "description":"loremIpsum",
                   "schema":{
                      "type":"array",
                      "items":{
                         "$ref":"#/definitions/Lorem"
                      }
                   }
                },
                "default":{
                   "description":"loremIpsum",
                   "schema":{
                      "$ref":"#/definitions/ErrorModel"
                   }
                }
             }
          }
       }
    },
    "definitions":{
       "Lorem":{
          "type":"object",
          "allOf":[
             {
                "$ref":"#/definitions/Ipsum"
             },
             {
                "required":[
                   "id"
                ],
                "properties":{
                   "id":{
                      "type":"integer",
                      "format":"int64"
                   }
                }
             }
          ]
       },
       "Ipsum":{
          "type":"object",
          "required":[
             "name"
          ],
          "properties":{
             "name":{
                "type":"string"
             },
             "tag":{
                "type":"string"
             }
          }
       },
       "ErrorModel":{
          "type":"object",
          "required":[
             "code",
             "message"
          ],
          "properties":{
             "code":{
                "type":"integer",
                "format":"int32"
             },
             "message":{
                "type":"string"
             }
          }
       }
    }
}