.step {
  display: flex;
  gap: var(--via-space-400);

  h2,
  h4,
  h5,
  h6 {
    margin-top: unset;
  }

  h3 {
    margin-top: var(--via-space-050);
  }
}

.stepBlock {
  position: relative;
  // 27px circle + 32px minimum spacing between circles
  min-height: 59px;
}

.circle {
  align-items: center;
  background-color: inherit;
  border: 1.5px solid var(--via-color-border-primary);
  border-radius: 50%;
  color: var(--via-color-text-primary);
  display: flex;
  font-size: var(--via-font-size-large);
  font-weight: 500;
  height: 27px;
  justify-content: center;
  line-height: 28px;
  width: 27px;
}

.content {
  flex: 1;
  min-width: 0;

  section > *,
  ol p,
  ul p {
    margin-bottom: var(--via-space-400);
  }
}
