---
openapi: 3.1.0
info:
  description: |-
    The App Services Admin API lets you programmatically perform
    administrative tasks over HTTPS. This includes defining &
    configuring things like:

    - App Deployment & Security
    - APIs & Endpoints
    - Authentication & User Management
    - Data Sources
    - Device Sync
    - Environments
    - Functions
    - Logs
    - Rules
    - Schemas
    - Static Hosting
    - Triggers
    - Usage & Billing Metrics
    - Values & Secrets

    The Admin API is for application development, configuration, and
    deployment. To use the features you configure with the
    Admin API, client applications connect with an HTTPS API specific
    to your App.

    ## Project & Application IDs

    **Note**: The terms _Project ID_ and _Group ID_ are interchangeable.

    Atlas App Services Admin API endpoints frequently require you to include two parameters in the URL:

    - Your Atlas _Project ID_ (also sometimes called a _Group ID_)
    - Your App Services _Application ID_

    ### Project ID

    You can find your Project ID from the MongoDB Atlas dashboard or with the MongoDB Atlas CLI.

    ### Application ID

    To find an Application ID, make a request to the [List
    Apps](#operation/adminListApplications) endpoint for your project.
    You'll need an `access_token` to make this request. To learn how to
    get one, see [Get an Admin API Session Access
    Token](#get-an-admin-api-session-access-token).

    ```sh
    curl --request GET \
      --header 'Authorization: Bearer <access_token>' \
      https://services.cloud.mongodb.com/api/admin/v3.0/groups/{groupId}/apps
    ```

    This will return a list of objects describing each App Services App
    in the provided project/group. For Admin API requests, your
    Application ID is the ObjectId value in the `_id` field, _not_ the
    `client_app_id`.

    ```json
    [
      {
        "_id": "5997529e46224c6e42gb6dd9",
        "group_id": "57879f6cc4b32dbe440bb8c5",
        "domain_id": "5886619e46124e4c42fb5dd8",
        "client_app_id": "myapp-abcde",
        "name": "myapp",
        "location": "US-VA",
        "deployment_model": "GLOBAL",
        "last_used": 1615153544,
        "last_modified": 0,
        "product": "standard",
        "environment": ""
      }
    ]
    ```

    ## Get an Admin API Session Access Token

    Every request to the App Services Admin API must include a valid,
    unexpired access token issued by the MongoDB Cloud API. You include
    this token in the `Authorization` header of each request using the
    bearer auth scheme.

    You need a valid [MongoDB Atlas programmatic API
    key](https://docs.atlas.mongodb.com/configure-api-access) for
    MongoDB Atlas to get a token.

    Once you have an API key pair, call the authentication endpoint:

    ```shell
    curl --request POST \
      --header 'Content-Type: application/json' \
      --header 'Accept: application/json' \
      --data '{"username": "<Public API Key>", "apiKey": "<Private API Key>"}' \
      https://services.cloud.mongodb.com/api/admin/v3.0/auth/providers/mongodb-cloud/login
    ```

    If authentication succeeds, App Services returns an access token as
    part of the JSON response document:

    ```json
    {
      "access_token": "<access_token>",
      "refresh_token": "<refresh_token>",
      "user_id": "<user_id>",
      "device_id": "<device_id>"
    }
    ```

    The `access_token` represents a limited-time authorization to interact
    with the Admin API. To authenticate a request, include the token in a
    [Bearer token](https://developer.mozilla.org/en-US/docs/Web/HTTP/Authentication)
    `Authorization` header.

    ```http
    Authorization: Bearer <access_token>
    ```

    ## Refresh an Admin API Session Access Token

    Session access tokens expire 30 minutes after they are issued. When
    you login, the response also includes a `refresh_token` that you can
    use to get a new access token. This is useful because you only need
    to log in with credentials one time. After that you can use the
    refresh token to re-authenticate for as long as its valid.

    By default, refresh tokens expire 60 days after being issued. You can
    customize refresh token expiration for a minimum of 30 minutes or a
    maximum of 5 years.

    To refresh your authentication and get a new `access_token`, call
    the auth session endpoint with your `refresh_token` in the
    `Authorization` header:

    ```shell
    curl --request POST \
      --header 'Authorization: Bearer <refresh_token>' \
      https://services.cloud.mongodb.com/api/admin/v3.0/auth/session
    ```

    If the refresh token is valid, the response body includes a new
    `access_token` that's valid for the next 30 minutes:

    ```json
    {
      "access_token": "<access_token>"
    }
    ```

  version: "3.0"
  title: MongoDB Atlas App Services Admin API
servers:
  - url: https://services.cloud.mongodb.com/api/admin/v3.0
    description: The root API resource and starting point for the App Services API.
paths:
  "/auth/providers":
    get:
      tags:
        - admin
      operationId: getAdminAuthProviders
      summary: List App Services Admin Auth Providers
      responses:
        "200":
          description: Successfully enumerated available authentication providers.
          content:
            application/json:
              schema:
                type: array
                description: An array of authentication providers.
                items:
                  "$ref": "#/components/schemas/BaseAuthProvider"
      security: []
  "/auth/providers/mongodb-cloud/login":
    post:
      tags:
        - admin
      operationId: adminLogin
      summary: Authenticate as an App Services administrator
      description: |
        Authenticate as an App Services administrator using an Atlas
        programmatic API key pair. To learn more, see [Get An Admin API
        Session Access Token](#get-an-admin-api-session-access-token).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                username:
                  type: string
                apiKey:
                  type: string
              required:
                - username
                - apiKey
      responses:
        "200":
          description: Authentication was successful.
          content:
            application/json:
              schema:
                properties:
                  access_token:
                    type: string
                    description: |-
                      An access token you may provide in the `Authorization` header of API
                      requests. [The App Services API Authentication section](#section/Get-Authentication-Tokens) demonstrates how to use this token.
                  refresh_token:
                    type: string
                    description: |
                      A refresh token you may provide in the `Authorization` header of
                      [POST auth/session](#section/adminCreateSession)
                      to obtain a new `access_token` for the current user session.
                  user_id:
                    type: string
                    description: The unique `_id` value of the MongoDB Cloud user.
                  device_id:
                    type: string
      security: []
  "/auth/profile":
    get:
      tags:
        - admin
      operationId: getAdminProfile
      summary: Get information about the currently logged in user
      responses:
        "200":
          description: The profile was successfully retrieved.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AdminUser"
  "/auth/session":
    post:
      tags:
        - admin
      operationId: adminCreateSession
      summary: Obtain a session access token
      responses:
        "201":
          description: Successfully created.
          content:
            application/json:
              schema:
                properties:
                  access_token:
                    type: string
        "401":
          description: Invalid token
          content:
            application/json:
              schema:
                oneOf:
                  - allOf:
                      - $ref: "#/components/schemas/Error"
                      - properties:
                          error:
                            const: "invalid refresh token: incorrect token type"
                        description: |-
                          The request did not use bearer token
                          authentication with a valid refresh token. Make
                          sure the Authorization header contains the
                          `refresh_token`, not the `access_token`.
      security:
        - refreshAuth: []
    delete:
      tags:
        - admin
      operationId: adminDeleteSession
      summary: Delete a session access token
      responses:
        "204":
          description: Deleted
        "401":
          description: Invalid token or session
          content:
            application/json:
              schema:
                oneOf:
                  - allOf:
                      - $ref: "#/components/schemas/Error"
                      - properties:
                          error:
                            const: "invalid refresh token: incorrect token type"
                        description: |-
                          The request did not use bearer token
                          authentication with a valid refresh token. Make
                          sure the Authorization header contains the
                          `refresh_token`, not the `access_token`.
                  - allOf:
                      - $ref: "#/components/schemas/Error"
                      - properties:
                          error:
                            const: "invalid session: failed to find refresh token"
                          error_code:
                            const: "InvalidSession"
                        description: |-
                          The provided refresh token does not match any
                          current sessions.

  "/provider_regions":
    get:
      tags:
        - deploy
      operationId: adminListAppRegions
      summary: List all available Atlas App cloud regions
      description: |-
        Return a list of all supported cloud regions in which you can
        deploy an Atlas App.
      responses:
        "200":
          description: A list of all available Atlas App cloud region names.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/CloudProviderRegion"
  "/groups/{groupId}/apps":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
    get:
      tags:
        - apps
      operationId: adminListApplications
      summary: List all App Services Apps in an Atlas project/group
      description: |-
        List all App Services Apps within an Atlas
        [project/group](https://docs.atlas.mongodb.com/tutorial/manage-projects/).
      parameters:
        - in: query
          name: product
          required: false
          schema:
            type: string
            enum:
              - standard
              - atlas
              - data-api
              - device-sync
          style: simple
          explode: false
          description: |-
            One or more specific App Services product types. If specified,
            this endpoint only returns Apps of the specified product type(s).

            Most apps use the `standard` product type, which this
            endpoint returns by default. The `atlas`, `data-api`, and `device-sync`
            product types represent special apps for
            [Atlas Triggers](https://docs.mongodb.com/atlas/triggers),
            [Atlas Data API](https://docs.mongodb.com/atlas/api/data-api/),
            and [Atlas Device Sync](https://www.mongodb.com/docs/atlas/app-services/sync/)
            that you can access through the Atlas UI.

            You can specify multiple product types as a comma-separated list:

            ```
            /groups/{groupId}/apps?product=atlas,data-api
            ```
      responses:
        "200":
          description: Successfully listed.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AppInstance"
    post:
      tags:
        - apps
      operationId: adminCreateApplication
      summary: Create a new app
      parameters:
        - name: defaults
          in: query
          required: false
          schema:
            type: boolean
          description: Whether or not to create a default application.
        - name: product
          in: query
          required: false
          schema:
            type: string
            enum:
              - standard
              - atlas
              - data-api
              - device-sync
          description: |-
            The App's product type. Apps use the `standard` product type
            by default. For most apps, you do not need to specify a
            `product` at all, or should specify `standard`.

            The `atlas`, `data-api`, and `device-sync`
            product types represent special apps for
            [Atlas Triggers](https://docs.mongodb.com/atlas/triggers),
            [Atlas Data API](https://docs.mongodb.com/atlas/api/data-api/),
            and [Atlas Device Sync](https://www.mongodb.com/docs/atlas/app-services/sync/)
            that you can access through the Atlas UI.
      requestBody:
        description: The application to create.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppConstructor"
      responses:
        "201":
          description: The application was successfully created.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AppInstance"
        "400":
          "$ref": "#/components/responses/BadRequest"
  "/groups/{groupId}/apps/{appId}":
    get:
      tags:
        - apps
      operationId: adminGetApplication
      summary: Get an app
      responses:
        "200":
          description: The application was successfully retrieved.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AppInstance"
    delete:
      tags:
        - apps
      operationId: adminDeleteApplication
      summary: Delete an app
      responses:
        "204":
          description: The application was successfully deleted.
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
  "/groups/{groupId}/apps/{appId}/export":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - in: query
        name: deployment
        required: false
        description: The `_id` of a specific deployment to export. If not specified, export the latest deployment.
        example: 6373362f01a569d5cd571c68
        schema:
          type: string
      - in: query
        name: source_control
        required: false
        description: |-
          If `true`, the exported directory is suitable for automatic
          deployment from GitHub or other source control.

          Cannot be used with the `template` query parameter.
        schema:
          type: boolean
          default: false
      - in: query
        name: template
        required: false
        description: |-
          If `true`, the exported directory does not include any
          identifiers or other data that would tie the app to a specific
          deployment instance.

          Cannot be used with the `source_control` query parameter.
        schema:
          type: boolean
          default: false
      - in: query
        name: version
        required: false
        description: |-
          The configuration file schema version to export. This value
          corresponds to `config_version` in `root_config.json`.
        example: 20210101
        schema:
          type: string
    get:
      tags:
        - apps
      operationId: adminExportApplication
      summary: Export an app as a zip file
      description: |-
        **The Export Endpoint is deprecated. Instead, call the [Pull App
        Configuration Files](#operation/adminPullAppConfiguration)
        endpoint with an ``Accept: application/zip`` header.**

        [Export](https://www.mongodb.com/docs/atlas/app-services/apps/export/)
        an application as a zip file.
      responses:
        "200":
          description: The application was successfully exported.

  "/groups/{groupId}/apps/{appId}/event_subscriptions":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - name: type
        description: |-
          The type of event subscription to return.

          - `DATABASE`: Return Database Triggers
          - `AUTHENTICATION`: Return Authentication Triggers
          - `SCHEDULED`: Return Scheduled Triggers
          - `SYNCTRANSLATOR`: Return Device Sync translators
        in: query
        required: false
        schema:
          type: string
          enum:
            - DATABASE
            - AUTHENTICATION
            - SCHEDULED
            - SYNCTRANSLATOR
          x-enumDescriptions:
            DATABASE: Return Database Triggers
            AUTHENTICATION: Return Authentication Triggers
            SCHEDULED: Return Scheduled Triggers
            SYNCTRANSLATOR: Return Device Sync translators
    get:
      tags:
        - event-subscriptions
      operationId: adminListEventSubscriptions
      summary: List Event Subscriptions
      description: Get all event subscriptions.
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: array
                description: |-
                  A list of all event subscriptions for the app. To see
                  Device Sync translator subscriptions, call this
                  endpoint with the query parameter
                  `?type=SYNCTRANSLATOR`.
                items:
                  $ref: "#/components/schemas/EventSubscription"
  "/groups/{groupId}/apps/{appId}/event_subscriptions/{eventSubscriptionId}":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/EventSubscriptionId"
    get:
      tags:
        - event-subscriptions
      operationId: adminGetEventSubscription
      summary: Get an Event Subscription
      description: Return information about an event subscription.
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventSubscription"

  "/groups/{groupId}/apps/{appId}/event_subscriptions/{eventSubscriptionId}/execution":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/EventSubscriptionId"
    get:
      tags:
        - event-subscriptions
      operationId: adminGetLatestEventSubscriptionExecution
      summary: Get the Latest Event Subscription Execution
      description: Return information about the most recent execution of an event subscription.
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                  resource_id:
                    type: object
                  completed_at:
                    type: object
                    description: |-
                      The last time a batch was processed from the event stream.

                      The value of `completed_at` should be relatively
                      close to the current time. If `completed_at` is
                      not updating over time, it might mean that the
                      event processor (e.g. Device Sync) is down or
                      stuck.
                  cluster_time:
                    type: object
                    description: |-
                      The time of the latest event in the most recently processed batch.

                      If the value of `cluster_time` is significantly
                      earlier than the `completed_at` time, the event
                      processor (e.g. Device Sync) is lagging behind the event.

  "/groups/{groupId}/apps/{appId}/triggers":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
    get:
      tags:
        - triggers
      operationId: adminListTriggers
      summary: Get all triggers
      description: Get a list of all [triggers](https://www.mongodb.com/docs/atlas/app-services/triggers/overview/) in your application.
      responses:
        "200":
          description: Successfully listed triggers.
          content:
            application/json:
              schema:
                type: array
                description: A list of all database, authentication, and scheduled triggers defined for the app.
                items:
                  "$ref": "#/components/schemas/Trigger"
    post:
      tags:
        - triggers
      operationId: adminCreateTrigger
      summary: Create a trigger
      description: Create a new [trigger](https://www.mongodb.com/docs/atlas/app-services/triggers/overview/) in your application.
      requestBody:
        description: A configuration for a database, scheduled, or authentication trigger.
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/TriggerConstructor"
      responses:
        "201":
          description: Successfully created.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Trigger"

  "/groups/{groupId}/apps/{appId}/triggers/{triggerId}":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/TriggerId"
    get:
      tags:
        - triggers
      operationId: adminGetTrigger
      summary: Get a trigger
      description: Get the configuration for an existing [trigger](https://www.mongodb.com/docs/atlas/app-services/triggers/overview/) in your application.
      responses:
        "200":
          description: Successfully retrieved trigger.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Trigger"
    put:
      tags:
        - triggers
      operationId: adminUpdateTrigger
      summary: Update a trigger
      description: Modify an existing [trigger](https://www.mongodb.com/docs/atlas/app-services/triggers/overview/) in your application.
      requestBody:
        description: The updated trigger configuration.
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/Trigger"
      responses:
        "204":
          description: Successfully updated the trigger.
        "409":
          description: Encountered an error while updating the trigger.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
    delete:
      tags:
        - triggers
      operationId: adminDeleteTrigger
      summary: Delete a trigger
      description: Remove an existing [trigger](https://www.mongodb.com/docs/atlas/app-services/triggers/overview/) from your application.
      responses:
        "200":
          description: Successfully deleted the trigger.
          content:
            application/json:
              schema:
                properties: {}

  "/groups/{groupId}/apps/{appId}/triggers/{triggerId}/resume":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/TriggerId"
    put:
      tags:
        - triggers
      operationId: adminResumeTrigger
      summary: Resume a suspended trigger
      description: Resume a [suspended](https://www.mongodb.com/docs/atlas/app-services/triggers/database-triggers/#suspended-triggers) database trigger.
      requestBody:
        description: Configuration options for the resume operation.
        content:
          application/json:
            schema:
              type: object
              properties:
                disable_token:
                  type: boolean
                  description: |-
                    If `true`, resumes the trigger without
                    processing missed events. Otherwise, attempts to resume the 
                    trigger from the first change event after it failed by using 
                    a resume token.
      responses:
        "204":
          description: Successfully resumed the trigger.
        "404":
          description: Trigger not found.
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    description: A description of the error that App Services encountered.

  "/groups/{groupId}/apps/{appId}/values":
    get:
      tags:
        - values
      operationId: adminListValues
      description: |-
        List all [values](https://www.mongodb.com/docs/atlas/app-services/values-and-secrets)
        defined in an application.
      summary: |-
        List all values defined in an application.
      responses:
        "200":
          description: |-
            [values](https://www.mongodb.com/docs/atlas/app-services/values-and-secrets) were
            successfully enumerated.
          content:
            application/json:
              schema:
                items:
                  "$ref": "#/components/schemas/ValueSummary"
    post:
      tags:
        - values
      operationId: adminCreateValue
      summary: Define a Value in an application
      description: |-
        Define a [Value](https://www.mongodb.com/docs/atlas/app-services/values-and-secrets) in
        an application.
      requestBody:
        description: The value to create.
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/NewValue"
      responses:
        "201":
          description: |-
            The [value](https://www.mongodb.com/docs/atlas/app-services/values-and-secrets) was
            successfully defined.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/NewValue"
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"

  "/groups/{groupId}/apps/{appId}/values/{valueId}":
    get:
      tags:
        - values
      operationId: adminGetValue
      summary: |-
        Retrieve a value definition from an application
      description: |-
        Retrieve a [value](https://www.mongodb.com/docs/atlas/app-services/values-and-secrets)
        definition from an application.
      responses:
        "200":
          description: Successfully retrieved the value.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Value"
    delete:
      tags:
        - values
      operationId: adminDeleteValue
      summary: |-
        Delete a value defined in an application.
      description: |-
        Delete a [value](https://www.mongodb.com/docs/atlas/app-services/values-and-secrets)
        defined in an application.
      responses:
        "204":
          description: Successfully deleted the value.
    put:
      tags:
        - values
      operationId: adminUpdateValue
      summary: Update a value definition in an application
      description: |-
        Update a [value](https://www.mongodb.com/docs/atlas/app-services/values-and-secrets)
        definition in an application.
      responses:
        "200":
          description: Successfully updated the value.
          content:
            application/json:
              schema:
                items:
                  "$ref": "#/components/schemas/NewValue"
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/ValueId"

  "/groups/{groupId}/apps/{appId}/multi_data_sources":
    post:
      tags:
        - services
      operationId: adminLinkMultiDataSources
      summary: Link multiple data sources
      description: |-
        Call this endpoint to link multiple data sources to an App. The total 
        limit of linked data sources per App is 100. Data Sources linked by this
        endpoint will have `ReadAndWrite` default rules. 
      requestBody:
        content:
          application/json:
            schema:
              type: array
              description: Limit of 25 linked data sources in the payload. 
              items:
                $ref: "#/components/schemas/LinkingDataSourceConstructor"
      responses:
        "201":
          description: No content
        "400":
          description: |-
            - Data Sources exceeds the limit of 25 in the payload
            - Data Sources exceed the limit of 100 on the App
            - Multiple Default Rules for a single Data Source 
            - Type of Data Source is neither "mongodb-atlas" nor "datalake"
            - Linking failed for at least one Data Source
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/FailedLinkingDataSourceResponse" 
                  - $ref: "#/components/schemas/Error"
      parameters:
        - "$ref": "#/components/parameters/GroupId"
        - "$ref": "#/components/parameters/AppId"

  "/groups/{groupId}/apps/{appId}/services":
    get:
      tags:
        - services
      operationId: adminListServices
      summary: List all data sources and third-party services
      description: |-
        List all [data sources](https://www.mongodb.com/docs/atlas/app-services/mongodb/) and [third-party
        services [Deprecated]](https://www.mongodb.com/docs/atlas/app-services/reference/services/).
      responses:
        "200":
          description: Successfully listed services.
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ServiceResponse"
    post:
      tags:
        - services
      operationId: adminCreateService
      summary: Create a data source or third-party service
      description: |-
        Create a [data source](https://www.mongodb.com/docs/atlas/app-services/mongodb/) or [third-party
        service [Deprecated]](https://www.mongodb.com/docs/atlas/app-services/reference/services/).
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/AtlasClusterServiceConstructor"
                - $ref: "#/components/schemas/AtlasFederatedInstance"
                - $ref: "#/components/schemas/ThirdPartyServiceConstructor"

      responses:
        "201":
          description: Successfully created.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/AtlasCluster"
                  - $ref: "#/components/schemas/AtlasFederatedInstance"
                  - $ref: "#/components/schemas/ThirdPartyService"
        "409":
          description: There is already a service with the given `name`.
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"

  "/groups/{groupId}/apps/{appId}/services/{serviceId}":
    get:
      tags:
        - services
      operationId: adminGetService
      summary: Get a data source or third-party service
      description: >-
        Get a [data source](https://www.mongodb.com/docs/atlas/app-services/mongodb/)
        or [third-party service [Deprecated]](https://www.mongodb.com/docs/atlas/app-services/reference/services/).
      responses:
        "200":
          description: Successfully retrieved.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/AtlasCluster"
                  - $ref: "#/components/schemas/AtlasFederatedInstance"
                  - $ref: "#/components/schemas/ThirdPartyService"
    delete:
      tags:
        - services
      operationId: adminDeleteService
      summary: Delete a data source or third-party service
      description: |-
        Delete a [data source](https://www.mongodb.com/docs/atlas/app-services/mongodb/)
        or [third-party service [Deprecated]](https://www.mongodb.com/docs/atlas/app-services/reference/services/).
      responses:
        "204":
          description: Successfully deleted.
    patch:
      tags:
        - services
      operationId: adminUpdateService
      summary: Update a service
      description: Update a service.
      responses:
        "200":
          description: Successfully updated.
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/ServiceId"
  "/groups/{groupId}/apps/{appId}/services/{datasourceId}/commands/validate_documents":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/DatasourceId"
    post:
      tags:
        - schemas
      operationId: adminValidateDocuments
      summary: Sample & Validate Documents
      description: |-
        Query a subset of documents in a collection and validate each match against a schema.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - database_name
                - collection_name
                - from_schema
              properties:
                database_name:
                  type: string
                  description: The name of the database that contains the collection to validate.
                collection_name:
                  type: string
                  description: The name of the collection to validate.
                from_schema:
                  type: object
                  description: The EJSON schema to validate sampled documents against.
                query:
                  type: object
                  default: {}
                  description: |-
                    A [MongoDB query](https://www.mongodb.com/docs/manual/tutorial/query-documents/)
                    that matches documents in the collection. The result of running this query is the
                    sample population. Use this to narrow the sample to a subset of documents in the
                    collection.
                limit:
                  type: number
                  default: 10000
                  description: The maximum number of documents to sample.
                sort:
                  type: object
                  default: {}
                  description: |-
                    A [MongoDB sort](https://www.mongodb.com/docs/manual/reference/method/cursor.sort/) for the collection.
                    Use this to determine which end of a range query to start sampling from.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        error_code:
                          "$ref": "#/components/schemas/ValidationError"
                          description: The type of the schema validation error.
                        error_count:
                          type: number
                          description: The number of sampled documents that failed this validation.
                        field:
                          type: string
                          description: The path of the field that failed this validation.
                          examples:
                            - (root)._id
                            - (root).name
                        failed_ids:
                          type: array
                          description: A list of the `_id` values for sampled documents that failed this validation.
                          items:
                            type: string
                        failed_documents_query:
                          type: object
                          description: A MongoDB query filter that matches sampled documents that failed this validation.
                  total_processed_count:
                    type: number
                    description: The total number of documents that were sampled.
                  total_error_count:
                    type: number
                    description: The total number of documents that failed any validation.
  "/groups/{groupId}/apps/{appId}/services/{serviceId}/commands/{commandName}":
    post:
      tags:
        - services
      operationId: adminRunCommand
      summary: Run a command associated with a service
      description: |-
        Run a command associated with a
        [service](https://www.mongodb.com/docs/atlas/app-services/reference/services).
      responses:
        "200":
          description: Successfully executed.
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/ServiceId"
      - "$ref": "#/components/parameters/CommandName"
  "/groups/{groupId}/apps/{appId}/services/{serviceId}/commands/build_info":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/ServiceId"
    get:
      tags:
        - services
      operationId: getBuildInfo
      summary: Get information about the underlying Atlas mongod
      responses:
        "200":
          description: The build information was successfully retrieved.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BuildInfo"
  "/groups/{groupId}/apps/{appId}/services/{serviceId}/config":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/ServiceId"
    get:
      tags:
        - services
      operationId: adminGetServiceConfig
      summary: Get a Service Configuration
      description: |-
        Get configuration of [data
        sources](https://www.mongodb.com/docs/atlas/app-services/mongodb/)
        and [third-party services [Deprecated]](https://www.mongodb.com/docs/atlas/app-services/reference/services/).
      responses:
        "200":
          description: Successfully retrieved.
          content:
            application/json:
              schema:
                items:
                  anyOf:
                    - $ref: "#/components/schemas/AtlasCluster"
                    - $ref: "#/components/schemas/AtlasFederatedInstance"
                    - $ref: "#/components/schemas/ThirdPartyService"
    patch:
      tags:
        - services
      operationId: adminUpdateServiceConfig
      summary: Update a Service Configuration
      description: |
        Update a [Data Source](https://www.mongodb.com/docs/atlas/app-services/mongodb/) or
        [Third-Party Service [Deprecated]](https://www.mongodb.com/docs/atlas/app-services/reference/services/)
        configuration.
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/AtlasClusterServiceConfigInstance"
                - $ref: "#/components/schemas/AtlasFederatedInstance"
                - $ref: "#/components/schemas/ThirdPartyServiceConstructor"
      responses:
        "204":
          description: Successfully updated.
  "/groups/{groupId}/apps/{appId}/services/{serviceId}/rules":
    get:
      tags:
        - rules
      operationId: adminListRules
      summary: Get all rules
      description: List all [data access rules](https://www.mongodb.com/docs/atlas/app-services/rules).
      responses:
        "200":
          description: Successfully listed.
          content:
            application/json:
              schema:
                items:
                  oneOf:
                    - "$ref": "#/components/schemas/Rule"
                    - "$ref": "#/components/schemas/ThirdPartyServiceRule"
    post:
      tags:
        - rules
      operationId: adminCreateRule
      summary: Create a rule
      description: Create a [data access rule](https://www.mongodb.com/docs/atlas/app-services/rules).
      requestBody:
        required: true
        description: The rule to create.
        content:
          application/json:
            schema:
              oneOf:
                - "$ref": "#/components/schemas/Rule"
                - "$ref": "#/components/schemas/ThirdPartyServiceRule"
      responses:
        "201":
          description: Successfully created.
          content:
            application/json:
              schema:
                properties:
                  _id:
                    type: string
                  name:
                    type: string
        "409":
          description: There is already a rule with the given `name`.
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/ServiceId"
  "/groups/{groupId}/apps/{appId}/services/{serviceId}/rules/{ruleId}":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/ServiceId"
      - "$ref": "#/components/parameters/RuleId"
    get:
      tags:
        - rules
      operationId: adminGetRule
      summary: Get a rule
      description: Get a specific [data access rule](https://www.mongodb.com/docs/atlas/app-services/rules).
      responses:
        "200":
          description: Successfully retrieved.
          content:
            application/json:
              schema:
                oneOf:
                  - "$ref": "#/components/schemas/Rule"
                  - "$ref": "#/components/schemas/ThirdPartyServiceRule"
    delete:
      tags:
        - rules
      operationId: adminDeleteRule
      summary: Delete a rule
      description: Delete a [data access rule](https://www.mongodb.com/docs/atlas/app-services/rules).
      responses:
        "204":
          description: Successfully deleted.
    put:
      tags:
        - rules
      operationId: adminUpdateRule
      summary: Update a rule
      description: Update a [data access rule](https://www.mongodb.com/docs/atlas/app-services/rules).
      requestBody:
        required: true
        description: The new state of the rule.
        content:
          application/json:
            schema:
              oneOf:
                - "$ref": "#/components/schemas/Rule"
                - "$ref": "#/components/schemas/ThirdPartyServiceRule"
      responses:
        "200":
          description: Successfully updated.
  "/groups/{groupId}/apps/{appId}/services/{serviceId}/default_rule":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/ServiceId"
    get:
      tags:
        - rules
      operationId: adminGetDefaultRule
      summary: Get default roles and filters
      description: Get the current [default roles and filters](https://www.mongodb.com/docs/atlas/app-services/rules/#default-rules).
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DefaultRule"
        "404":
          description: No default rule is defined.
          content:
            application/json:
              schema:
                allOf:
                  - "$ref": "#/components/schemas/BasicError"
                  - properties:
                      error:
                        enum:
                          - "default rule does not exist on service"
    post:
      tags:
        - rules
      operationId: adminCreateDefaultRule
      summary: Create default roles and filters
      description: Create [default roles and filters](https://www.mongodb.com/docs/atlas/app-services/rules/#default-rules) for a data source.
      requestBody:
        required: true
        description: A default rule configuration object.
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/DefaultRuleConstructor"
      responses:
        "201":
          description: Created default rule.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DefaultRule"
        "400":
          description: Default rule already exists.
          content:
            application/json:
              schema:
                allOf:
                  - "$ref": "#/components/schemas/BasicError"
                  - properties:
                      error:
                        enum:
                          - "default rule already exists"
    put:
      tags:
        - rules
      operationId: adminUpdateDefaultRule
      summary: Update default roles and filters
      description: Modify the [default roles and filters](https://www.mongodb.com/docs/atlas/app-services/rules/#default-rules) of a data source.
      requestBody:
        required: true
        description: The updated default rule configuration object.
        content:
          application/json:
            schema:
              allOf:
                - "$ref": "#/components/schemas/DefaultRule"
                - required: ["_id"]
      responses:
        "204":
          description: Successfully modified the default rule.
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                allOf:
                  - "$ref": "#/components/schemas/BasicError"
                  - properties:
                      error:
                        enum:
                          - "default rule does not exist"
                          - "service default rule id mismatch"
    delete:
      tags:
        - rules
      operationId: adminDeleteDefaultRule
      summary: Delete default roles and filters
      description: Delete the [default roles and filters](https://www.mongodb.com/docs/atlas/app-services/rules/#default-rules) of a data source.
      responses:
        "204":
          description: Deleted the default rule.
        "404":
          description: Default rule does not exist.
          content:
            application/json:
              schema:
                allOf:
                  - "$ref": "#/components/schemas/BasicError"
                  - properties:
                      error:
                        enum:
                          - "default rule does not exist for app service"
  "/groups/{groupId}/apps/{appId}/services/{serviceId}/commands/generate_schema":
    post:
      tags:
        - services
      operationId: adminGenerateSchema
      summary: Generate a JSON schema from sample
      description: Sample a subset of documents in a collection to generate a JSON schema.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - database_name
                - collection_name
                - limit
              properties:
                database_name:
                  type: string
                  description: The name of the database that contains the collection.
                collection_name:
                  type: string
                  description:
                    The name of the collection to sample and generate a
                    schema for.
                limit:
                  type: integer
                  description: The maximum number of documents to include in the sample.
      responses:
        "200":
          description: Successfully generated schema
          content:
            application/json:
              schema:
                type: object
                properties:
                  schema:
                    type: object
                    description: The generated JSON schema
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/ServiceId"
  "/groups/{groupId}/apps/{appId}/services/{serviceId}/incoming_webhooks":
    get:
      tags:
        - webhooks
      operationId: adminListWebhooks
      summary: List webhooks
      description: List webhooks.
      responses:
        "200":
          description: Successfully listed incoming webhooks.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/IncomingWebhook"
    post:
      tags:
        - webhooks
      operationId: adminCreateWebhook
      summary: Create a webhook
      description: Create a webhook.
      requestBody:
        description: The webhook to create.
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/IncomingWebhook"
      responses:
        "201":
          description: Successfully created.
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/ServiceId"
  "/groups/{groupId}/apps/{appId}/services/{serviceId}/incoming_webhooks/{incomingWebhookId}":
    get:
      tags:
        - webhooks
      operationId: adminGetWebhook
      summary: Retrieve a webhook
      description: Retrieve a webhook.
      responses:
        "200":
          description: Successfully retrieved.
    delete:
      tags:
        - webhooks
      operationId: adminDeleteWebhook
      summary: Delete a webhook
      description: Delete a webhook.
      responses:
        "204":
          description: Successfully deleted.
    put:
      tags:
        - webhooks
      operationId: adminUpdateWebhook
      summary: Update a webhook
      description: Update a webhook.
      requestBody:
        required: true
        description: The updated state of the webhook.
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/IncomingWebhook"
      responses:
        "200":
          description: Successfully updated.
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/ServiceId"
      - "$ref": "#/components/parameters/IncomingWebhookId"
  "/groups/{groupId}/apps/{appId}/service/{serviceId}/config":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/ServiceId"
    get:
      tags:
        - sync
      operationId: adminGetFlexSync
      summary: Get Flexible Sync information
      description: |-
        Retrieve sync data for a specific Atlas App Services App when using
        [Flexible Sync](https://www.mongodb.com/docs/atlas/app-services/sync/get-started/).
      responses:
        "200":
          description: Successfully retrieved.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SyncDataResponse"
  "/groups/{groupId}/apps/{appId}/sync/data":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
    get:
      tags:
        - sync
      operationId: adminGetSync
      summary: Get Partition-Based Sync information
      description: |-
        Retrieve partition field data when using 
        [Partition-Based Sync](https://www.mongodb.com/docs/atlas/app-services/reference/partition-based-sync).
      responses:
        "200":
          description: Successfully retrieved.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PbsSyncResponse"
      parameters:
        - in: query
          name: service_id
          required: true
          schema:
            type: string
          description: The Service ID for the linked cluster.
  "/groups/{groupId}/apps/{appId}/push/notifications":
    get:
      tags:
        - notifications
      operationId: adminListNotifications
      summary: List push notifications
      description: |-
        List [push notifications](https://www.mongodb.com/docs/atlas/app-services/reference/push-notifications).
      parameters:
        - name: state
          in: query
          description: Only list notifications with the given state.
          required: false
          schema:
            "$ref": "#/components/schemas/MessageState"
      responses:
        "200":
          description: Successfully listed.
          content:
            application/json:
              schema:
                items:
                  "$ref": "#/components/schemas/Message"
    post:
      tags:
        - notifications
      operationId: adminCreateNotification
      summary: Create a push notification
      description: |-
        Create a [push
        notification](https://www.mongodb.com/docs/atlas/app-services/reference/push-notifications).
      requestBody:
        required: true
        description: The notification to create.
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/NewMessage"
      responses:
        "201":
          description: Successfully created.
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"

  "/groups/{groupId}/apps/{appId}/pull":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
    get:
      tags:
        - apps
      operationId: adminPullAppConfiguration
      summary: Pull App Configuration Files
      description: |
        Download the current App configuration. You can choose to
        download in two different formats:

        - A compressed zip file that contains the configuration file
          directory. This is most useful when you're working with the
          CLI, a version control system, or another environment based on
          the file system.

        - A single JSON object that contains the entire configuration.
          This is most useful when you're working with the API or
          another environment that can parse JSON.

        You specify which format to download by setting the `Accept`
        header.
      responses:
        200:
          description: Pull successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PushPullAppConfig"
            application/zip:
              schema:
                type: string
                format: binary
                description: A zip file containing the App configuration file directory
        400:
          description: Invalid request
        500:
          description: Error pulling configuration

  "/groups/{groupId}/apps/{appId}/push":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
    patch:
      tags:
        - apps
      operationId: adminPushAppConfiguration
      summary: Push App Configuration Files
      description: |
        Upload a new full App configuration. This operation overwrites
        the entire existing App configuration.

        **Note:** If your App configuration includes any references to a
        Secret, you must [create the
        Secret](#operation/adminCreateASecret) before you push the
        configuration.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PushPullAppConfig"
      responses:
        204:
          description: Push successful
        400:
          description: Invalid request
        500:
          description: Error pulling configuration

  "/groups/{groupId}/apps/{appId}/push/notifications/{messageId}":
    get:
      tags:
        - notifications
      operationId: adminGetMessage
      summary: Retrieve a push notification message
      description: |-
        Retrieve a [push
        notification](https://www.mongodb.com/docs/atlas/app-services/reference/push-notifications)
        message.
      responses:
        "200":
          description: Successfully retrieved.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Message"
    delete:
      tags:
        - notifications
      operationId: adminDeleteMessage
      summary: Delete a push notification message
      description: |-
        Delete a [push
        notification](https://www.mongodb.com/docs/atlas/app-services/reference/push-notifications)
        message.
      responses:
        "204":
          description: Successfully deleted.
    put:
      tags:
        - notifications
      operationId: adminUpdateMessage
      summary: Update a push notification
      description: |-
        Update a [push
        notification](https://www.mongodb.com/docs/atlas/app-services/reference/push-notifications)
        message.
      responses:
        "200":
          description: Successfully updated.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Message"
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/MessageId"
  "/groups/{groupId}/apps/{appId}/push/notifications/{messageId}/type":
    put:
      tags:
        - notifications
      operationId: adminSetMessageType
      summary: Set a push notification's type
      description: |-
        Set a [push
        notification's](https://www.mongodb.com/docs/atlas/app-services/reference/push-notifications)
        type.
      responses:
        "200":
          description: Successfully set.
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/MessageId"
  "/groups/{groupId}/apps/{appId}/push/notifications/{messageId}/send":
    post:
      tags:
        - notifications
      operationId: adminSendMessage
      summary: Send a push notification
      description: |-
        Send a [push
        notification](https://www.mongodb.com/docs/atlas/app-services/reference/push-notifications).
      responses:
        "200":
          description: Successfully sent.
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/MessageId"

  "/groups/{groupId}/apps/{appId}/users":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
    get:
      tags:
        - users
      operationId: adminListUsers
      summary: List users
      description: List confirmed [user accounts](https://www.mongodb.com/docs/atlas/app-services/authentication#std-label-user-accounts).
      parameters:
        - "$ref": "#/components/parameters/UsersAfter"
        - "$ref": "#/components/parameters/UsersSort"
        - "$ref": "#/components/parameters/UsersDesc"
      responses:
        "200":
          description: Successfully listed.
          content:
            application/json:
              schema:
                type: array
                maxItems: 50
                description: At most 50 results per request.
                items:
                  "$ref": "#/components/schemas/User"
    post:
      tags:
        - users
      operationId: adminCreateUser
      summary: Create a user
      description: |-
        Create a new
        [email/password](https://www.mongodb.com/docs/atlas/app-services/authentication/email-password/)
        user account.

        *Note:* You cannot create user accounts through the Admin API
        for any authentication provider other than email/password.
      requestBody:
        required: true
        description: The user to create
        content:
          application/json:
            schema:
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - password
      responses:
        "201":
          description: Successfully created.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/User"

  "/groups/{groupId}/apps/{appId}/users/verify_token":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
    post:
      tags:
        - users
      operationId: adminVerifyUserAccessToken
      summary: Verify & decode an access token
      description: |-
        Verify a that a user's client access token is valid.
      requestBody:
        required: true
        description: |-
          The user's client access token. The access token represents a logged in application user. This is not the same as the
          [``access_token``](https://www.mongodb.com/docs/atlas/app-services/admin/api/v3/#section/Get-Authentication-Tokens)
          that you use to work with the Admin API.
        content:
          application/json:
            schema:
              properties:
                token:
                  type: string
              required:
                - token
      responses:
        "200":
          description: Token is valid or expired.
          content:
            application/json:
              schema:
                oneOf:
                  - type: string
                    const: "token expired"
                    description: The token is valid but has expired.
                  - type: object
                    description: The token is valid and is not expired.
                    properties:
                      sub:
                        type: string
                        description: User ID.
                      aud:
                        type: string
                        description: |-
                          Specifies which Resource Servers the JWT is valid for. Omitted
                          if empty.
                      exp:
                        type: integer
                        description: The Unix timestamp when the JWT expires.
                      iat:
                        type: integer
                        description: The Unix timestamp when the JWT was issued.
                      iss:
                        type: string
                        description: The issuer of the JWT.
                      custom_user_data:
                        type: object
                        description: |-
                          Contains [custom user
                          data](https://www.mongodb.com/docs/atlas/app-services/users/custom-metadata/#custom-user-data)
                          if it exists for the user. Only present if the access token is created
                          after custom user data is enabled and configured. Omitted if empty.
                      domain_id:
                        type: string
                      data:
                        type: string
                        description:
                          "Optional: any metadata stored with the token. Omitted
                          if empty."
                      device_id:
                        type: string
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        "401":
          description: Invalid Session
          content:
            application/json:
              schema:
                allOf:
                  - "$ref": "#/components/schemas/Error"
                  - properties:
                      error:
                        const: "invalid session"
                      error_code:
                        const: "InvalidSession"
  "/groups/{groupId}/apps/{appId}/users/{userId}":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/UserId"
    get:
      tags:
        - users
      operationId: adminGetUser
      summary: Get a User
      description: Get a specific [user account](https://www.mongodb.com/docs/atlas/app-services/authentication) by ID.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/User"
    delete:
      tags:
        - users
      operationId: adminDeleteUser
      summary: Delete a user
      description: Delete a specific [user account](https://www.mongodb.com/docs/atlas/app-services/authentication) by ID.
      responses:
        "204":
          description: Deleted

  "/groups/{groupId}/apps/{appId}/users/{userId}/reset_email":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/UserId"
    patch:
      tags:
        - users
      operationId: adminResetUserEmail
      summary: Change a user's email
      description: Change the email address for an [email/password user](https://www.mongodb.com/docs/atlas/app-services/authentication/email-password/) by ID.
      requestBody:
        required: true
        description: The new email address for the user.
        content:
          application/json:
            schema:
              properties:
                email:
                  type: string
                  description: The new email for the user.
              required:
                - email
            example: { "email": "new_email@example.com" }
      responses:
        "204":
          description: No Content
        "400":
          description: |-
            - Payload is formatted incorrectly.
            - The email in the payload is not a string.
            - The email in payload has 0 or greater than 128 characters.
            - The user does not have a local-userpass identity.
        "404":
          description: The appId, groupId, or userId is invalid.

  "/groups/{groupId}/apps/{appId}/users/{userId}/devices":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/UserId"
    get:
      tags:
        - users
      operationId: adminListDevices
      summary: List a user's devices
      responses:
        "200":
          description: Successfully listed.
          content:
            application/json:
              schema:
                items:
                  type: object

  "/groups/{groupId}/apps/{appId}/users/{userId}/logout":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/UserId"
    put:
      tags:
        - users
      operationId: adminUserLogout
      summary: Revoke user sessions
      description: |-
        Revoke all of a [user](https://www.mongodb.com/docs/atlas/app-services/authentication)'s
        sessions.
      responses:
        "204":
          description: Successfully revoked.

  "/groups/{groupId}/apps/{appId}/users/{userId}/enable":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/UserId"
    put:
      tags:
        - users
      operationId: adminEnableUser
      summary: Enable a user
      description: Enable a [user](https://www.mongodb.com/docs/atlas/app-services/authentication).
      responses:
        "204":
          description: Successfully enabled.

  "/groups/{groupId}/apps/{appId}/users/{userId}/disable":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/UserId"
    put:
      tags:
        - users
      operationId: adminDisableUser
      summary: Disable a user
      description: Disable a [user](https://www.mongodb.com/docs/atlas/app-services/authentication).
      responses:
        "204":
          description: Successfully disabled.

  "/groups/{groupId}/apps/{appId}/user_registrations/pending_users":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - in: query
        name: after
        required: false
        schema:
          type: string
        description: |-
          The unique ``_id`` for a pending user. ``List pending users`` can return 50
          pending users at a time. To view additional results, find the ``_id`` of the
          last pending user listed in the previous call to ``list pending users``. Call
          ``list pending users`` again, passing the ``_id`` to the after parameter.

    get:
      tags:
        - users
      operationId: adminListPendingUsers
      summary: List pending users
      description: List pending user account registrations. Returns up to 50 pending users in a call.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  required:
                    - _id
                    - domain_id
                    - login_ids
                  properties:
                    _id:
                      type: string
                      description: The unique pending user account ID
                    user_id:
                      type: string
                    domain_id:
                      type: string
                    login_ids:
                      type: array
                      description: A list of identities associated with the pending user
                      items:
                        required:
                          - id_type
                          - id
                        properties:
                          id_type:
                            type: string
                            enum:
                              - email
                          id:
                            type: string
                            description: The pending user's username. For example, this is an email/password user's email address.
                example:
                  [
                    {
                      "_id": "63754f968a605a78ea6939e7",
                      "domain_id": "60c8f69864c0a72d14bb534c",
                      "login_ids":
                        [{ "id_type": "email", "id": "someone@example.com" }],
                      "user_id": "",
                    },
                    {
                      "_id": "63754fd83c001970b1e5ea66",
                      "domain_id": "60c8f69864c0a73e3e11c22b",
                      "login_ids":
                        [{ "id_type": "email", "id": "joe@example.com" }],
                      "user_id": "",
                    },
                  ]

  "/groups/{groupId}/apps/{appId}/user_registrations/by_email/{email}":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/Email"
    delete:
      tags:
        - users
      operationId: adminDeletePendingEmailPasswordUser
      summary: Delete a pending email/password authentication user
      description: Delete a pending [user](https://www.mongodb.com/docs/atlas/app-services/authentication).
      responses:
        "204":
          description: Successfully deleted.

  "/groups/{groupId}/apps/{appId}/user_registrations/by_email/{email}/send_confirm":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/Email"
    post:
      tags:
        - email
      operationId: adminSendConfirmationEmail
      summary: Send a confirmation email
      description: |-
        Send a [confirmation
        email](https://www.mongodb.com/docs/atlas/app-services/authentication/email-password/).
      responses:
        "200":
          description: Successfully sent.

  "/groups/{groupId}/apps/{appId}/user_registrations/by_email/{email}/confirm":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/Email"
    post:
      tags:
        - email
      operationId: adminConfirmPendingUser
      summary: Confirm a pending user
      description: Confirm a pending [user](https://www.mongodb.com/docs/atlas/app-services/authentication).
      responses:
        "204":
          description: Successfully confirmed.

  "/groups/{groupId}/apps/{appId}/user_registrations/by_email/{email}/run_confirm":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/Email"
    post:
      tags:
        - email
      operationId: adminRerunPendingUserConfirmation
      summary: Rerun a user confirmation workflow
      description: |-
        Reruns a pending user's [confirmation workflow](https://www.mongodb.com/docs/atlas/app-services/authentication).
      responses:
        "202":
          description: Successfully re-ran confirmation workflow.
        "400":
          description: |-
            User is already confirmed or Email/Password authentication is not
            enabled.
        "404":
          description: User does not exist.

  "/groups/{groupId}/apps/{appId}/debug/execute_function":
    post:
      tags:
        - functions
      operationId: adminExecuteFunction
      summary: Execute a function
      description: Execute a [function](https://www.mongodb.com/docs/atlas/app-services/functions/) for testing.
      parameters:
        - name: user_id
          in: query
          description: |-
            The user as which to execute the function. Either `user_id` or
            `run_as_system` is required. You cannot specify both.
          schema:
            type: string
          required: true
        - name: run_as_system
          in: query
          description: |-
            Determine whether or not to run as system user. Either `run_as_system`
            or `user_id` is required. You cannot specify both.
          schema:
            type: boolean
          required: true
      requestBody:
        required: true
        description: The function to execute.
        content:
          application/json:
            schema:
              properties:
                service:
                  type: string
                  description: The service to use when calling this function.
                name:
                  type: string
                  description: The name of the function you want to run.
                arguments:
                  type: array
                  description: Any arguments that your function needs.
                  items:
                    type: string
              required:
                - name
      responses:
        "200":
          description: Successfully executed.
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: object
                  logs: {}
                  result:
                    type: object
                  stats:
                    properties:
                      execution_time:
                        type: string
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
  "/groups/{groupId}/apps/{appId}/debug/execute_function_source":
    post:
      tags:
        - functions
      operationId: adminExecuteFunctionSource
      summary: Execute a function's source code for testing
      description: |-
        Execute a [function](https://www.mongodb.com/docs/atlas/app-services/functions/)'s source code
        for testing.
      parameters:
        - name: user_id
          in: query
          description: |-
            The user as which to execute the function. Either `user_id` or
            `run_as_system` is required. You cannot specify both.
          schema:
            type: string
          required: true
        - name: run_as_system
          in: query
          description: |-
            Determine whether or not to run as system user. Either `run_as_system`
            or `user_id` is required. You cannot specify both.
          schema:
            type: boolean
          required: true
      requestBody:
        required: true
        description: The source to execute.
        content:
          application/json:
            schema:
              properties:
                eval_source:
                  type: string
                  description: |-
                    This JSON expression must evaluate to `true` before the function may
                    run. If this field is blank, it will evaluate to `true`.
                source:
                  type: string
              required:
                - source
      responses:
        "200":
          description: Successfully executed.
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: object
                  logs: {}
                  result:
                    type: object
                  stats:
                    properties:
                      execution_time:
                        type: string
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"

  "/groups/{groupId}/apps/{appId}/auth_providers":
    get:
      tags:
        - authproviders
      operationId: adminListAuthProviders
      summary: List authentication providers in a Atlas App Services App
      description: |-
        List [authentication providers](https://www.mongodb.com/docs/atlas/app-services/authentication/)
        within a Atlas App Services App.
      responses:
        "200":
          description: Successfully listed.
          content:
            application/json:
              schema:
                items:
                  "$ref": "#/components/schemas/BaseAuthProvider"
    post:
      tags:
        - authproviders
      operationId: adminCreateAuthProvider
      summary: Create an authentication provider
      description: |-
        Create an [authentication provider](https://www.mongodb.com/docs/atlas/app-services/authentication/).
      requestBody:
        required: true
        description: ""
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AuthProviderConstructor"
      responses:
        "201":
          description: Successfully created.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthProvider"
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
  "/groups/{groupId}/apps/{appId}/auth_providers/{providerId}":
    get:
      tags:
        - authproviders
      operationId: adminGetAuthProvider
      summary: Retrieve information about authentication provider
      description: |-
        Retrieve information about one of an application's [authentication
        providers](https://www.mongodb.com/docs/atlas/app-services/authentication/).
      responses:
        "200":
          description: Successfully retrieved.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthProvider"
    delete:
      tags:
        - authproviders
      operationId: adminDeleteAuthProvider
      summary: Delete an authentication provider
      description: |-
        Delete an [authentication provider](https://www.mongodb.com/docs/atlas/app-services/authentication/).
      responses:
        "204":
          description: Successfully deleted.
    patch:
      tags:
        - authproviders
      operationId: adminUpdateAuthProvider
      summary: Update an authentication provider
      description: |-
        Update an [authentication provider](https://www.mongodb.com/docs/atlas/app-services/authentication/).
      requestBody:
        required: true
        description: ""
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AuthProviderConstructor"
      responses:
        "204":
          description: Successfully updated.
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/ProviderId"
  "/groups/{groupId}/apps/{appId}/auth_providers/{providerId}/disable":
    put:
      tags:
        - authproviders
      operationId: adminDisableAuthProvider
      summary: Disable an authentication provider
      description: |-
        Disable an [authentication provider](https://www.mongodb.com/docs/atlas/app-services/authentication/).
      responses:
        "204":
          description: Successfully disabled.
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/ProviderId"
  "/groups/{groupId}/apps/{appId}/auth_providers/{providerId}/enable":
    put:
      tags:
        - authproviders
      operationId: adminEnableAuthProvider
      summary: Enable an authentication provider
      description: |-
        Enable an [authentication provider](https://www.mongodb.com/docs/atlas/app-services/authentication/).
      responses:
        "204":
          description: Successfully enabled.
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/ProviderId"
  "/groups/{groupId}/apps/{appId}/security/allowed_request_origins":
    get:
      tags:
        - security
      operationId: adminListAllowedRequestOrigins
      summary: List allowed HTTP origins
      description: |-
        List the allowed [HTTP
        origins](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Origin)
        from which App Services should allow requests.
      responses:
        "200":
          description: Successfully listed.
          content:
            application/json:
              schema:
                items:
                  type: string
    post:
      tags:
        - security
      operationId: adminSetAllowedRequestOrigins
      summary: Set allowed HTTP origins
      description: |-
        Set the allowed [HTTP
        origins](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Origin)
        from which App Services should allow requests.
      requestBody:
        required: true
        description: A list of HTTP origins.
        content:
          application/json:
            schema:
              items:
                description: An HTTP origin. Must be of the form `<scheme>://<host>[:port]`.
                type: string
      responses:
        "204":
          description: The allowed HTTP origins were successfully set.
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
  "/groups/{groupId}/apps/{appId}/security/access_list":
    get:
      tags:
        - security
      operationId: allowedIPAccessListGet
      summary: List the allowed entries in the Access List
      description: List the allowed entries in the Access List of your Atlas App Services App.
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                items:
                  properties:
                    current_ip:
                      type: string
                    allowed_ips:
                      type: array
                      items:
                        type: object
                        properties:
                          _id:
                            type: string
                            format: ObjectID
                            description: ObjectID
                          address:
                            type: string
                          ip:
                            type: string
                            format: net.IP
                            description: net.IP
                          network:
                            type: string
                            format: net.IPNet
                            description: net.IPNet
                          comment:
                            type: string
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
    post:
      tags:
        - security
      operationId: allowedIPAccessListCreate
      summary: Create an IP address or CIDR block in the Access List
      description: |-
        Create an IP address or CIDR block in the Access List for your App Services
        app.
      requestBody:
        description: The IP Access List entry to create.
        required: true
        content:
          application/json:
            schema:
              properties:
                address:
                  type: string
                  description: The value of the IP address or CIDR block.
                comment:
                  type: string
                  description: An optional comment included in the Access List entry.
              required:
                - address
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  _id:
                    type: string
                    format: ObjectID
                    description: ObjectID
                  address:
                    type: string
                  ip:
                    type: string
                    format: net.IP
                    description: net.IP
                  network:
                    type: string
                    format: net.IPNet
                    description: net.IPNet
                  comment:
                    type: string
  "/groups/{groupId}/apps/{appId}/security/access_list/{ipId}":
    patch:
      tags:
        - security
      operationId: allowedIPAccessListUpdate
      summary: Modify an IP address or CIDR block in the Access List
      description: |-
        Modify an IP address or CIDR block in the Access List of your App Services
        app
      requestBody:
        description: The updated value of the IP Access List entry.
        required: true
        content:
          application/json:
            schema:
              properties:
                address:
                  type: string
                  description: The modified value of the IP address or CIDR block.
                comment:
                  type: string
                  description: An optional comment included in the Access List entry.
              required:
                - address
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  _id:
                    type: string
                    format: ObjectID
                    description: ObjectID
                  address:
                    type: string
                  ip:
                    type: string
                    format: net.IP
                    description: net.IP
                  network:
                    type: string
                    format: net.IPNet
                    description: net.IPNet
                  comment:
                    type: string
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - name: ipId
        in: path
        description: |-
          The IP address entry denoted by `ip_id` with the information given in
          the request body
        schema:
          type: string
        required: true
    delete:
      tags:
        - security
      operationId: allowedIPAccessListDelete
      summary: Delete an IP address or CIDR block from the Access List
      description: |-
        Delete an IP address or CIDR block from the Access List of your App Services
        app
      responses:
        "204":
          description: Deleted
        "404":
          description: No IP addresses or CIDR blocks to delete
  "/groups/{groupId}/apps/{appId}/security/private_endpoints":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
    get:
      operationId: adminGetPrivateEndpoints
      tags:
        - security
      summary: List VPC Private Endpoints
      description: |
        Get a list of all private endpoints configured for the App.
      responses:
        200:
          description: Successfully listed endpoints.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PrivateEndpoint"
        404:
          description: Not Found
    post:
      operationId: adminCreatePrivateEndpoint
      tags:
        - security
      summary: Create a VPC Private Endpoint
      description: |
        Configure a new private endpoint for the App.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateEndpointCreate"
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateEndpoint"
        400:
          description: |-
           - Bad Request
           - VPC endpoint id (cloud_provider_endpoint_id) is invalid
           - Endpoint type is "legacy"

  "/groups/{groupId}/apps/{appId}/security/private_endpoints/{privateEndpointId}":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
      - "$ref": "#/components/parameters/PrivateEndpointId"
    get:
      operationId: adminGetPrivateEndpoint
      tags:
        - security
      summary: Get a VPC Private Endpoint
      description: |
        Get a specific private endpoint configuration.
      responses:
        200:
          description: Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateEndpoint"
        404:
          description: Not Found
    put:
      operationId: adminUpdatePrivateEndpoint
      tags:
        - security
      summary: Modify a VPC Private Endpoint
      description: |
        Update the configuration of a private endpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateEndpointCreate"
      responses:
        200:
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateEndpoint"
        400:
          description: |-
            - VPC endpoint id (cloud_provider_endpoint_id) is invalid
            - Attempted to change endpoint type
        404:
          description: Not Found

    delete:
      operationId: adminDeletePrivateEndpoint
      tags:
        - security
      summary: Delete a VPC Private Endpoint
      description: |
        Delete a private endpoint.
      responses:
        204:
          description: Deleted
        404:
          description: Not Found
  "/groups/{groupId}/apps/{appId}/security/private_endpoint_service_infos":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
    get:
      operationId: adminListPrivateEndpointServices
      tags:
        - security
      summary: List VPC Private Endpoint Services
      description: |
        Get a list of all private endpoint services configured for the App.
      responses:
        200:
          description: Successfully listed services.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PrivateEndpointServiceInfo"

  "/groups/{groupId}/apps/{appId}/security/allow_non_vpc_client_requests":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
    post:
      operationId: allowNonVpcClientRequests
      tags:
        - security
      summary: Toggle Non-VPC Requests
      description: |
        For Apps with Private Endpoints enabled, toggle whether or not the App processes requests that originate from outside of the VPC.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: 
                allow_non_vpc_client_requests:
                  type: boolean
                  description: |
                    Set to `true` to allow non-VPC requests.
                    Set to `false` to restrict non-VPC requests.
      responses:
        204:
          description: |
            Successfully enabled/disabled non-VPC access.

  "/groups/{groupId}/apps/{appId}/security/refresh_token_expiration":
    parameters:
      - "$ref": "#/components/parameters/GroupId"
      - "$ref": "#/components/parameters/AppId"
    get:
      tags:
        - security
      operationId: adminGetRefreshTokenExpiration
      summary: Get User Refresh Token Expiration Time
      description: |-
        Get the current expiration time in seconds for user session refresh tokens.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefreshTokenExpiration"
        "404":
          description: Group or App Not Found
    put:
      tags:
        - security
      operationId: adminSetRefreshTokenExpiration
      summary: Set User Refresh Token Expiration Time
      description: |-
        Set the expiration time in seconds for user session refresh tokens.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshTokenExpiration"
      responses:
        "204":
          description: Expiration time updated
        "400":
          description: Invalid expiration time
        "404":
          description: Group or App Not Found
  "/groups/{groupId}/apps/{appId}/metrics":
    get:
      tags:
        - metrics
      operationId: adminGetMetrics
      summary: Retrieve App Services metrics
      description: |-
        Retrieves a variety of metrics, including: Compute Time, Data Transfer,
        Sync Minutes, Requests Succeeded, Requests Failed. For a complete list
        of available metrics, see [App
        Services Metrics Reference](https://mongodb.com/docs/atlas/app-services/reference/metrics).
      parameters:
        - "$ref": "#/components/parameters/GroupId"
        - "$ref": "#/components/parameters/AppId"
        - name: start
          in: query
          description: |-
            The ISO-8601 date and time of the start of the query period (e.g. "2022-10-27T14:01:01Z").
          schema:
            type: string
          required: true
        - name: end
          in: query
          description: |-
            The ISO-8601 date and time of the end of the query period (e.g. "2022-12-27T14:01:01Z").
          schema:
            type: string
          required: true
        - name: granularity
          in: query
          description: |-
            Specifies the granularity of the query period as an
            [ISO-8601 duration value](https://en.wikipedia.org/wiki/ISO_8601#Durations). Examples
            include "P31D" (31 day), "PT1H" (1 hour), and "PT5M" (5 minutes).
          schema:
            type: string
          required: true
        - name: metrics
          in: query
          schema:
            type: string
            enum:
              - ACTIVE_OPEN_SYNC_SESSIONS
              - AUTH_EGRESS_BYTES
              - AUTH_FAILED_REQUESTS
              - AUTH_RESPONSE_MS
              - AUTH_SUCCESSFUL_LOGIN
              - AUTH_SUCCESSFUL_REQUESTS
              - AUTH_TOTAL_USERS
              - ENDPOINTS_COMPUTE_MS
              - ENDPOINTS_EGRESS_BYTES
              - ENDPOINTS_FAILED_REQUEST
              - ENDPOINTS_RESPONSE_MS
              - ENDPOINTS_SUCCESSFUL_REQUESTS
              - GRAPHQL_RESPONSE_MS
              - GRAPHQL_COMPUTE_MS
              - GRAPHQL_EGRESS_BYTES
              - GRAPHQL_FAILED_REQUESTS
              - GRAPHQL_SUCCESSFUL_REQUESTS
              - LF_RESPONSE_MS
              - OVERALL_COMPUTE_MS
              - OVERALL_EGRESS_BYTES
              - OVERALL_FAILED_REQUESTS
              - OVERALL_SUCCESSFUL_REQUESTS
              - OVERALL_SYNC_MINUTES
              - SDK_COMPUTE_MS
              - SDK_EGRESS_BYTES
              - SDK_FAILED_REQUESTS
              - SDK_FNS_RESPONSE_MS
              - SDK_MQL_COMPUTE_MS
              - SDK_MQL_EGRESS_BYTES
              - SDK_MQL_FAILED_REQUESTS
              - SDK_MQL_RESPONSE_MS
              - SDK_MQL_SUCCESSFUL_REQUESTS
              - SDK_SUCCESSFUL_REQUESTS
              - SYNC_CLIENT_BOOTSTRAP_MS
              - SYNC_CLIENT_UPLOADS_INVALID
[...]
