/* minor css to change nth child properties in browsers without support for :nth-child(n of [selector]) */

.collapsible {
  border-top: 1px solid #e8edeb;
  margin-top: 32px;
}

.collapsible ~ .collapsible {
   border-top: none;
   margin-top: 0;
}