@use '@/styles/global-theme.scss' as theme;

.desktopContainerStyles {
  display: flex;
  flex-direction: column;
  gap: var(--via-space-300);

  @media #{theme.$screenSize-upToLarge} {
    display: none;
  }
}

.mobileContainerStyles {
  @media #{theme.$screenSize-largeAndUp} {
    display: none;
  }
}

.collapsible {
  border-top: 1px solid var(--via-color-border-secondary);
  border-bottom: 1px solid var(--via-color-border-secondary);
  padding: var(--via-space-100) 0;
  margin-bottom: var(--via-space-600);
}

.header {
  display: flex;
  align-items: center;
  gap: var(--via-space-050);
  height: 32px;
}

.icon {
  display: inline-flex;
  transition: transform var(--via-duration-default) ease-in-out;

  [aria-expanded='true'] & {
    transform: rotate(90deg);
  }
}

.listContainer {
  overflow: hidden;
  height: 0;

  [aria-expanded='true'] & {
    height: auto;
  }
}

.list {
  list-style-type: none;
  padding: 0;

  // Keep inline code in the "On this page" list on the surrounding color.
  & > code {
    font-family: 'Source Code Pro';
    color: unset;
  }
}

.mobileList {
  color: var(--via-color-text-secondary);
  margin: 0;

  > li {
    margin: var(--via-space-150) 0 var(--via-space-150) var(--via-space-300);
  }
}
