@use '@/styles/global-theme.scss' as theme;

.formContainer {
  @media #{theme.$screenSize-tablet} {
    z-index: 1;
  }
}

.form {
  position: absolute;
  right: 0;
  margin-top: var(--via-space-100);

  @media #{theme.$screenSize-upToLarge} {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
  }
}

.contentsList {
  overflow: auto;
  height: 80%;
}
