registry=https://registry.npmjs.org/
@mdb:registry=https://mongodb-271346171620.d.codeartifact.us-east-1.amazonaws.com/npm/npm-local/
//mongodb-271346171620.d.codeartifact.us-east-1.amazonaws.com/npm/npm-local/:_authToken=${NPM_AWS_AUTH}
//mongodb-271346171620.d.codeartifact.us-east-1.amazonaws.com/npm/npm-local/:always-auth=true
# Ensures npm doesn't throw error about conflicting versions of React for LG components
legacy-peer-deps=true
# Blocks installing package versions published less than this many days ago, to reduce
# exposure to newly-published/compromised packages
min-release-age=7