# .editorconfig - Define coding conventions in C# projects
root = true


[*.cs]
indent_style = space
indent_size = 4
charset = utf-8

# C# specific conventions
dotnet_sort_system_directives_first = true
dotnet_style_prefer_auto_properties = true:error
dotnet_style_require_accessibility_modifiers = for_non_interface_members:warning
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_switch_expression = true:error
