# Ignore Visual Studio temporary files, cache files, and output folders
.vscode/
.vscode/launch.json
.vscode/tasks.json
.vscode-test.db.*

*.vscodefolderlogin

#  IDE (Visual Studio, JetBrains Rider.)
NSUser Solution
.idea

# Ignore build files
*/bin
*/obj

# Exclude user-specific settings files (.DotSettings.user)
*.DotSettings.user
*.DotSettings.user.*

# Secrets and keys ****DO NOT COMMIT SECRETS***
.env
