{% if theme_project != 'about' %}
  <h3>
    <a href="{{ pathto('index') }}">{{ shorttitle }}</a><br />
    <div class="idxcontents">
      (<a href="{{ pathto('genindex') }}">{{ _('Index') }}</a> &bull;
      <a href="{{ pathto(master_doc) }}">{{ _('Contents') }}</a>)
    </div>
  </h3>
{% elif theme_project == 'about' %}
  <h3>
    <a href="{{ pathto('index') }}">About MongoDB</a>
  </h3>
{% endif %}

{% if theme_project == 'manual' %}
  <h4 id="vnd">Version: <span id="vn">{{version}}</span></h4>
{% endif %}

{{ toctree(maxdepth=-1,titles_only=1) }}
