{% if theme_project != 'about' %}
  <h3>
    <a href="{{ pathto('index') }}">{{ shorttitle }}</a>{% if theme_project == 'manual' %} <span id="vn">{{version}}</span>{% endif %}
  </h3>
{% elif theme_project == 'about' %}
  <h3>
    <a href="{{ pathto('index') }}">About MongoDB</a>
  </h3>
{% endif %}

{% if theme_project != 'about' %}
<div class="site-contents"><a href="{{ pathto(master_doc) }}">{{ _('Contents') }}</a></div>
{% endif %}

{{ toctree( titles_only=1) }}

{% if theme_project == 'manual' %}
<div class="site-index"><a href="{{ pathto('genindex') }}">{{ _('Index') }}</a></div>
{% endif %}
