// Handles concentric circles on hover
.playButtonWrapper {
  border: var(--via-space-200) solid transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 var(--via-space-200) transparent;
  transition:
    box-shadow var(--via-duration-default),
    background-color var(--via-duration-default);

  &:hover {
    background-color: rgb(from var(--via-color-neutral-300) r g b / 0.67);
    box-shadow: 0 0 0 var(--via-space-200) rgb(from var(--via-color-neutral-600) r g b / 0.5);

    .playButton {
      border: none;
      background-color: var(--via-color-neutral-900);
      box-shadow: none;
      color: var(--via-color-neutral-000);
    }
  }
}

.playButton {
  color: var(--via-color-neutral-000);
  background-color: var(--via-color-neutral-900);
  border: var(--via-border-width-025) solid var(--via-color-neutral-100);
  border-radius: 50%;
  min-block-size: 80px;
  min-inline-size: 80px;
}
