<?xml version="1.0"?>
<ruleset>
    <arg name="basepath" value="." />
    <arg name="extensions" value="php" />
    <arg name="parallel" value="80" />
    <arg name="cache" value=".phpcs-cache" />
    <arg name="colors" />

    <!-- Ignore warnings (n), show progress of the run (p), and show sniff names (s) -->
    <arg value="nps"/>

    <file>source</file>

    <!-- Target minimum supported PHP version -->
    <config name="php_version" value="80100"/>

    <!-- ****************************************** -->
    <!-- Import rules from doctrine/coding-standard -->
    <!-- ****************************************** -->
    <rule ref="Doctrine">
        <!-- ******************************************** -->
        <!-- Exclude sniffs we simply don't want for docs -->
        <!-- ******************************************** -->
        <exclude name="PSR1.Classes.ClassDeclaration.MissingNamespace" />
        <exclude name="SlevomatCodingStandard.Namespaces.ReferenceUsedNamesOnly" />
        <exclude name="Squiz.NamingConventions.ValidVariableName.MemberNotCamelCaps" />
        <!-- Results in false positives with comments used to denote include blocks -->
        <exclude name="SlevomatCodingStandard.ControlStructures.BlockControlStructureSpacing.IncorrectLinesCountAfterControlStructure" />
        <exclude name="Squiz.Classes.ClassFileName.NoMatch" />
        <!-- Results in false positives with comments used to denote include blocks before functions -->
        <exclude name="Squiz.Commenting.FunctionComment.WrongStyle" />
        <!-- Results in false positives with comments used to denote include blocks after functions -->
        <exclude name="Squiz.WhiteSpace.FunctionSpacing.After" />
        <!-- The following three excludes allow for more compact single-item array declarations -->
        <exclude name="Squiz.Arrays.ArrayDeclaration.IndexNoNewline" />
        <exclude name="Generic.Arrays.ArrayIndent.CloseBraceNotNewLine" />
        <exclude name="Squiz.Arrays.ArrayDeclaration.CloseBraceNewLine" />

        <!-- *********************************** -->
        <!-- Exclude sniffs that cause BC breaks -->
        <!-- *********************************** -->
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousAbstractClassNaming" />
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousExceptionNaming" />
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousInterfaceNaming" />
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousTraitNaming" />

        <!-- Can cause subtle BC breaks -->
        <exclude name="SlevomatCodingStandard.TypeHints.DeclareStrictTypes" />


        <!-- **************************************** -->
        <!-- Exclude sniffs that force unwanted style -->
        <!-- **************************************** -->
        <exclude name="Generic.Formatting.MultipleStatementAlignment" />
        <exclude name="Squiz.Commenting.FunctionComment.ThrowsNoFullStop" />
        <exclude name="SlevomatCodingStandard.TypeHints.UnionTypeHintFormat.DisallowedShortNullable" />

        <!-- Keep long typehints (for now) -->
        <exclude name="PSR12.Keywords.ShortFormTypeKeywords" />
        <exclude name="SlevomatCodingStandard.PHP.TypeCast.InvalidCastUsed" />
        <exclude name="SlevomatCodingStandard.TypeHints.LongTypeHints" />


        <!-- ************************************************ -->
        <!-- Exclude sniffs that may cause functional changes -->
        <!-- ************************************************ -->
        <exclude name="Generic.PHP.ForbiddenFunctions.FoundWithAlternative" />
        <exclude name="SlevomatCodingStandard.ControlStructures.DisallowYodaComparison" />
        <exclude name="SlevomatCodingStandard.ControlStructures.EarlyExit" />
        <exclude name="SlevomatCodingStandard.ControlStructures.UselessIfConditionWithReturn" />
        <exclude name="SlevomatCodingStandard.Functions.StaticClosure" />
        <exclude name="SlevomatCodingStandard.Functions.UnusedInheritedVariablePassedToClosure" />
        <exclude name="SlevomatCodingStandard.Operators.DisallowEqualOperators" />


        <!-- ********************************************************* -->
        <!-- Exclude sniffs that cause a huge diff - enable separately -->
        <!-- ********************************************************* -->
        <exclude name="SlevomatCodingStandard.Commenting.DocCommentSpacing.IncorrectAnnotationsGroup" />


        <!-- ********************* -->
        <!-- Exclude broken sniffs -->
        <!-- ********************* -->

        <!-- Sniff currently broken when casting arrays, see https://github.com/squizlabs/PHP_CodeSniffer/issues/2937#issuecomment-615498860 -->
        <exclude name="Squiz.Arrays.ArrayDeclaration.ValueNoNewline" />

        <!-- Disable forbidden annotation sniff as excluding @api from the list doesn't work -->
        <exclude name="SlevomatCodingStandard.Commenting.ForbiddenAnnotations.AnnotationForbidden" />
    </rule>


    <!-- **************************************** -->
    <!-- Enable rules not enforced by Doctrine CS -->
    <!-- **************************************** -->

    <!-- Require arrow functions where possible -->
    <rule ref="SlevomatCodingStandard.Functions.RequireArrowFunction"/>


    <!-- ****************************************************** -->
    <!-- Don't require annotations to specify traversable types -->
    <!-- ****************************************************** -->
    <rule ref="SlevomatCodingStandard.TypeHints.ParameterTypeHint">
        <exclude name="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingTraversableTypeHintSpecification" />
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.PropertyTypeHint">
        <exclude name="SlevomatCodingStandard.TypeHints.PropertyTypeHint.MissingTraversableTypeHintSpecification" />
    </rule>
    <rule ref="SlevomatCodingStandard.TypeHints.ReturnTypeHint">
        <exclude name="SlevomatCodingStandard.TypeHints.ReturnTypeHint.MissingTraversableTypeHintSpecification" />
    </rule>

    <rule ref="Generic.Files.InlineHTML.Found">
        <exclude-pattern>source/includes/aws-lambda/index.php</exclude-pattern>
    </rule>

</ruleset>
