========================
On Prem MMS Requirements
========================

.. default-domain:: mongodb

Hardware Requirements
---------------------

MMS Application Server
~~~~~~~~~~~~~~~~~~~~~~

Deploy the MMS Application Package on the MMS Application Server with
requirements according to the following table.

.. list-table::
   :header-rows: 1

   * - **Number of Monitored Hosts**
     - **CPU Cores**
     - **RAM**
   * - Up to 400 monitored hosts
     - 4+
     - 15 GB
   * - Up to 2000 monitored hosts
     - 8+
     - 15 GB
   * - More than 2000 hosts
     - Contact MongoDB Account manager
     - Contact MongoDB Account manager

These requirements support only the software components in the MMS
Application Package.  If you wish to install the MMS Application
Database on the same physical server, you will additionally need to
satisfy the storage requirements for the :ref:`MMS Application
Database <requirements-database>`.

Additionally, this server **must** have the ulimits configured as follows
in ``/etc/security/limits.conf``:

.. code-block:: javascript

   mongodb-mms        soft   nofile           64000
   mongodb-mms        hard   nofile           64000
   mongodb-mms        soft   nproc            32000
   mongodb-mms        hard   nproc            32000

Be sure to check for a ``/etc/security/limits.d/90-nproc.conf`` file
that may override the configured limits.

.. _requirements-database:

MMS Application Database Servers
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Please see :doc:`/management/tutorial/prepare-backing-mongodb-instances`
for requirements for the MMS Application Database Servers.

.. _backup-hardware-requirements:

Optional: MMS Backup Daemon Server
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

This server is required only if you are installing and running MMS Backup.

.. list-table::
   :header-rows: 1
   :widths: 20, 12, 8, 15, 15

   * - **Number of Hosts**
     - **CPU Cores**
     - **RAM**
     - **Storage Capacity**
     - **Storage IOPS/s**
   * - Up to 200 hosts
     - 4+ 2Ghz+
     - 15 GB
     - Contact MongoDB Account manager
     - Contact MongoDB Account manager

A server running the Daemon package will act as a hidden secondary for every
replica set assigned to it. 4 x 2ghz+ CPU cores and 16GB of RAM will be
adequate for most loads generated by this activity.

Since it will not deal with read traffic, a server running a Backup Daemon will
typically be able to handle more replica sets then a server with production
traffic.

Disk size limits the number of backups assigned to a daemon. The server running
this package needs enough disk to hold a full copy of every database it backs
up. It also needs enough write I/O throughput to apply oplogs to each backup.

For example, imagine a sharded cluster with four 200GB shards. Looking at a
secondary for each one of the shards it appears the disk averages 15MB/sec of
write traffic. A Backup Daemon assigned these four shards would need at least
800GB of disk space, to handle growth, and that disk partition
would need to be able to write more than 60MB/sec.

Point in time restore capability requires enough space to reconstruct a
snapshot of a backup on the daemon. In the example above, a point in time
restore of this cluster would required another 800GB of temporary space on the
daemon during the restore. Snapshot restores do not require additional disk
space.

Before installing MMS Backup we recommend contacting your MongoDB Account
Manager for assistance in estimating the storage requirements for your Backup
Daemon server.

Additionally, this server **must** have the ulimits configured as follows
in ``/etc/security/limits.conf``:

.. code-block:: none

   mongodb-mms        soft   nofile           64000
   mongodb-mms        hard   nofile           64000
   mongodb-mms        soft   nproc            32000
   mongodb-mms        hard   nproc            32000

Be sure to check for a ``/etc/security/limits.d/90-nproc.conf`` file
that may override the configured limits.

Optional: MMS Backup Blockstore Database Servers
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

These servers are required only if you are installing and running MMS Backup.

Please see
:doc:`/management/tutorial/prepare-backing-mongodb-instances` for
requirements for the MMS Application Database servers.

Software Requirements
---------------------

Operating System
~~~~~~~~~~~~~~~~

MMS supports the following 64-bit Linux distributions:

- CentOS 5 or later,

- Red Hat Enterprise Linux 5, or later,

- SUSE 11 or Later,

- Amazon Linux AMI (latest version only,)

- Ubuntu 12.04 or later.

MongoDB
~~~~~~~

The MongoDB databases backing MMS must be MongoDB 2.4.9 or later. The
MongoDB replica sets and sharded clusters to be backed up must be running
MongoDB 2.4.3 or later.

Web Browsers
~~~~~~~~~~~~

|mms| supports clients using the following browsers:

- Chrome 8 and greater.

- Firefox 12 and greater.

- IE 9 and greater.

- Safari 6 and greater.

The MMS application will display a warning on non-supported browsers.

SMTP
~~~~

MMS requires email for fundamental server functionality such as
password reset and alerts.

Many Linux server-oriented distributions include a local SMTP server by
default, for example, Postfix, Exim, or Sendmail. You also may configure
MMS to send mail via third party providers, including Gmail and Sendgrid.

SNMP
~~~~

If your environment includes SNMP, you can configure an SMNP trap receiver
with periodic heartbeat traps to monitor the internal health of MMS.

For more details, see :ref:`Configure SNMP Heartbeat Support
<snmp-heartbeat-configure>`.
