# MongoDB replica set connection URI
export MONGODB_URI="<Your MongoDB Connection URI>"

# MongoDB Automatic Encryption Shared Library 
export SHARED_LIB_PATH="<Full path to your Automatic Encryption Shared Library>"

# AWS Credentials

export AWS_ACCESS_KEY_ID="<Your AWS access key ID>"
export AWS_SECRET_ACCESS_KEY="<Your AWS secret access key>"
export AWS_KEY_REGION="<Your AWS key region>"
export AWS_KEY_ARN="<Your AWS key ARN>"

# Azure Credentials

export AZURE_TENANT_ID="<Your Azure tenant ID>"
export AZURE_CLIENT_ID="<Your Azure client ID>"
export AZURE_CLIENT_SECRET="<Your Azure client secret>"
export AZURE_KEY_NAME="<Your Azure key name>"
export AZURE_KEY_VERSION="<Your Azure key version>"
export AZURE_KEY_VAULT_ENDPOINT="<Your Azure key vault endpoint>"

# GCP Credentials

export GCP_EMAIL="<Your GCP email>"
export GCP_PRIVATE_KEY="<Your GCP private key>"

export GCP_PROJECT_ID="<Your GCP project id>"
export GCP_LOCATION="<Your GCP KMS location>"
export GCP_KEY_RING="<Your GCP key ring>"
export GCP_KEY_NAME="<Your GCP key name>"
export GCP_KEY_VERSION="<Your GCP key version>"

# KMIP Credentials 

export KMIP_KMS_ENDPOINT="<Endpoint for your KMIP KMS>"
export KMIP_TLS_CA_ECDSA_FILE="<Full path to your KMIP certificate authority file>"
export KMIP_TLS_CERT_ECDSA_FILE="<Full path to your client certificate file>"
