@use '@/styles/global-theme.scss' as theme;

.container {
  column-gap: theme.$size-default;
  display: flex;
  justify-content: space-between;
  margin-top: 88px;
  padding-bottom: 2.5em;
  width: 100%;

  @media #{theme.$screenSize-upToSmall} {
    flex-direction: column-reverse;
    margin-top: 66px;
    row-gap: 64px;
  }

  @media print {
    display: none;
  }

  a {
    text-decoration: none;
  }
}

.prev {
  margin-right: auto;
}

.next {
  margin-left: auto;
}
