.link {
  display: inline-flex;
}

.arrow {
  color: var(--via-color-icon-primary);
  display: flex;
  flex-shrink: 0;
  margin-top: var(--via-space-050);
}

.direction {
  color: var(--via-color-text-primary);
  font-weight: 500;
}

.row {
  align-items: flex-start;
  gap: var(--via-space-100);
  display: flex;
}

.row-next {
  flex-direction: row-reverse;
}

.row-prev {
  flex-direction: row;
}

.text-next {
  text-align: end;
}

.text-prev {
  text-align: start;
}
