<!DOCTYPE html>
<html>
<head>
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <nav class="top-navigation">
    <img src="/images/mongodb-logo.svg" class="top-navigation__brand" alt="MongoDB Logo" />

    <div class="top-navigation__external-links">
      <span>Documentation</span>
    </div>

    <a href="#" class="top-navigation__link">Home</a>
    <a href="#" class="top-navigation__link">Server</a>
    <a href="#" class="top-navigation__link">Drivers</a>
    <a href="#" class="top-navigation__link">Cloud</a>
    <a href="#" class="top-navigation__link">Tools</a>
    <a href="#" class="top-navigation__link top-navigation__link--active">Tutorials</a>

    <div class="top-navigation__download">
      <a href="#">Download MongoDB</a>
      <img src="/images/download-icon.svg" alt="Download Icon" />
    </div>
  </nav>
