@use "@/styles/global-theme.scss" as theme;

.headerBuffer {
  display: inline;
  margin-top: -(theme.$header-navbar-scroll-offset);
  position: absolute;
  // Add a bit of padding to help headings be more accurately set as "active" on FF and Safari
  padding-bottom: var(--via-space-050);
}
