.field {
  font-size: var(--via-font-size-large);

  > th,
  > td {
    padding: var(--via-space-300) var(--via-space-100) var(--via-space-300);
    text-align: left;
    vertical-align: baseline;
  }
}
