.blue {
  background-color: var(--via-color-background-accent-blue);
}

.green {
  background-color: var(--via-color-background-accent-green);
}

.red {
  background-color: var(--via-color-background-accent-red);
}

.yellow {
  background-color: var(--via-color-background-accent-yellow);
}
