@use "@/styles/global-theme.scss" as theme;

.introduction {
  :global(.button) {
    margin: 0 var(--via-space-400) var(--via-space-400) 0;
    min-height: var(--via-space-800);
  }

  :global(.button) + p {
    display: inline-block;
  }

  @media #{theme.$screenSize-upToMedium} {
    margin-bottom: var(--via-space-400);

    :global(.button) {
      margin-bottom: 0px;
      margin-right: 0px;
    }

    :global(.button) + p {
      display: block;
      margin-top: var(--via-space-400);
      margin-bottom: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}
