@use '@/styles/global-theme.scss' as theme;

.kicker {
  grid-column: 2;
  margin: var(--via-space-1200) 0 0;
  color: var(--via-color-text-secondary);

  @media #{theme.$screenSize-upToSmall} {
    padding-top: var(--via-space-1400);
  }

  @media #{theme.$screenSize-upToXSmall} {
    padding-top: var(--via-space-800);
  }
}
