.listItem {
  &::marker {
    color: var(--via-color-text-primary);
  }
}

.listItemContent {
  margin-bottom: var(--via-space-200);

  // Some MDX ListItem children come through with a p tag, some don't.
  // This prevents margin-bottom on the first paragraph in the list item
  // as the listItem itself will have the margin.
  & > p {
    margin-bottom: 0;
  }
}
