@use '@/styles/global-theme.scss' as theme;

.heading {
  position: absolute;
  align-self: center;
  padding: 0 var(--via-space-200);
  visibility: hidden;
}

.copied {
  visibility: visible !important;
}

.icon {
  vertical-align: middle;
  margin-top: calc(-1 * var(--via-space-050));
  color: var(--via-color-text-secondary);
}

.tooltip {
  padding: var(--via-space-050) var(--via-space-200);
  font-size: var(--via-font-size-small);
}

.tooltipText {
  color: inherit;
}

.headerBuffer {
  display: inline;
  left: 0;
  top: 0;
  margin-top: -#{theme.$header-navbar-scroll-offset};
  position: absolute;
  // Add a bit of padding to help headings be more accurately set as "active" on FF and Safari
  padding-bottom: var(--via-space-050);
}

.headerBufferComposable {
  display: inline;
  left: 0;
  top: 0;
  margin-top: calc(-1 * (theme.$header-composable-desktop-height + theme.$header-navbar-scroll-offset));
  position: absolute;
  padding-bottom: var(--via-space-050);

  @media #{theme.$screenSize-upToMedium} {
    margin-top: calc(-1 * (theme.$header-composable-mobile-height + theme.$header-navbar-scroll-offset));
  }
}
