*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
mongodb-realm
*.realm
*.realm.lock
*.management
/shared/tmp/
/shared/bundled.realm
/shared/original.realm
/shared/*.lock
