build/*
*.swp
.#*
\#*#
*__pycache__*
*.pyc
docs/index.html
*.pid
*~
buildbot/gh.log
buildbot/nohup.out
docs.10gen.cc/build/
docs.10gen.cc/build/logo.png
docs.10gen.cc/logo.png
docs.10gen.cc/mongodb-logo*
TAGS
jira/build/
