@use "@/styles/global-theme.scss" as theme;
@use "@/components/templates/document.module.scss" as documentTemplate;
@use "@/components/templates/main-column.module.scss" as mainColumn;
@use "@/styles/mixins.module.scss" as mixins;

.action-bar {
  display: flex;
  height: 60px;
  padding-top: theme.$size-small;
  padding-bottom: theme.$size-small;
  position: sticky;
  top: 0;
  z-index: theme.$zindex-action-bar;
  background-color: var(--background-color-primary);
  border-bottom: 1px solid var(--border-color);
  align-content: center;

  --border-color: var(--gray-light2);

  :global(.dark-theme) & {
    --border-color: var(--gray-dark2);
  }

  @media #{theme.$screenSize-mediumAndUp} {
    & > div {
      flex: 0 1 auto;
    }
  }

  @media #{theme.$screenSize-upToMedium} {
    justify-content: space-between;
    padding-right: 0;
  }
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  background: inherit;

  @media #{theme.$screenSize-mediumAndUp} {
    padding-right: theme.$size-default;
  }

  @media #{theme.$screenSize-upToLarge} {
    max-width: unset;
    justify-content: space-between;
    width: 100%;
  }
}

.standard-content-styling {
  padding-left: max(
    calc(((100% - (#{documentTemplate.$max-content-value})) / 2) + #{mainColumn.$main-column-horizontal-margin}),
    #{mainColumn.$main-column-horizontal-margin}
  );

  @media #{theme.$screenSize-3XLargeAndUp} {
    padding-left: max(
      calc(((100% - (#{documentTemplate.$max-content-value-large-screen})) / 2) + #{mainColumn.$main-column-horizontal-margin}),
      #{mainColumn.$main-column-horizontal-margin}
    );
  }

  @media #{theme.$screenSize-upToLarge} {
    padding-left: theme.$size-medium;
  }
}

.grid-styling {
  display: grid;
  grid-template-columns: minmax(#{mainColumn.$main-column-horizontal-margin}, 1fr) repeat(2, minmax(0, 600px)) minmax(
      #{mainColumn.$main-column-horizontal-margin},
      1fr
    );

  @media #{theme.$screenSize-upToLarge} {
    grid-template-columns: theme.$size-medium 1fr fit-content(100%);
  }
}

.landing-grid-styling {
  display: grid;
  
  @media #{theme.$screenSize-upToLarge} {
    grid-template-columns: theme.$size-medium 1fr fit-content(100%);
  }
  
  // Include landing grid styles from shared mixin
  @include mixins.landing-grid-template;
}

.flex-styling {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
  padding-left: #{mainColumn.$main-column-horizontal-margin};
  
  @media #{theme.$screenSize-upToLarge} {
    padding-left: theme.$size-medium;
  }
}

.middle-alignment {
  display: grid;
  grid-template-columns: minmax(#{mainColumn.$main-column-horizontal-margin}, 1fr) repeat(12, minmax(0, 1fr)) minmax(#{mainColumn.$main-column-horizontal-margin}, 1fr);

  @media #{theme.$screenSize-upToLarge} {
    grid-template-columns: theme.$size-medium repeat(12, 1fr) theme.$size-medium;
  }

  @media #{theme.$screenSize-upToMedium} {
    grid-template-columns: repeat(12, 1fr);
  }
}

.left-in-grid {
  grid-column: 2/-2;

  @media #{theme.$screenSize-upToLarge} {
    grid-column: 2/-3;
    padding-right: 0;
  }
  @media #{theme.$screenSize-largeAndUp} {
    grid-column: 2/-8;
  }
  @media #{theme.$screenSize-xLargeAndUp} {
    grid-column: 2/-7;
  }
}

.center-in-grid {
  grid-column: 6/-5;

  @media #{theme.$screenSize-upToXLarge} {
    grid-column: 4/-6;
  }

  @media #{theme.$screenSize-upToLarge} {
    grid-column: 3/-8;
  }
  @media #{theme.$screenSize-upToMedium} {
    grid-column: 3/-2;
  }
}