.layout {
  display: grid;
  grid-template-areas:
    'header header'
    'sidenav contents'
    'auto footer';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  overflow: clip;
}

.content-container {
  grid-area: contents;
  margin: 0px;
}

.hiddenDirective {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}