# Note: this must be manually copied, sphinx does not process it
ErrorDocument 401 /manual/meta/401.html
ErrorDocument 403 /manual/meta/403.html
ErrorDocument 404 /manual/meta/404.html
ErrorDocument 410 /manual/meta/410.html
