MONGODB_URI=mongodb+srv://<user>:<password>@<host>
DB_ENV=dev
CONTENTSTACK_API_KEY=some-api-key
CONTENTSTACK_DELIVERY_TOKEN=some-token
CONTENTSTACK_ENVIRONMENT=dev
SNOOTY_DB_NAME=snooty_dotcomprd
JIRA_USERNAME=johndoe
JIRA_PASSWORD=password
SLACK_QUOKKA_OAUTH_ACCESS_TOKEN=some-token

