# Snooty env
MONGODB_URI=mongodb+srv://<user>:<password>@<host>
DB_ENV=dev
SNOOTY_DB_NAME=snooty_dotcomprd
# ContentStack env
CONTENTSTACK_API_KEY=some-api-key
CONTENTSTACK_ENVIRONMENT=dev
CONTENTSTACK_DELIVERY_TOKEN=some-token
CONTENTSTACK_WEBHOOK_TOKEN=some-token
# Jira env
JIRA_USERNAME=johndoe
JIRA_PASSWORD=password
# Slack env
SLACK_QUOKKA_OAUTH_ACCESS_TOKEN=some-token
# Netlify blob env
NETLIFY_SITE_ID=site-id
NETLIFY_ACCESS_TOKEN=your-access-token
# Optional: Blob store name override
# NETLIFY_BLOB_STORE=mdx-content
