registry=https://artifactory.corp.mongodb.com/artifactory/api/npm/npm/
@mdb:registry=https://artifactory.corp.mongodb.com/artifactory/api/npm/npm/
//artifactory.corp.mongodb.com/artifactory/api/npm/npm/:_auth=${NPM_BASE_64_AUTH}
_email=${NPM_EMAIL}
_always-auth=true

# Ensures npm doesn't throw error about conflicting versions of React for LG components
legacy-peer-deps=true