@import '../colors';

.block {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &__header {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__title {
    color: $green-primary;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__body {
    color: $grey-secondary;
    font-style: italic;
    line-height: 22px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
