@import '../colors';

.block {
  margin-bottom: 20px;

  &__header {
    margin-bottom: 10px;
  }

  &__title {
    color: $green-primary;
    margin-bottom: 5px;
  }

  &__body {
    color: $grey-secondary;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 10px;
  }
}
