@import '../colors';

.block {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &__header {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__title {
    color: $green-primary;

    &--only {
      margin-bottom: 10px;
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  
  &__link {
    text-decoration: none;
    color: $green-primary;
  }

  &__body {
    color: $grey-secondary;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 10px;
    /* Above is needed because logic below is applied on each item now that
     * body is wrapped within link so each item is the last <a><h4></h4><p></p></a>
     * need to remove on the last one */

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
