@import '../colors';

.card {
  border-radius: 3px;
  box-shadow: 0 2px 10px 1px $primary-shadow;
  display: inline-block;
  height: 188px;
  margin: 15px;
  padding: 25px;
  position: relative;
  vertical-align: top;
  width: 378px;

  &__icon {
    left: 28px;
    position: absolute;
    top: 28px;

    &--document {
      background-image: url('../images/icon-document.png');
      height: 21px;
      width: 17px;
    }

    &--bookmark {
      background-image: url('../images/icon-bookmark.png');
      height: 20px;
      width: 16px;
    }

    &--code {
      background-image: url('../images/icon-code.png');
      height: 15px;
      left: 26px;
      top: 29px;
      width: 23px;
    }

    &--download {
      background-image: url('../images/icon-download.png');
      height: 22px;
      width: 20px;
    }
  }

  &__title {
    color: $green-primary;
    margin-bottom: 10px;
    margin-left: 40px;
  }

  &__body {
    line-height: 26px;
    margin-left: 40px;
  }
}
