@import '../colors';

.list {
  border: 1px solid $light-grey-primary;
  list-style: none;
  margin: 30px 0;

  &__item {
    cursor: pointer;
    font-family: Akzidenz;
    font-size: 20px;
    padding: 20px;
    position: relative;
    user-select: none;

    &:not(:first-child) {
      border-top: 1px solid $light-grey-primary;
    }

    // arrow
    &::before {
      border-radius: 1px;
      border-right: 3px solid $grey-primary;
      border-top: 3px solid $grey-primary;
      content: '';
      height: 13px;
      position: absolute;
      top: 23px;
      transform: rotate(45deg);
      transition: transform .2s ease-in-out;
      width: 13px;
    }

    &__title {
      margin-left: 35px;
    }

    &__body {
      padding: 20px 35px 0;
    }

    // TODO: This doesn't work and I have no idea why
    &--open {
      &:before {
        transform: rotate(135deg);
      }
    }
  }
}
