@import '../colors';

$navbar-height: 85px;
$sidebar-width: 330px;

.main {
  display: flex;

  &__sidebar {
    border-right: 1px solid $light-grey-primary;
    bottom: 0;
    overflow: scroll;
    position: fixed;
    top: $navbar-height;
    width: $sidebar-width;

    // TODO: this should be its own component
    &__header {
      font-family: Akzidenz;
      font-weight: bold;
      padding: 20px;
    }
  }

  &__content {
    flex: 1;
    margin-left: $sidebar-width;
    margin-top: $navbar-height;
    max-width: 900px; // TODO: Check with Melissa
    padding: 40px;
    overflow-x: scroll;
  }
}
