@import '../colors';

.toc {
  list-style: none;

  &__item {
    border-top: 1px solid $light-grey-primary;
  }

  &__item:last-child {
    border-bottom: 1px solid $light-grey-primary;
  }

  &__link {
    box-sizing: border-box;
    color: $black-primary;
    cursor: pointer;
    display: inline-block;
    font-family: Akzidenz;
    line-height: 20px;
    outline: none;
    padding: 15px 25px 15px 45px;
    position: relative;
    text-decoration: none;
    user-select: none;
    width: 100%;

    &::before {
      background-image: url('../images/page-icon.png');
      background-repeat: no-repeat;
      content: '';
      height: 16px;
      margin-left: -23px;
      position: absolute;
      top: 17px;
      width: 13px;
    }

    &--active {
      color: $green-primary;
      background-color: $light-grey-secondary;
      border-right: 5px solid $green-primary;

      &::before {
        background-image: url('../images/page-icon-active.png');
      }
    }

    &--nested {
      // TODO: this arrow should be made into a mixin or something
      // this overrides the page icon into an arrow
      // SHAME
      &::before {
        background-image: none;
        border-radius: 1px;
        border-right: 3px solid $grey-primary;
        border-top: 3px solid $grey-primary;
        box-sizing: border-box;
        height: 13px;
        transform: rotate(45deg);
        transition: transform .2s ease-in-out;
        width: 13px;
      }
    }

    &--no-icon {
      &::before {
        background-image: none;
      }
    }

    &--open {
      &::before {
        transform: rotate(135deg);
      }
    }
  }

  &__nestedlist {
    list-style: none;
    padding-bottom: 10px;

    // SHAME
    .toc__link:before {
      top: 7px;
    }

    // nested items have no border
    // SHAME
    .toc__item {
      border: 0;
    }

    // and are smaller
    // SHAME
    .toc__link {
      padding-bottom: 5px;
      padding-top: 5px;
    }

    // These 3 shames are so we can change the background-color the full-width
    // SHAME
    & > .toc__item > .toc__link {
      padding-left: 70px;
    }

    // SHAME
    & > .toc__item > & > .toc__item > .toc__link {
      padding-left: 95px;
    }

    // SHAME
    & > .toc__item > & > .toc__item > & .toc__item > .toc__link {
      padding-left: 120px;
    }
  }
}
