@import 'colors';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: $black-primary;
  font-family: Akzidenz;
  font-size: 40px;
  font-weight: normal;
  line-height: 47px;
  margin-top: 20px;
}

h2 {
  color: $black-primary;
  font-family: Akzidenz;
  font-size: 30px;
  font-weight: normal;
  line-height: 47px;
  margin-bottom: 10px;
  margin-top: 20px;
}

h3 {
  color: $black-primary;
  font-family: Akzidenz;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 10px;
}

h4 {
  color: $black-primary;
  font-family: Akzidenz;
  font-size: 20px;
  font-weight: regular;
  line-height: 24px;
  margin-bottom: 10px;
}

// Label
h5 {
  color: $black-primary;
  font-family: Akzidenz;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  margin-bottom: 10px;
}

p {
  color: $black-primary;
  font-family: Akzidenz;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 30px;

  // TODO: I don't think this works
  + ul,
  ol {
    margin-bottom: 10px;
  }
}

button {
  outline: none; // remove blue outline of focus
}

a {
  color: $green-primary;
  transition-duration: .4s;

  &:hover {
    color: $green-secondary;
    transition-duration: .4s;
  }
}
