@import 'colors';
@import 'constants';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
}

h1 {
  color: $black-primary;
  font-family: Akzidenz;
  font-size: 40px;
  font-weight: normal;
  line-height: 47px;
  margin-top: 20px;
}

h2 {
  color: $black-primary;
  font-family: Akzidenz;
  font-size: 30px;
  font-weight: normal;
  line-height: 47px;
  margin-bottom: 10px;
  margin-top: 20px;
}

h3 {
  color: $black-primary;
  font-family: Akzidenz;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 10px;
}

h4 {
  color: $black-primary;
  font-family: Akzidenz;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  margin-bottom: 10px;
}

h1:before,
h2:before,
h3:before,
h4:before {
  content: '';
  display: block;
  height: $navbar-height;
  margin-top: -$navbar-height;
  position: relative;
  width: 0;
}

// Label
h5 {
  color: $black-primary;
  font-family: Akzidenz;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  margin-bottom: 10px;
}

p {
  color: $black-primary;
  font-family: Akzidenz;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 30px;
}

button {
  outline: none; // remove blue outline of focus
}

a {
  color: $green-primary;
  transition-duration: .4s;

  &:hover {
    color: $green-secondary;
    transition-duration: .4s;
  }
}


// SHAME
// this is some crazy CSS to make docs' google search work on the tutorial
// site, this can be removed after we use lunar everywhere
// hide inputbox
.gsc-input-box {
  border: 0 !important;
}

// hide seach button
.gsc-search-button {
  display: none !important;
}

// hide X
.gsib_b {
  display: none !important;
}

// make the search results on top and in the right place
.gssb_c {
  z-index: 10000 !important;
  left: 330px !important;
  top: $navbar-height !important;
}

.gsc-input input.gsc-input.navbar-search {
  background-color: $light-grey-secondary !important;
  background-image: url('../images/icon-search.png') !important;
  background-position: 14px 14px !important;
  background-repeat: no-repeat !important;
  background-size: 18px 18px !important;
  border: 0 !important;
  font-size: 16px !important;
  outline: none !important;
  padding: 10px 10px 10px 43px !important;
  height: 46px !important;
  position: absolute;
  top: 0;
  left: 665px;
  right: 0;

  // TODO: Figure out how to animate this
  &:focus {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
