$white-primary: #fff;
$black-primary: #424950;

$grey-primary: #b3bbc1;
$grey-secondary: #616161;

$light-grey-primary: #e0e7e8;
$light-grey-secondary: #f5f6f7;

$green-primary: #69b241;
$green-secondary: #3c6626;

$light-blue-primary: #edf4f7;
$light-blue-secondary: #bcced4;

$primary-shadow: rgba(0, 0, 0, .1);

// pygments colors
$pygment-01: #efc;
$pygment-02: #ffc;
$pygment-03: #408090;
$pygment-04: #f00;
$pygment-05: #007020;
$pygment-06: #666;
$pygment-07: #fff0f0;
$pygment-08: #a00000;
$pygment-09: #000080;
$pygment-10: #00a000;
$pygment-11: #333;
$pygment-12: #c65d09;
$pygment-13: #800080;
$pygment-14: #04d;
$pygment-15: #902000;
$pygment-16: #208050;
$pygment-17: #4070a0;
$pygment-18: #0e84b5;
$pygment-19: #60add5;
$pygment-20: #555;
$pygment-21: #d55537;
$pygment-22: #06287e;
$pygment-23: #002070;
$pygment-24: #062873;
$pygment-25: #bb60d5;
$pygment-26: #bbb;
$pygment-27: #70a0d0;
$pygment-28: #235388;
$pygment-29: #517918;
