@import 'colors';
@import 'font-awesome';

$deluge-green: #7bc552;
$border-color: #ddd;
$red-primary: #c85757; // hsluv(12.2, 49.1, 51.6)
$red-hover: #8f3c3c; // hsluv(12.2, 49.1, 36.7)

$green-hover: #4f872f;

// copied from doc-tools
.deluge {
  background-color: $deluge-green;
  background-image: radial-gradient(circle at 47% 65%, $deluge-green, $green-primary);
  border-radius: 4px 4px 0 0;
  bottom: 0;
  color: $white-primary;
  font-family: 'Akzidenz', sans-serif;
  font-size: 14px;
  line-height: 24px;
  position: fixed;
  right: 20px;
  transition: width .3s ease;
  width: 195px;
  z-index: 100;

  .switch {
    display: inline-block;
    line-height: 25px;
    text-align: center;
    width: 25px;

    &:hover {
      cursor: pointer;
    }

    &.good.selected,
    &.good.selected:hover {
      color: $green-primary;
    }

    &.good:hover {
      color: $green-hover;
    }

    &.bad.selected,
    &.bad.selected:hover {
      color: $red-primary;
    }

    &.bad:hover {
      color: $red-hover;
    }
  }

  .rangestar {
    line-height: 25px;
    text-align: center;
    width: 15px;

    &:hover {
      cursor: pointer;
    }
  }

  textarea {
    border: 1px solid $border-color;
    font-family: inherit;
    font-size: inherit;
    height: 100px;
    line-height: 1.5em;
    width: 100%;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  p {
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  @media print {
    display: none;
  }

  @media (max-width: 660px) {
    display: none;
  }
}

.deluge-expanded {
  border-radius: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  width: 300px;
}

.deluge-body {
  align-content: space-between;
  background-color: $white-primary;
  color: $black-primary;
  height: 100%;
}

.deluge-body:empty {
  display: none;
}

.deluge-body-expanded {
  align-content: center;
  background-color: $white-primary;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 116px;
  padding: 18px;
  padding-top: 21px;
}

.deluge-header {
  font-family: 'Akzidenz', sans-serif;
  height: 44px;
  line-height: 44px;
  text-align: center;
}

.deluge-header-expanded {
  height: 48px;
}

.deluge-header:hover {
  cursor: pointer;
}

.deluge-comment-icon {
  padding-right: 5px;
}

.deluge-close-icon {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right: 12px;
  top: 6px;
}

.deluge-vote-button {
  color: $green-primary;
  display: inline-block;
  font-family: 'Akzidenz', sans-serif;
  text-align: center;
  text-decoration: underline;
  width: 50%;
}

.deluge-vote-button:hover {
  cursor: pointer;
}

.deluge-fix-button {
  color: $green-primary;
  font-family: 'Akzidenz', sans-serif;
  text-decoration: underline;
}

.deluge-fix-button:hover {
  color: $green-secondary;
  cursor: pointer;
}

.deluge-button-group {
  display: flex;

  button {
    background-color: $white-primary;
    border: solid 1px $border-color;
    border-radius: 3px;
    flex-grow: 1;
    font-family: "Akzidenz",sans-serif;
    font-size: 12px;
    height: 26px;
  }
}

.deluge-questions {
  font-size: 12px;
}
