@import 'bem-components/navbar';
@import 'bem-components/navbar-brand';
@import 'bem-components/navbar-seperator';
@import 'bem-components/navbar-dropdown';
@import 'bem-components/navbar-links';
@import 'bem-components/navbar-download';
@import 'bem-components/navbar-search';

@import 'bem-components/menu';
@import 'bem-components/submenu';

@import 'constants';

// SHAME
// this is some crazy CSS to make docs' google search work on the tutorial
// site, this can be removed after we use lunar everywhere
// hide inputbox
.gsc-input-box {
  border: 0 !important;
}

// hide seach button
.gsc-search-button {
  display: none !important;
}

// hide X
.gsib_b {
  display: none !important;
}

// make the search results on top and in the right place
.gssb_c {
  left: 330px !important;
  top: $navbar-height !important;
  z-index: 10000 !important;
}

.gsc-input .gsc-input.navbar-search {
  background-color: $light-grey-secondary !important;
  background-image: url('../images/icon-search.png') !important;
  background-position: 14px 14px !important;
  background-repeat: no-repeat !important;
  background-size: 18px 18px !important;
  border: 0 !important;
  font-size: 16px !important;
  height: 46px !important;
  left: 665px;
  outline: none !important;
  padding: 10px 10px 10px 43px !important;
  position: absolute;
  right: 0;
  top: 0;

  // TODO: Figure out how to animate this
  &:focus {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
