.marian-title {
  color: #15c;
  font-size: 16px;
}

.marian-preview {
  color: #333;
  font-size: 13px;
}

.marian-results-toggle {
  left: 606px;
  position: relative;
}

.marian {
  display: none;
}

.marian--shown {
  background-color: #fff;
  display: block;
}

.marian .tab-strip__element {
  width: 220px;
}

.marian-results {
  list-style: none;
  padding-left: 32px;
  margin-top: 20px;

  max-width: 650px;
  min-height: 100%;
}

.marian-result {
  margin-bottom: 20px;
}

.marian-spelling-correction:hover {
  cursor: pointer
}

.navbar-search {
  margin-left: 28px;
}

[data-project="tutorials"] .marian {
    max-width: 900px;
}
