@import 'colors';

.marian-title {
  color: #15c;
  font-size: 16px;
}

.marian-preview {
  color: #333;
  font-size: 13px;
}

.marian-results-toggle {
  left: 606px;
  position: relative;
}

.marian {
  color: $black-primary;
  display: none;
  font-family: Akzidenz,sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;

  &__heading {
    font-size: 24px;
    font-weight: 500;
    margin: 20px 0 10px;
  }

  &--shown {
    background-color: $white-primary;
    display: block;
  }

  .tab-strip__element {
    width: 220px;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.marian-results {
  list-style: none;
  margin-top: 20px;
  max-width: 650px;
  min-height: 100%;
  padding-left: 32px;
}

.marian-result {
  margin-bottom: 20px;
}

.marian-spelling-correction:hover {
  cursor: pointer;
}

.navbar-search {
  -webkit-appearance: textfield;
  margin-left: 28px;
}
