@import 'colors';

// Display and hide the appropriate tab content
.tab {
  display: none;
}

.tab-active {
  display: block;
}

.tab-strip {
  list-style: none;
  margin-left: 0 !important;
  padding-left: 0;

  // Styles for inactive & unhovered tabs
  &__element {
    background-color: #f4f6f6;
    border: .5px solid #babdbe;
    border-radius: 4px 4px 0 0;
    color: #babdbe;
    display: table-cell;
    font-weight: bold;
    padding: 5px 15px;

    // Clear the padding above the tabs
    padding-top: 0;

    text-align: center;
    vertical-align: middle;
    width: 1%;
  }

  // Styles for active tabs
  &__element[aria-selected=true],
  &__element[aria-selected=true]:focus,
  &__element[aria-selected=true]:hover {
    background-color: $white-primary;
    border: .5px solid #babdbe;
    border-bottom-color: transparent;
    color: #6ba442;
    font-weight: bold;
  }

  // White background on hover
  &__element:hover {
    background: $white-primary;
  }

  // Dropdown styles
  // Caret styling
  &__element[aria-selected=true] > .caret,
  &__element[aria-selected=true]:focus > .caret,
  &__element[aria-selected=true]:hover > .caret {
    border-bottom-color: #6ba442;
    border-top-color: #6ba442;
  }

  &__element[aria-selected=true] > .caret,
  &__element[aria-selected=true]:hover > .caret {
    border-bottom-color: #babdbe;
    border-top-color: #babdbe;
  }

  // Dropdown will always have the cursor
  .dropdown-toggle:hover {
    color: unset;
    text-decoration: none;
  }

  *[aria-selected]:hover {
    cursor: pointer;
  }

  .dropdown-toggle {
    color: unset;
    display: block;
    padding: 5px 15px;
    text-decoration: none;

    > .caret {
      border-top-color: unset;
    }
  }

  // Make dropdown list width the same as dropdown tab
  &__dropdown {
    background-color: $white-primary;
    min-width: 0;
    width: 100%;

    // White background for dropdown items
    > li {
      background-color: $white-primary;
      color: #333;
      font-weight: 400;
      padding: 3px 20px;
      text-align: left;
    }

    // Dropdown hover highlight mongo green
    > li:hover {
      background-color: #6ba442;
    }
  }
}

.dropdown-menu > li:hover {
  color: $white-primary;
}
